@charset "UTF-8";
/*******************************************************************************
  Hatena2 like
					2015/05/08 (C)nabe@abk
*******************************************************************************/
/*--------------------------------------------------------------------
■全体配置
--------------------------------------------------------------------*/
body
{
	background-color:	#6d819c;	/* $c=bg */
	color:			#000;		/* $c=fixfont */
	font-size:		12pt;
	line-height:		150%;
	padding:		0;
	margin:			0;
}
#adiary-body {
	background-color:	#fff;		/* $c=mainbg */

	width:			90%;
	min-width:		320px;
	max-width:		1024px;
	margin:			0 auto;

	border-right:		1px solid #4a5973;	/* $c=border2 */
	border-left:		1px solid #4a5973;	/* $c=border2 */
}
#hatena-body {
	margin:			0 0 1em 0;
	padding-bottom:		2em;
}
/* 記事部 */
.main {
	float:			left;
	width:			calc(100% - 236px);
	margin-right:		220px;
	margin-left:		8px;
	padding-top:		1em;
}

/* 左側にメニューを配置 */
#sidebar
{
	width:			220px;
	margin-left:		-221px;

	float:			right;
	font-size:		10pt;
	line-height:		150%;

	border-left:		1px solid #a5bce7;	/* $c=border */
	border-bottom:		1px solid #a5bce7;	/* $c=border */
}
/* フッタの配置 */
#footer
{
	background-color:	#5e7cb4;	/* $c=footerbg = bg */

	text-align:		center;
	margin:			30px 0 0 0;
	padding:		14px 1em;
	font-size:		10pt;
	line-height:		120%;
}
#hatena-body:after {
	content:		"";
	clear:			both;
	display:		block;
}
#footer, #footer a:link, #footer a:visited {
	color:			#fff;		/* $c=fixfooterfont */
	text-decoration:	none;
}
#footer a:hover {
	text-decoration:	underline;
}

/*--------------------------------------------------------------------
■ヘッダ部
--------------------------------------------------------------------*/
#header, #sp-header {
	color:			#fff;		/* $c=fixheaderfont */
	background-color:	#7697d6;	/* $c=titlebg */
}
#nav-header {
	color:			#ccc;
	background-color:	#5e7cb4;	/* $c=headerbg = bg */

	text-align:		right;
	font-size:		10pt;
	line-height:		100%;
	padding:		2px 0;
	display:		block;
	margin:			0;
}

#header a, #header a:link, #header a:visited {
	color:			#fff;		/* $c=fixheaderfont */
}
/* ○○さん */
a.welcome-name { margin: 0px 4px 0px 4px; }

h1
{
	font-size:		20pt;
	font-weight:		bold;
	line-height:		110%;
	padding:		60px 20px;
	margin:			0;
}
h1 a, h1 a:link, h1 a:visited {
	font-weight:		inherit;
	text-decoration:	inherit;
}
h1 img, h1 a img {
	border:			none;
}

/* ブログの説明 */
#head-description {
	position:		absolute;
	top:			102px;
	left:			20px;
	font-size:		10pt;
}
#head-description br {
	display:		none;
}

/*--------------------------------------------------------------------
■ドロップダウンメニュー
--------------------------------------------------------------------*/
.ddmenu {
	font-weight:		normal;
}
/* 背景色（非選択色） */
.ddmenu,
.ddmenu>ul li {
	background-color:	#7697d6;	/* $c=ddbg = titlebg */
}
/* 選択色 */
.ddmenu>ul li:hover,
.ddmenu>ul li.hover {
	background-color:	#5e7cb4;	/* $c=ddhover = bg */
}
/* 枠線 */
.ddmenu>ul li a,
.ddmenu>ul ul {
	border-color:		#aac;		/* $c=ddborder */
}
/* 文字 */
.ddmenu a:link,
.ddmenu a:visited
{
	color:			#fff;		/* $c=fixddfont */
}
/* 矢印の色 */
.ddmenu li ul li ul:before,
.ddmenu.sp li ul:before {
	border-left-color:	#338;		/* $c=ddarrow = auto:link */
}
.ddmenu:not(.sp) li:last-child:not(:first-child) ul li ul:before {
	border-left-color:	transparent;
	border-right-color:	#338;		/* $c=ddarrow */
}
/* 設定画面に矢印の色を自動取得させるための指定 */
.ddmenu {
	color:			#338;	/* $c=ddarrow */
}

/* main部に置いた場合 */
.main .ddmenu,
.main .ddmenu>ul>li,
.main .ddmenu>ul li:hover>ul>li {
	height:		20px;	/* Y */
}
/* 矢印位置の調整 */
.main .ddmenu li ul li ul:before {
	top:		5px;	/* = (Y-10)/2 */
}

.main .ddmenu {
	margin:			1em 0;
	font-size:		10pt;
	background-color:	transparent;
}
.main .ddmenu>ul li {
	background-color:	#fff;
}
.main .ddmenu a:link,
.main .ddmenu a:visited
{
	color:			inherit;
}
.main .ddmenu>ul li:hover,
.main .ddmenu>ul li.hover {
	background-color:	#e9eff8;	/* $c=ddhovermain = prebg */
}



/*--------------------------------------------------------------------
■ページ送り
--------------------------------------------------------------------*/
nav.page-nav {
	font-size:	10pt;
	line-height:	100%;
	text-align:	right;
	margin:		1em 0;
}
nav.page-nav a {
	display:	inline-block;
}
nav.page-nav a:first-child {
	margin-right:	1em;
}
nav.page-nav a:last-child {
	margin-left:	1em;
}

/*--------------------------------------------------------------------
■記事のデザイン配置（本文）
--------------------------------------------------------------------*/
/* 1つの記事 */
article {
	margin-bottom:		2em;
	padding:		4px 6px;
}

/* 記事タイトル */
article h2 {
	padding:		0 0.5em 0.2em 0;

	font-size:		130%;
	font-family:		"times new roman", "geogia", serif;
	line-height:		110%;
	margin:			0 0 10px 0;

	border-bottom:		1px solid #a5bce7;	/* $c=border */
}
article h2,
article h2 a,
article h2 a:link,
article h2 a:visited
{
	color:			#7697d6;		/* $c=h2font = titlebg */
	text-decoration:	none;
}

article h2 a.date {
	font-size:		80%;
	text-decoration:	none;
	margin-right:		1em;
}

/* 記事本文 */
article div.body {
	font-size:		90%;
	line-height:		140%;
	margin:			0;
	padding:		0;
}

/* コンテンツ記事 */
article.wiki {
	border-radius:		4px;
	background-color:	#f4f4ff;		/* $c=wikibg */
}
/* 記事ヘッダ */
div.art-info {
	text-align:		right;
	line-height:		100%;
	font-size:		90%;
	padding:		0;
	margin:			0 0.2em 0 0;
}

/* 記事中のセクション */
article section {
	margin-top: 		0.5%;
	margin-bottom:		3%;
}

/* セクションフッタ */
section footer {
	font-size:		90%;
	padding:		2px 4px;
	margin:			1.5em 1em 0 1em;

	background-color:	#e9eff8;		/* $c=footnotebg=prebg */
	border-radius:		2px;
}
/* 脚注 */
section footer p.footnote {
	margin-top:		0;
	margin-bottom:		0;
}

/* 記事フッタ */
div.body-footer {
}

/*--------------------------------------------------------------------
■sidebar内の配置設定
--------------------------------------------------------------------*/
/* sidebar の 1項目 */
div.hatena-module {
}
div.hatena-moduletitle {
	color:			#fff;		/* $c=fixmodulefont */
	font-weight:		bold;
	text-align:		center;

	padding:		3px 0.5em 3px 0.7em;
	background-color:	#a5bce7;	/* $c=sidetitlebg = border */

	margin:			0;
	padding:		2px 0 2px 0;
}
div.hatena-modulebody {
	margin:			5px;
}
div.hatena-module a {
	text-decoration:	none;
}

/* タイトル一覧など */
ul.hatena-section {
	list-style-type:	none;
	margin:			0.3em 0em 0.3em 0.3em;
	padding:		0px;
}
.hatena-module:not(.side-contents-list) ul.hatena-section li
{
	border-bottom:		1px solid #e5ebfa;	/* $c=moduleborder = auto:border */
	margin:			4px 0;
	padding-bottom:		3px;
	line-height:		130%;
}
.hatena-module:not(.side-contents-list) ul.hatena-section ul li:first-child {
	border-top:		1px solid #e5ebfa;	/* $c=moduleborder */
	padding-top:		3px;
}
.hatena-module:not(.side-contents-list) ul.hatena-section li:last-child {
	border-bottom:		none;
	padding-bottom:		0;
	margin-bottom:		0;
}
/* 2段目のリスト */
ul.hatena-section ul {
	list-style-type:	none;
	margin:			0 0 0.2em 1em;
	padding:		0px;
}

#sidebar p {
	margin-top:		0.5em;
	margin-bottom:		0.5em;
}

div.hatena-moduletitle a,
div.hatena-moduletitle a:link,
div.hatena-moduletitle a:visited {
	color:			inherit;
}

/* コンテンツリスト */
.hatena-module.side-contents-list ul.hatena-section {
	line-height:		160%;
}


/*--------------------------------------------------------------------
■リンク配色
--------------------------------------------------------------------*/
a:link		{ color: #0022cc; }	/* $c=link */
a:visited	{ color: #7888dc; }	/* $c=linkvisited */

/******************************************************************************/
/******************************************************************************/
/*--------------------------------------------------------------------
■記事ヘッダ
--------------------------------------------------------------------*/
div.art-info > span:not(:last-child) {
	margin-right:		0.5em;
}
/* タグ一覧 */
div.art-info span.tags:before {
	content:		'[';
}
div.art-info span.tags:after {
	content:		']';
}
div.art-info span.tag:not(:last-child):after {
	content:		',';
}
span.tag:not(:last-child) {
	margin-right:		0.5em;
}

/*--------------------------------------------------------------------
■記事見出し
--------------------------------------------------------------------*/
/* 見出し */
.body h3 {
	font-size:		110%;
	font-weight:		bold;

	padding:		10px 0px 8px 8px;
	border-left:		9px solid #7697D6;	/* $c=h3border = link */
}
.body h3 span.timestamp {
	font-size:		90%;
	font-weight:		normal;
}
.body h3 a {
	text-decoration:	none;
}
.body h3 a, .body h3 a:link, .body h3 a:visited {
	color:			#333;
}

/* 小見出し */
div.body h4 {
	font-size:		100%;
	font-weight:		bold;
	border-bottom:		1px dotted #a5bce7;	/* $c=border */
}
div.body h5 {
	font-size:		100%;
	font-weight:		bold;
}
/* 小見出しへのリンク */
div.body h4 a, div.body h5 a {
	font-size:		inherit;
	color:			inherit;
	text-decoration:	inherit;
}

/*--------------------------------------------------------------------
■記事内部
--------------------------------------------------------------------*/
div.body p {
	margin:			0.7em 0.5em 0.7em 0;
}

blockquote, pre, div.box {
	margin:			0.5em 2em 0.5em 2em;
	padding:		0.3em 1em 0.3em 1em;
	border:			1px solid #d2deee;	/* $c=preborder */
	border-radius:		4px;
}
div.body blockquote p {
	margin:			0.2em 0.5em 0.2em 0;
}
pre:not(.syntax-highlight) {
	background-color:	#e9eff8;		/* $c=prebg */
}

/* pre 中コメント */
pre span.comment	{ color: #c30; }			/* $c=fixstrongfont */
pre strong.comment	{ color: #c30; font-weight: bold; }	/* $c=fixstrongfont */
em {
	font-style:		normal;
	text-decoration:	none;
	color:			#c30;				/* $c=fixstrongfont */
}

/* 強調 */
article:not(.system) strong { color: #c30; }			/* $c=fixstrongfont */

dt { font-weight:	bold; }

/*--------------------------------------------------------------------
●記事：テーブル
--------------------------------------------------------------------*/
.body table,
.ui-dialog table {
	font-size:		90%;
	margin:			0.5em 1em;
	border-collapse:	collapse;
	border-spacing:		2px;
	empty-cells:		show;
}
.body blockquote table,
.body div.box table {
	margin-left:		0;
	margin-right:		0;
}
.body table tr,
.ui-dialog table tr {
	margin:			0px;
	padding:		0px;
}
.body table td,
.ui-dialog table td {
	margin:			0px;
	padding:		3px 5px;
	border:			1px solid #d2deee;	/* $c=tableborder = preborder */
}
.body table th,
.ui-dialog table th {
	font-weight:		bold;
	margin:			0px;
	padding:		3px 5px;
	border:			1px solid #d2deee;	/* $c=tableborder = preborder */
	background-color:	#e9e9f8;		/* $c=thbg = combg */
}

/******************************************************************************/
/*--------------------------------------------------------------------
■コメント欄
--------------------------------------------------------------------*/
#com {
	margin-top:		0.5em;
	padding:		1em 6px;
	font-size:		10.5pt;
	line-height:		150%;

	border:			1px solid #d2deee;	/* $c=comborder = preborder */
	border-radius:		4px;
	background-color:	#e9e9f8;		/* $c=combg */
}
#com div.caption a {
	font-weight:		bold;
	text-decoration:	none;
}
#com div.swiches {
	font-size:		10pt;
	margin:			0 0 0 2em;
	padding:		0;
}
div.comment-one {
	margin:			4px 0;
	padding:		0.5em 2px;
	background-color:	#fff;			/* $c=combg2 = mainbg */
	border-radius:		4px;
}
div.com-buttons {
	margin-top:		1em;
}
div.commentator {
	margin-bottom:		0.5em;
}
div.comment-text {
	margin-left:		2em;
}
/* 非公開コメント */
.comment-hidden {
	color:			#808;
}
/* 非表示コメント */
.comment-disable {
	color:			#800;
}
#com-form-separator {
	border:			none;
	height:			1px;
	background:		#999;
	opacity:		0.5;
	margin:			1em 0 1.5em 0;
}
#com div.ip-host-agent {
	color:			#080;
	text-align:		right;
	margin-right:		1em;
}
div.ip-host-agent {
	font-size:		9pt;
	line-height:		120%;
}

/*--------------------------------------------------------------------
●リプライのポップアップ
--------------------------------------------------------------------*/
#popup-com {
	border:			1px solid #000;
	background-color:	#ffd;
	border-radius:		4px;
	box-shadow:		2px 2px 2px 2px rgba(60,60,20,0.75);

	font-size:		10pt;
	padding:		0.5em;
}
#popup-com .ip-host-agent,
#popup-com input {
	display:		none;
}

/*--------------------------------------------------------------------
■検索ウィンドウ
--------------------------------------------------------------------*/
article.system.search div.body {
	padding-bottom:	4px;
}

/******************************************************************************/
/*--------------------------------------------------------------------
●sidebar：カレンダー
--------------------------------------------------------------------*/
#side-calendar .hatena-modulebody {
	padding:		2px 0;
}
table.calendar {
	margin:			0px auto;
	font-size:		95%;
	line-height:		100%;
	border-collapse:	collapse;
}
table.calendar td.calendar-prev-month    { text-align: left;  margin-left:  0.5em; }
table.calendar td.calendar-current-month { text-align: center; }
table.calendar td.calendar-next-month    { text-align: right; margin-right: 0.5em; }
table.calendar td {
	text-align:		right;
}
table.calendar td.calendar-weekday {
	background-color:	#DFDFDF;
}
table.calendar td.calendar-day a {
	text-decoration:	underline;
}
table.calendar tr.calendar-wdayname td {
	text-align:		center;
	border:			1px solid #d2deee;
}
table.calendar tbody td {
	padding:		1px 4px;
	border:			1px solid #d2deee;
}
/* 土曜日 */
table.calendar td.w6, table.calendar th.w6 {
	background-color: 	#D3EAF2;
}
/* 日曜日、祝日 */
table.calendar td.w0, table.calendar th.w0,
table.calendar td.holiday {
	background-color: 	#EBD9D9;
}
/* 今日 */
table.calendar td.day-today      { font-weight: bold; }
/* 選択した日付 */
table.calendar td.day-selected {
	text-decoration:	underline;
}
table.calendar td a,
table.calendar td a:link {
	text-decoration:	none;
}
/******************************************************************************/
/*--------------------------------------------------------------------
●メッセージ関連
--------------------------------------------------------------------*/
strong.warning, strong.error,
p.warning, p.error,
div.messages div.warn,
div.messages div.message {
	color:		#c30;			/* $c=fixstrongfont */
}

/*--------------------------------------------------------------------
●ボタンデザイン
--------------------------------------------------------------------*/
button
{
	color:			#000;			/* $c=fixfont */
	font-weight:		bold;
	border:			1px solid #66c;		/* $c=btnborder */
	border-radius:		6px;
	background-image:	linear-gradient(to bottom,
				#ddf,			/* $c=btnbg0  */
				#aaf);			/* $c=btnbg1 = auto:btnbg0 */
}

button:hover
{
	border-radius:		6px;
	cursor:			pointer;
	background-image:	linear-gradient(to bottom,
				#eef,			/* $c=btnbghover0 = auto:btnbg0 */
				#ccf);			/* $c=btnbghover1 = auto:btnbg0 */

}

button:disabled
{
	color:			#666;
	background-image:	none;
	background-color:	#aac;			/* $c=btndisable= auto:btnbg0 */
}

/*--------------------------------------------------------------------
●jQuery UI アイコン設定
--------------------------------------------------------------------*/
#ui-icon-autoload {
	background-color:	#7697ff;		/* $c=uiicon= auto:link */
}


/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/* ここより下は管理メニュー内でのみ使用するクラス                           */
/*		システムモードに対応しないテーマでは定義不要                */
/******************************************************************************/
/*--------------------------------------------------------------------
●システム画面
--------------------------------------------------------------------*/
.system .main {
	padding-top:		1em;
}
article.system div.body {
	background-color:	#eeeeff;		/* $c=sysartbg */
}
article.system {
	background-color:	#eeeeff;		/* $c=sysartbg */
	margin:			1em 0;
	padding:		1em;
	border:			1px solid #2133a9;	/* $c=sysborder */
	border-radius:		6px;
}
article.system h2 {
	color:			#000;
}
/*--------------------------------------------------------------------
●フォームの一般設定
--------------------------------------------------------------------*/
ul.checkbox {
	list-style-type:	none;
}
article.system th {
	background-color:	#ccf;			/* $c=sysbg  */
}
article.system td {
	background-color:	#f8f8ff;		/* $c=systd = auto:sysbg */
}

/* エラー */
th.error, td.error {
	background-color:	#ffccb0;
}
input.error, textarea.error,
th.error input, td.error input {
	background-color:	#ffffaa;
}

/* フォーカス */
th:has(> input:focus),
td:has(> input:focus) {
	background-color:	#ffffcc;	/* $c=fixfocusbg1 */
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
.setting textarea:focus {
	background-color:	#ffeeee;	/* $c=fixfocusbg2 */
}
textarea#editarea:focus {
	background-color:	#fff;
}
textarea#editarea {
	font-size:		11.5pt;
}

/* ツリーとCSS等の編集画面 */
article .treebox,
article:not(.edit) #editarea {
	margin-top:		1em;
	margin-bottom:		1em;
}

/*--------------------------------------------------------------------
●記事の編集画面
--------------------------------------------------------------------*/
article.system.notice {
	margin-bottom:	0.4em;
}
textarea.edit-article {
	width:		98%;
	margin:		0;
}
article.edit form.delete {
	margin-top:	1.5em;
}
article.edit span.element {
	margin-right:	1em;
}

span.edit-caption {
	font-weight:	bold;
	margin-right:	0.3em;
}

/* タグ */
article.edit span.tag {
	font-size:		9pt;
	color:			#600;
	background-color:	#ccf;		/* $c=sysbg */
	border-radius:		6px;
	padding:		0px 4px;
	margin-right:		0.5em;
}

/*--------------------------------------------------------------------
●ポップアップヘルプ, info
--------------------------------------------------------------------*/

.help, .btn-help:after {
	color:			#c3c;
}

div.popup-help {
	min-width:		100px;
	max-width:		360px;
	padding:		0.5em 1em;

	background-color:	#fff;
	color:			#2133a9;		/* $c=fixhelpfont */

	font-size:		11pt;
	/* font-weight:		bold; */

	border:			2px solid #2133a9;	/* $c=fixhelpborder */
	border-radius:		10px;
	box-shadow:		4px 4px 4px 2px rgba(60,60,60,0.75);
}
div.popup-help:before {
	content:		"HELP";
	color:			#fff;
	background-color:	#c33;
	border-radius:		6px;

	font-weight:		bold;
	font-size:		8pt;
	padding:		4px;
	margin:			-2px 4px 0 0px;

	display:		inline-block;
	line-height:		100%;
	vertical-align:		middle;
}
/*
div.popup-help div.additional {
	color:			#000;
	font-weight:		normal;
}
*/

/*--------------------------------------------------------------------
●jQuery UI, popup-info/dialog（テーマREADME/記事のタグヘルパー等）
--------------------------------------------------------------------*/
.ui-dialog {
	background-color:	#eeeeff;		/* $c=sysartbg */
	border:			2px solid #2133a9;	/* $c=sysborder */
	border-radius:		10px;
	box-shadow:		4px 4px 4px 4px rgba(60,60,100,0.75);
	padding:		0;

	font-size:		10.5pt;
	line-height:		130%;
}
.ui-dialog .ui-widget-header {
	background-color:	#ccf;		/* $c=sysbg */
	font-weight:		bold;
	font-size:		12pt;

	border:			none;
	border-radius:		8px 8px 0 0;
}
.ui-dialog span.ui-dialog-title {
	height:			1em;
	margin-top:		0;
	padding-top:		0;
	padding-bottom:		2px;
}
.ui-dialog button.ui-button {
	border-radius:		4px;
}
.ui-dialog .ui-icon {
	text-indent:		0px;
}
.ui-dialog span.ui-icon-closethick {
}
.ui-dialog .ui-dialog-buttonpane {
	margin-top:		0px;
	padding-top:		0px;
}

/*--------------------------------------------------------------------
●設定ページナビゲーション
--------------------------------------------------------------------*/
nav.tree, nav.tree select {
	font-size:		9pt;
}

nav.tree {
	line-height:		100%;
	display:		block;

	border:			1px solid #2133a9;	/* $c=sysborder */
	margin-bottom:		1.5em;
	padding:		0.5em 1em 0.5em 1.5em;

	background-color:	#eeeeff;		/* $c=sysartbg */
}

/*--------------------------------------------------------------------
●プログレスバー（import等）
--------------------------------------------------------------------*/
.ui-progressbar {
	padding:		0;
	margin:			0.5em 0;
	max-width:		400px;
	border:			1px solid #2133a9;	/* $c=sysborder */
	position:		relative;
	background-color:	#fff;
}
.ui-progressbar .label {
	position:		absolute;
	width:			100%;
	text-align:		center;
	font-weight:		bold;
	text-shadow:	 1px -1px 2px #fff,
			 1px -1px 2px #fff,
			-1px  1px 2px #fff,
			 1px  1px 2px #fff;
}
.ui-progressbar,
.ui-progressbar .label:before {
	height:			20px;
	vertical-align:		middle;
}
.ui-progressbar-value {
	padding:		1px 0 0 1px;
	background-color:	#aac;			/* $c=btndisable */
} 


