#--------------------------------------
# development files
#--------------------------------------
.*/
*.tar.bz2
adiary-*

#--------------------------------------
# private data directory
#--------------------------------------
__cache/*.cache
data/*
!data/.htaccess
!data/index.html

#--------------------------------------
# public data directory
#--------------------------------------
pub/*
!pub/.gitkeep

#--------------------------------------
# local users directory
#--------------------------------------
static/*
skel.local/*
!skel.local/.htaccess
!skel.local/README.txt
plugin/@*

#--------------------------------------
# other files
#--------------------------------------
.htaccess
adiary.env.cgi
adiary.conf.cgi
mimetex.cgi
__tool/__*
!__tool/.htaccess
lib/SatsukiApp/form.pm
lib/SatsukiApp/form_2.pm
info/textparser_site_tags.txt
js/lightbox.js

#--------------------------------------
# sample files for develop
#--------------------------------------
js/jquery-ui-all.min.js
theme/_jquery-ui/jquery-ui.css

#--------------------------------------
# for Special Edition files
#--------------------------------------
theme/satsuki2-pop/cute/


