# mod_rewriteの使用に以下の設定が必要です。
Options +FollowSymLinks

# 使用メモリ量の制限
# RLimitMem 268435456

# mod_rewrite設定。可能な限り使用してください。
# ※一部の細工されたレンタルサーバでは mod_rewrite が正しく動かないことがあります。

# RewriteEngine	On
# RewriteCond	%{REQUEST_FILENAME}	!-f
# RewriteRule	^(.*)$			adiary.cgi/$1	[L]

# 常にタイマーを表示
# SetENV SatsukiTimer 1
