<@20> 最適化on（コマンド以外を無視）
<@#>
################################################################################
# adiary.env.cgi は通常不要です
#
# (1) *.env.cgi
# (2) init_tm() / init_path()
# (3) *.conf.cgi
################################################################################
#-------------------------------------------------------------------------------
# ●環境設定
#-------------------------------------------------------------------------------
# キャッシュディレクトリの変更
#<$__cache_dir = get_filepath('../../__cache/')>

# パス自動解析に失敗し、リンクがうまく辿れないときに設定する
#<$Basepath='/path/adiary/'>

# mod_rewriteを使用していない場合（通常は自動判別する）
#<$Mod_rewrite=0>

# タイムゾーンの設定（海外サーバなど、時刻がずれる場合に設定）
#<$ENV.TZ="JST-9">

# アクセス方法によらずサーバー名等を固定させる（通常は不要）
# ・ローカルIPで記事を書くことがある場合。
# ・reverse Proxy等を設置している場合。
# ・最後に / を付けない。
#<$Server_url = 'http://blog.abk.nu'>
#
#（その他の例）
#<$Server_url = 'https://blog.abk.nu'>
#<$Server_url = 'http://blog.abk.nu:8080'>

# Cookieのパスを指定（通常変更不要）
#<$Cookie_path="/">

#-------------------------------------------------------------------------------
# ○デバッグ設定
#-------------------------------------------------------------------------------
# 開発モード（デバッグモード）に設定します
#<$Develop=1>

# JavaScript開発モードに設定し、js/src/ 以下をロードするようにします。
# ※通常時は、adiary.min.js をロードするため js/src/ 以下は参照しません。
#<$DevelopJS=1>

# デバッグ用に環境変数を出力します
#<$ENV_print=1>

# リダイレクト処理
#<$No_redirect=1>

# Satsukiオブジェクトが破棄される様子をデバッグします
#<$DESTROY_debug=1>

# コンパイラのログを取る
#<$Compile_log_dir="data/compile.log/")>

