<@20> pragma : 最適化on（コマンド以外を無視）
<@#>
################################################################################
# ■ adiary.conf.cgi : adiary 動作設定ファイル
################################################################################
#
# 通常は「●」の項目のみ変更してください
#
################################################################################
#-------------------------------------------------------------------------------
# ○adiary のディレクトリ設定（※通常変更不要）
#-------------------------------------------------------------------------------
# ・すべて相対パスで指定してください。
# ・ディレクトリを変更する場合は、配布物中のファイルの置き場も変更してください
# ・ディレクトリは / で終えてください

# 公開のデータディレクトリ
<$constant(pub_dir)    = 'pub/'>
<$constant(pubdist_dir)= 'pub-dist/'>
<$constant(theme_dir)  = 'theme/'>
<$constant(script_dir) = 'js/'>

# 非公開のデータディレクトリ
<$constant(data_dir) = 'data/'>
<$constant(info_dir) = 'info/'>
<$constant(plugin_dir) = 'plugin/'>

# スケルトンディレクトリ（非公開ディレクトリ）
<$regist_skeleton('skel/')>
<$regist_skeleton('skel.local/', 2)>

# テンポラリディレクトリ
#<$Temp = "/tmp/adiary/">
<$Temp = "<@data_dir>tmp/">
<$Temp_timeout = 5min>

# 曜日
<$WDAY_name = array('日', '月', '火', '水', '木', '金', '土')>
<$AMPM_name = array('午前', '午後', '深夜')>

# umaskの設定（wwwプロセスで実行されてるようならば0777,0666になるよう設定する）
<$ifumask(UID ne '' && UID<101, 0000)>

#-------------------------------------------------------------------------------
# ○変更不要
#-------------------------------------------------------------------------------
# 言語ファイルロード
<$load_language_file("<@info_dir>lang/ja.utf8.txt")>

#-------------------------------------------------------------------------------
# ●adiary の動作設定
#-------------------------------------------------------------------------------
<$v = new>

# ○Version2からの移行設定（絶対パスでも可）
#<$v.v2conf = "../adiary2/adiary.conf.cgi">

# ●タグ制限を無効にする（トラストモード）
#・個人や「完全に信頼できる人たち」のみで使用する場合は設定しても良い。
#・IDを所有してない人間に対してのセキュリティは変わりません。
#
# すべてのユーザーで trust_mode にする
#<$v.trust_mode = 1>
# 管理者権限を持つユーザーのみ trust_mode にする（上は有効にしないこと）
<$v.admin_trust_mode = 1>

# ●サブドメインモードに設定し、ドメイン部を指定
#<$v.subdomain_mode   = 'blog.abk.nu'>
# サブドメインモード時、cookie の扱いを各ドメイン（ブログ）ごとに限定
#<$v.subdomain_secure = 1>

# セキュリティIDの有効期限
<$Secure_time = 6hour>

# アップロードファイルの最大サイズ（１回あたりの合計）
<$v.uplaod_files_max = 64M>

# ●メール通知などで From アドレスを固定する。
#<$v.system_email = 'user@example.com'>

#-------------------------------------------------------------------------------
# ●データベースの設定
#-------------------------------------------------------------------------------
# テキストDBの場合
<$DB = loadpm('DB_text', "<@data_dir>db/")>

# PostgreSQL の場合（データベース名、ユーザー名、パスワード）
#<$DB = loadpm('DB_pg', 'database=adiary', 'adiary', 'test', {Pool=>1} )>
#<$DB = loadpm('DB_pg', 'database=adiary;host=pgsql.example.com', 'adiary', 'test', {Pool=>1})>

# MySQL の場合（データベース名、ユーザー名、パスワード）
#<$DB = loadpm('DB_mysql', 'database=adiary', 'adiary', 'test', {Pool=>1})>
#<$DB = loadpm('DB_mysql', 'database=adiary;host=mysql.example.com', 'adiary', 'test', {Pool=>1})>
#<$DB = loadpm('DB_mysql', 'database=adiary;host=mysql.example.com;port=3306', 'adiary', 'test', {Pool=>1})>

# データベースのデバッグ
# ※外部DB使用時、Developフラグの設定が設定されていればSQLを見ることができる。
#<$DB.set_debug(1.on)>

#-------------------------------------------------------------------------------
# ●ユーザー認証ルーチンの設定
#-------------------------------------------------------------------------------
<$Auth=loadpm('Auth', DB)>
<$Auth.table = '_users'>

# パスワード最低文字数
#<$auth.pass_min = 4>
# セッション保持時間（秒） 180 days
#<$Auth.expires = 180day>

# 1ユーザーあたりの多重ログイン許可数
#<$Auth.max_sessions = 1>
# 多重ログイン時、すべてログアウトする（標準はoff）
#<$Auth.all_logout = 1>

# ログイン失敗時にスリープする
<$Auth.fail_sleep = 1>
# 指定回数失敗したら、しばらくログインできなくする。
#<$Auth.fail_count = 15>
# しばらくログインできなくなる時間（分）
#<$Auth.fail_minute = 10>

# ログインIP/HOST制限機能
#<$Auth.allow_ip = begin_array>
#	192.168.
#<$end>
#<$Auth.allow_host = begin_array>
#	myhost.example.jp
#	.example.com
#<$end>

#-------------------------
# ○以下は変更不要
#-------------------------
# ユーザー未登録時に無条件に承認し管理権限を与える
<$Auth.start_up = true>
# ユーザーID は数字と英小文字のみ使用可能。（最初の文字は英小文字）
# <$Auth.uid_lower_rule = true>

################################################################################
#
# これ以降は通常、変更不要です。
#
################################################################################
#-------------------------------------------------------------------------------
# ○Form処理の設定
#-------------------------------------------------------------------------------
<$If_post_exec_pre = begin>
	# このサイズは記事データなどの最大サイズ(byte)になります
	<$Form_options.total_max_size = if(Auth.ok, 256K, 64K)>
	<$Form_options.str_max_chars  = 80>  ※文字数
	<$Form_options.txt_max_chars  =  0>  ※文字数（0=無制限）

	# マルチパート用の設定
	<$Form_options.allow_multipart = Auth.ok>
	# データインポートや画像アップロードの最大サイズになります
	<$Form_options.multipart_total_max_size = v.uplaod_files_max>
	<$Form_options.multipart_data_max_size  = 1024> その他のデータ

	# ホスト名逆引き（2重引き）
	<$resolve_host()>
<$end>
################################################################################
# ■blogシステム本体
################################################################################
<$v=Main=loadapp("adiary", DB, v)>

<$v.pub_dir     = pub_dir>
<$v.pubdist_dir = pubdist_dir>
<$v.info_dir    = info_dir>
<$v.data_dir    = data_dir>
<$v.script_dir  = script_dir>
<$v.plugin_dir  = plugin_dir>

#----------------------------------------------------------
# ■関連ファイル
#----------------------------------------------------------
システム情報ファイル
<$v.system_config_file  = "<@data_dir>system_config.dat">
<$v.default_config_file = "<@info_dir>default_config.dat">

<$v.default_usercss_file = "<@info_dir>default_usercss.css">
<$v.default_usertag_file = "<@info_dir>default_usertag.txt">
<$v.default_setting_file = "<@info_dir>default_setting.dat">
<$v.default_design_file  = "<@info_dir>default_design.dat">
<$v.my_default_setting_file = "<@data_dir>default_setting.dat">

#----------------------------------------------------------
# ■テーマ
#----------------------------------------------------------
<$v.theme_dir     = theme_dir>
<$v.default_theme = 'satsuki2/satsuki2'>

#----------------------------------------------------------
# ■パーサーの設定
#----------------------------------------------------------
<$v.parsers = begin_hash_order>
	default       = 標準
	default_p1    = 標準（１行＝１段落）
	default_p2    = 標準（空行で段落）
	default_p2_br = 標準（空行で段落。改行処理）
#	default_no_br = 標準（そのまま）
	simple	      = HTML（そのまま）
	simple_br     = HTML（改行処理）
#	simple_p      = HTML（１行＝１段落）
	markdown      = Markdown
<$end>

#----------------------------------------------------------
# ■プラグイン関連
#----------------------------------------------------------
# すべてのプラグインの実行を止める。プラグインでのトラブル時に。
#<$v.stop_all_plugins = 1>

# シンボリックリンクでプラグインをインストール。
# 開発時には便利だけども、実用には向かない。
#（要）Options +FollowSymLinks -SymLinksIfOwnerMatch
#<$v.plugin_symlink = 1>

#----------------------------------------------------------
# ■その他の設定
#----------------------------------------------------------
# 許可タグ
<$v.allow_tags_head = "<@info_dir>allow_tags_">

# RSS 2.0（コメント含む）
<$v.rss_skeleton = '_format/rss20'>

# 検索時のスペース類文字の変更（正規表現）
<$v.words_separator = '\s　'>

# 静的HTMLエクスポートの設定
#<$v.static_output_dir = 'static/'>
#<$v.static_theme_dir  = 'theme/'>
#<$v.static_files_dir  = 'files/'>

################################################################################
# ■画像アルバムの設定
################################################################################
<$v.album_icons = "<@pubdist_dir>album-icon/">

# サムネイル生成時のJPEG品質
<$v.album_jpeg_quality = 80>

#------------------------------------------------------------------------------
# ■画像以外をアップロードしたとき。
#------------------------------------------------------------------------------
# サムネイルにファイル情報を埋め込むのフォント
<$v.album_font = "<@pubdist_dir>VL-PGothic-Regular.ttf">
<$v.album_font_size = 11>

#------------------------------------------------------------------------------
# ■アップロード許可拡張子の設定
#------------------------------------------------------------------------------
# ※拡張子は「中間拡張子」も含めすべて許可されてる必要があります。
# ※trust_mode ではあらゆる拡張子が許可されます。

# 許可する画像の拡張子
<$v.album_image_ext = flagq(jpg, jpeg, gif, png, ico, tif, tiff)>

# 追加で許可する画像以外の拡張子
#<$v.album_allow_ext = flagq(dat, msi)>

# ※標準で許可する画像以外の拡張子は album/_load_extensions.html で定義されています。

# adiary-3.0.tgz や adiary-3.00-beta1.3.tbz のようなVersion表記拡張子を許可する。
<$v.album_allow_ver_ext = 1>
