<@20> pragma : 最適化on（コマンド以外を無視）
<@#>
################################################################################
# ■ adiary.conf.cgi : adiary 動作設定ファイル
################################################################################
#
# 通常は「●」の項目のみ変更してください
#
################################################################################
#-------------------------------------------------------------------------------
# ○adiary のディレクトリ設定（※通常変更不要）
#-------------------------------------------------------------------------------
# ・すべて相対パスで指定してください。
# ・ディレクトリを変更する場合は、配布物中のファイルの置き場も変更してください
# ・ディレクトリは / で終えてください

# 公開のデータディレクトリ
<$constant(pub_dir)    = 'pub/'>
<$constant(pubdist_dir)= 'pub-dist/'>
<$constant(theme_dir)  = 'theme/'>
<$constant(script_dir) = 'js/'>

# 非公開のデータディレクトリ
<$constant(data_dir) = 'data/'>
<$constant(info_dir) = 'info/'>
<$constant(plugin_dir) = 'plugin/'>

# スケルトンディレクトリ（非公開ディレクトリ）
<$regist_skeleton('skel/')>
<$regist_skeleton('skel.local/', 2)>
<$Skeleton_ext = '.html'>

# テンポラリディレクトリ
<$Temp = "<@data_dir>tmp/">
<$Temp_timeout = 5min>

# 曜日
<$WDAY_name = array('日', '月', '火', '水', '木', '金', '土')>
<$AMPM_name = array('午前', '午後', '深夜')>

# umaskの設定（wwwプロセスで実行されてるようならば0777,0666になるよう設定する）
<$ifumask(UID ne '' && UID<101, 0000)>

#-------------------------------------------------------------------------------
# ○変更不要
#-------------------------------------------------------------------------------
# 言語ファイルロード
<$load_language_file("<@info_dir>lang/ja.utf8.txt")>

#-------------------------------------------------------------------------------
# ●adiary の動作設定
#-------------------------------------------------------------------------------
<$v = new>

# ●記事などのタグ制限を撤廃する
#・adiaryを個人や「完全に信頼できる人たち」のみで使用する場合は v.trust_mode=1 を設定
#・IDを所有してない人間に対してのセキュリティは変わりません。
#
# すべてのユーザーで trust_mode にする
#<$v.trust_mode = 1>
# 管理者権限を持つユーザーのみ trust_mode にする（上は有効にしないこと）
<$v.admin_trust_mode = 1>

# ●サブドメインモードに設定し、ドメイン部を指定
#<$v.subdomain_mode   = 'blog.abk.nu'>
# サブドメインモード時、cookie の扱いを各ドメイン（ブログ）ごとに限定
#<$v.subdomain_secure = 1>

# ●以下の「秘密の言葉」を必ず書き換えてください。
<$Secret_phrase = '秘密の言葉'> ※全角４文字以上で

# セキュリティIDの有効期限（秒）
<$Secure_time = 6hour>

#-------------------------------------------------------------------------------
# ●データベースの設定（外部データベースを使わない場合そのままでも ok）
#-------------------------------------------------------------------------------
# キャッシュ環境ではキャッシュルーチンありの設定を書きます（その方が高速に動作します）

# 擬似データベースの場合
<$DB = loadpm('DB_text', "<@data_dir>db/")>

# PostgreSQL の場合（データベース名、ユーザー名、パスワード）
#<$DB = loadpm('DB_pg', 'database=adiary3', 'adiary', 'test', {Pool=>1} )>

# MySQL の場合（データベース名、ユーザー名、パスワード）
#<$DB = loadpm('DB_mysql', 'database=adiary', 'adiary', 'test', {Pool=>1})>

# データベースのデバッグ
#<$DB.set_debug(1.on)>

#-------------------------------------------------------------------------------
# ●ユーザー認証ルーチンの設定
#-------------------------------------------------------------------------------
<$Auth=loadpm('Auth', DB)>
<$Auth.table = '_users'>

# パスワード最低文字数
#<$auth.pass_min = 4>
# セッション保持時間（秒） 180 days
#<$Auth.expires = 180 * 86400>

# 多重ログインを許可する
#<$Auth.multisession = 1>
# 多重ログイン時、１つログアウトするとすべてログアウトする
#<$Auth.all_logout = 1>

# ログイン失敗時にスリープする
<$Auth.fail_sleep = 1>
# 指定回数失敗したら、しばらくログインできなくする。
#<$Auth.fail_count = 15>
# しばらくログインできなくなる時間（分）
#<$Auth.fail_minute = 10>

#-------------------------
# ○以下は変更不要
#-------------------------
# ユーザー未登録時に無条件に承認し管理権限を与える
<$Auth.start_up = true>
# ユーザーID は数字と英小文字のみ使用可能。（なお最初の文字は英小文字）
# <$Auth.uid_lower_rule = true>

#-------------------------------------------------------------------------------
# ○Form処理の設定
#-------------------------------------------------------------------------------
<$If_post_exec_pre = begin>
	# このサイズは記事データなどの最大サイズになります
	<$Form_options.total_max_size = 256K>
	<$Form_options.str_max_chars  = 80>  ※文字数換算
	<$Form_options.txt_max_chars  = 64K> ※文字数換算

	# マルチパート用の設定
	<$Form_options.allow_multipart = 1>
	# データインポートや画像アップロードの最大サイズになります
	<$Form_options.multipart_total_max_size = 8M>
	<$Form_options.multipart_data_max_size  = 1024> その他のデータ

	ホスト名逆引き	<$resolve_host()>
<$end>

################################################################################
# ■blogシステム本体
################################################################################
<$v=Main=loadapp("adiary", DB, v)>

<$v.pub_dir     = pub_dir>
<$v.pubdist_dir = pubdist_dir>
<$v.info_dir    = info_dir>
<$v.data_dir    = data_dir>
<$v.script_dir  = script_dir>
<$v.plugin_dir  = plugin_dir>

#----------------------------------------------------------
# ■関連ファイル
#----------------------------------------------------------
システム情報ファイル
<$v.system_config_file  = "<@data_dir>system_config.dat">
<$v.default_config_file = "<@info_dir>default_config.dat">

<$v.default_usercss_file = "<@info_dir>default_usercss.css">
<$v.default_usertag_file = "<@info_dir>default_usertag.txt">
<$v.default_setting_file = "<@info_dir>default_setting.dat">
<$v.default_design_file  = "<@info_dir>default_design.dat">
<$v.my_default_setting_file = "<@data_dir>default_setting.dat">

#----------------------------------------------------------
# ■テーマ
#----------------------------------------------------------
<$v.theme_dir     = theme_dir>
<$v.default_theme = 'satsuki2/satsuki2'>
<$v.system_theme  = 'satsuki2/satsuki2'>
<$v.load_theme( v.default_theme )>

#----------------------------------------------------------
# ■許可タグ設定
#----------------------------------------------------------
<$v.allow_tags_head = "<@info_dir>allow_tags_">
<$v.allow_tags_ext  = '.txt'>

#----------------------------------------------------------
# ■RSS
#----------------------------------------------------------
RSS 2.0（コメント含む）
<$v.rss_skeleton = '_format/rss20'>

#----------------------------------------------------------
# ■パーサーの設定
#----------------------------------------------------------
<$v.parsers = begin_hash>
	default       = 標準（そのまま改行）
	default_p1    = 標準（１行＝１段落）
	default_p2    = 標準（空行で段落処理。改行無視）
	default_p2_br = 標準（空行で段落処理。そのまま改行）
	default_no_br = 標準（改行処理・段落処理なし）
	simple_br     = HTML入力（そのまま改行）
	simple_p      = HTML入力（１行＝１段落）
	simple	      = HTML入力（そのまま入力）
	markdown      = Markdown記法
	_order=1
<$end>

#----------------------------------------------------------
# ■プラグイン関連
#----------------------------------------------------------

# すべてのプラグインの実行を止める。プラグインでのトラブル時に。
#<$v.stop_all_plugins = 1> 

# シンボリックリンクでプラグインをインストール。
# 開発時には便利だけども、実用には向かない。
# Options +FollowSymLinks を忘れずに。
#<$v.plugin_symlink = 1> 

