@charset "UTF-8";
/*******************************************************************************
  「yuu」テーマ
					         (C)2015 nabe@abk
					Original (C)2007 GLANSHE
*******************************************************************************/
/* [TAB=8] */
/*--------------------------------------------------------------------
■全体配置
--------------------------------------------------------------------*/
body
{
	background-image:	url("bg.gif");
	background-color:	#000;		/* $c=fixbg */
	color:			#AFA0DA;	/* $c=font */

	padding:		0;
	margin:			0;
	font-size:		12pt;
	line-height:		130%;
}
#adiary-body {
	min-width:		600px;
	max-width:		900px;
	margin:			0 auto;

	border:			1px solid #3a2faf;	/* $c=border */
	border-width:		0px 1px;
	background-color:	#000;			/* $c=fixmain */
	padding:		0;
}
#hatena-body {
	position:		relative;
	margin:			1em 8px;
	padding-bottom:		1px;
}
#hatena-body:after {
	content:		"";
	clear:			both;
	display:		block;
}
/* 記事部 */
.main {
	float:			right;
	width:			calc(100% - 168px);
}
/* 左側にメニューを配置 */
#sidebar
{
	float:			left;
	width:			160px;
	margin:			0;
	padding:		0;

	font-size:		13px;
	line-height:		130%;
}
/* フッタの配置 */
#footer
{
	color:			#fff;		/* $c=fixfont2 */
	background-image:	linear-gradient(to bottom,
				#001,		/* $c=footerbg0 = auto:border */
				#3a2faf);	/* $c=footerbg  = border */
	background-color:	#3a2faf;	/* $c=footerbg */
	text-align:		center;

	margin:			30px 0 0 0;
	padding:		20px 0 10px 0;
	font-size:		10pt;
	line-height:		120%;
}
#footer, #footer a:link, #footer a:visited {
	color:			#fff;
}

/* overflow防止 */
/* #side-a, #side-b, article {
	overflow:		hidden;
	text-overflow:		ellipsis;
} */

/*--------------------------------------------------------------------
■表示オプション（右サイドバー）
--------------------------------------------------------------------*/
/*
$option:title=sidebar-potision
$option=right-sidebar
.main {
	float:			left;
	width:			calc(100% - 172px);
}
#sidebar {
	float:			right;
}


/*******************************************************************************
■全体設定
*******************************************************************************/
/*--------------------------------------------------------------------
●リンク配色
--------------------------------------------------------------------*/
a:link		{ color: #e86b4f; }	/* $c=link */
a:visited	{ color: #CA563B; }	/* $c=linkvisited = auto:link */
a:hover		{ color: #f83737; }	/* $c=linkhoverbg = auto:link */

/*--------------------------------------------------------------------
●ボタンデザイン
--------------------------------------------------------------------*/
button
{
	color:			#fff;			/* $c=fixfont2 */
	font-weight:		bold;
	border:			1px solid #744;		/* $c=btnborder = btnbg0 */
	border-radius:		6px;
	background-image:	linear-gradient(to bottom,
				#744,			/* $c=btnbg0 */
				#422);			/* $c=btnbg1 = auto:btnbg0  */
	background-color:	#744;			/* $c=btnbg0 */
}
button:hover
{
	border-radius:		6px;
	cursor:			pointer;
	background-image:	linear-gradient(to bottom,
				#955,			/* $c=btnbghover0 = auto:btnbg0 */
				#633);			/* $c=btnbghover1 = auto:btnbg0 */
}

button:disabled
{
	color:			#aaa;
	background-image:	none;
	background-color:	#411;			/* $c=btndisable = auto:btnbg0 */
}

/*--------------------------------------------------------------------
●jQuery UI アイコン設定
--------------------------------------------------------------------*/
#ui-icon-autoload {
	background-color:	#CA563B;		/* $c=uiicon = linkvisited */
}
#syntax-highlight-theme {
	min-width:	1px;				/* 設定を有効にするための印 */
	font-family:	"tomorrow-night-blue";		/* ロードさせたいCSS */
}


/*******************************************************************************
■ヘッダ
*******************************************************************************/
#header {
	color:			#fff;			/* $c=fixfont2 */
	padding:		0;
}
#nav-header {
	text-align:		right;
	font-size:		10pt;
	line-height:		100%;

	margin:			0;
	padding:		2px 1px 12px 1px;
	display:		block;

	background-color:	transparent;
	background-image:	linear-gradient(to bottom,
				#3a2faf,	/* $c=headerbg0 = border */
				#000);		/* $c=fixmain */
}

#nav-header, #nav-header a, #nav-header a:link, #nav-header a:visited {
	color:			#fff;			/* $c=fixfont2 */
}
/* ○○さん */
a.welcome-name { margin: 0px 4px 0px 4px; }


/* 見出し */
h1
{
	font-size:		24pt;
	font-weight:		bold;
	font-family:		"HGP創英角ﾎﾟｯﾌﾟ体",sens-serif;
	line-height:		100%;

	text-align:		center;
	margin:			0;
	padding:		110px 0 40px 0;

	border-bottom:		1px solid #3a2faf;	/* $c=border */
}
h1 a, h1 a:link, h1 a:visited {
	color:			#e86b4f;		/* $c=link */
	text-decoration:	none;
}
h1 img, h1 a img {
	border:			none;
}

/*
$option2:title=header
$option2=header-image
h1 {
	margin-top:		-10px;
	background-image:	url('title.png');
	background-position:	0 top;
	background-repeat:	no-repeat;
}
*/

/*--------------------------------------------------------------------
●ドロップダウンメニュー
--------------------------------------------------------------------*/
.ddmenu {
	margin-bottom:		1em;
	border-bottom:		1px solid #3a2faf;	/* $c=border */
}
/* 背景色（非選択色） */
.ddmenu,
.ddmenu>ul li {
	background-color:	#005;		/* $c=ddbg1 */
	background-image:	linear-gradient(to bottom,
				#3a2f88,	/* $c=ddbg0 = auto:border */
				#005,		/* $c=ddbg1 = auto:border */
				#3a2f88);	/* $c=ddbg0 */
}
/* 選択色 */
.ddmenu>ul li:hover,
.ddmenu>ul li.hover {
	background-color:	#43c;		/* $c=ddhover = auto:border */
	background-image:	none;
}
/* 枠線 */
.ddmenu>ul li a,
.ddmenu>ul ul {
	border-color:		#3a2faf;	/* $c=border */
}
/* 文字 */
.ddmenu a:link,
.ddmenu a:visited
{
	color:			#e86b4f;	/* $c=ddfont = link */
}
/* 矢印の色 */
.ddmenu li ul li ul:before,
.ddmenu.sp li ul:before {
	border-left-color:	#e86b4f;	/* $c=ddarrow = link */
}
.ddmenu:not(.sp) li:last-child:not(:first-child) ul li ul:before {
	border-left-color:	transparent;
	border-right-color:	#e86b4f;	/* $c=ddarrow */
}
/* 設定画面に矢印の色を自動取得させるための指定 */
.ddmenu {
	color:			#e86b4f;	/* $c=ddarrow */
}

/*******************************************************************************
■メイン
*******************************************************************************/
/*--------------------------------------------------------------------
■ページ送り
--------------------------------------------------------------------*/
nav.page-nav {
	font-size:	10pt;
	line-height:	100%;
	margin:		1em 0;
}
nav.page-nav a {
	display:	inline-block;
}
nav.page-nav a:first-child {
	margin-right:	1em;
}
nav.page-nav a:last-child {
	margin-left:	1em;
}

/*--------------------------------------------------------------------
■記事のデザイン配置（本文）
--------------------------------------------------------------------*/
/* 1つの記事 */
article {
	position:		relative;
	clear:			both;
	margin-bottom:		1.5em;
	padding:		0;

	border-radius:		8px;
	border:			1px solid #3a2faf;	/* $c=border */
	background-color:	#000;			/* $c=artbg = fixmain */
}
article.wiki {
	background-color:	#112;			/* $c=wikibg */
}

/* 記事タイトル */
h2, h2 a, h2 a:link, h2 a:visited {
	color:			#fff;			/* $c=fixfont2 */
	text-decoration:	none;
}
h2 a.title {
	font-family:		"HGP創英角ﾎﾟｯﾌﾟ体",sens-serif;
}
article h2 {
	font-size:		14pt;
	margin:			0;
	padding:		18px 32px 30px 12px;

	border-radius:		6px 6px 0 0;
	background-image:	linear-gradient(to bottom,
				#3a2faf,	/* $c=headerbg0 */
				#000);		/* $c=artbg */
	text-align:		right;
}
article:not(.system) h2:after {
	position:		absolute;
	right:			12px;
	top:			4px;

	content:		"";
	display:		inline-block;
	background-image:	url('h2.png');
	width:			16px;
	height:			33px;
}

article.wiki h2 {
	background-image:	linear-gradient(to bottom,
				#3a2faf,	/* $c=headerbg0 */
				#112);		/* $c=wikibg */
}
article h2 a.date {
	position:		absolute;
	right:			32px;
	top:			0px;

	font-weight:		normal;
	font-size:		12px;
	text-decoration:	none;
}

/* 記事本文 */
article div.body {
	font-size:		90%;
	line-height:		140%;
	margin:			-20px 0 0 0;
	padding:		0 1em 0.5em 1.2em;
}

/* 記事ヘッダ */
div.art-info {
	text-align:		right;
	line-height:		100%;
	font-size:		90%;
	padding:		0;
	margin:			0 0 1em 0;
}

/* 記事中のセクション */
article section {
	margin-top: 		0.5%;
	margin-bottom:		3%;
}

/* セクションフッタ */
section footer {
	font-size:		90%;
	margin:			1.5em 1em 0 1em;
	background-color:	#333;			/* $c=footnotebg = auto:prebg */
	border-radius:		6px;
}
/* 脚注 */
section footer p.footnote {
	margin-top:		0;
	margin-bottom:		0;
}

/* 記事フッタ */
div.body-footer {
}


/******************************************************************************/
/******************************************************************************/
/*--------------------------------------------------------------------
■記事ヘッダ
--------------------------------------------------------------------*/
div.art-info > span:not(:last-child) {
	margin-right:		0.5em;
}
/* タグ一覧 */
div.art-info span.tags:before {
	content:		'[';
}
div.art-info span.tags:after {
	content:		']';
}
div.art-info span.tag:not(:last-child):after {
	content:		',';
}
span.tag:not(:last-child) {
	margin-right:		0.5em;
}

/*--------------------------------------------------------------------
■記事見出し
--------------------------------------------------------------------*/
/* 見出し */
div.body h3 {
	font-size:		120%;
	font-weight:		bold;
}
div.body h3 a:before {
	display:		inline-block;
	content:		"";

	margin-right:		4px;
	border:			6px solid #e86b4f;	/* $c=h3 = link */
	box-shadow:		2px 2px 1px 1px rgba(60,60,60,0.3);
}

div.body h3 span.timestamp {
	font-size:		10pt;
	font-weight:		normal;
}
div.body h3,
div.body h3 a,
div.body h3 a:link,
div.body h3 a:visited {
	color:			#e86b4f;		/* $c=h3 */
	text-decoration:	none;
}
/* 小見出し */
div.body h4 {
	font-size:		100%;
	font-weight:		bold;
}
div.body h5 {
	font-size:		100%;
	font-weight:		bold;
}
/* 小見出しへのリンク */
div.body h4 a, div.body h5 a {
	color:			#e86b4f;		/* $c=h3 */
	font-size:		inherit;
	text-decoration:	inherit;
}

/*--------------------------------------------------------------------
■記事内部
--------------------------------------------------------------------*/
div.body p {
	margin:			0.7em 0.5em 0.7em 0;
}

blockquote, pre, div.box {
	margin:			0.5em 2em 0.5em 2em;
	padding:		0.3em 1em 0.3em 1em;
	border:			1px solid #888;			/* $c=preborder */
	border-radius:		4px;
	color:			#ddd;				/* $c=fixprefont */
}
blockquote, div.box, pre:not(.syntax-highlight) {
	background-color:	#333;				/* $c=prebg */
}

div.body blockquote p {
	margin:			0.2em 0.5em 0.2em 0;
}

/* pre 中コメント */
pre span.comment	{ color: #f0f; }			/* $c=fixstrongfont */
pre strong.comment	{ color: #f0f; font-weight: bold; }	/* $c=fixstrongfont */
em {
	font-style:		normal;
	text-decoration:	none;
	color:			#f0f;				/* $c=fixstrongfont */
}

/* 強調 */
article:not(.system) strong { color: #f0f; }			/* $c=fixstrongfont */

dt { font-weight:	bold; }

/*--------------------------------------------------------------------
●記事：テーブル
--------------------------------------------------------------------*/
.body table,
.ui-dialog table {
	font-size:		inherit;
	margin:			0.5em 1em 0.5em 1em;
	border-collapse:	collapse;
	empty-cells:		show;
	background-color:	#333;			/* $c=tablebg = prebg */
}
.body blockquote table,
.body div.box table {
	margin-left:		0;
	margin-right:		0;
}
.body table tr,
.ui-dialog table tr {
	margin:			0px;
	padding:		0px;
}
.body table td,
.ui-dialog table td {
	margin:			0px;
	padding:		2px 4px;
}
.body table th,
.ui-dialog table th {
	font-weight:		bold;
	margin:			0px;
	padding:		2px 4px;
	background-color:	#3a2f88;		/* $c=moduletitlebg0 */
	color:			#fff;			/* $c=fixfont2 */
}
.body table td,
.ui-dialog table td,
.body table th,
.ui-dialog table th {
	border:			1px solid #888;		/* $c=preborder */
}

/*--------------------------------------------------------------------
●コメント欄
--------------------------------------------------------------------*/
#com {
	margin-top:		0.5em;
	padding:		1em;
	font-size:		10.5pt;
	line-height:		150%;

	border-radius:		3px;
	border:			1px solid #3a2faf;	/* $c=border */
	background-color:	#223;			/* $c=combg */
}
#com div.caption a {
	font-weight:		bold;
	text-decoration:	none;
}

#com div.swiches {
	font-size:		10pt;
	margin:			0 0 0 2em;
	padding:		0;
}

div.comment-one {
	margin:			1em 0;

}
div.commentator {
	border-bottom:		1px solid #3a2faf;	/* $c=border */
}
div.comment-text {
	margin-left:		2em;
}
/* 非公開コメント */
.comment-hidden {
	color:			#0ac;
}
/* 非表示コメント */
.comment-disable {
	color:			#c00;
}
#com div.ip-host-agent {
	color:			#0f0;
	text-align:		right;
	margin-right:		1em;
	display:		none;
}
div.ip-host-agent {
	font-size:		9pt;
	line-height:		120%;
}

/* リプライやコメント一覧画面でのポップアップ表示 */
#popup-com {
	color:			#000;		/* $c=fixpopupfont */
	border:			1px solid #000;
	background-color:	#ffd;
	border-radius:		4px;
	box-shadow:		4px 4px 2px 2px rgba(60,60,20,0.75);

	font-size:		10pt;
	padding:		0.5em;
}

/*--------------------------------------------------------------------
■検索ウィンドウ
--------------------------------------------------------------------*/
article.system.search div.body {
	padding-bottom:	4px;
}

/*--------------------------------------------------------------------
●メッセージ関連
--------------------------------------------------------------------*/
strong.warning, strong.error,
p.warning, p.error,
div.messages div.warn,
div.messages div.message {
	color:		#f0f;			/* $c=fixstrongfont */
}

/*******************************************************************************
■sidebar
*******************************************************************************/
/* sidebar の 1項目 */
div.hatena-module {
	margin:			0 0 1.3em 0;
	padding:		0;
}
div.hatena-moduletitle {
	color:			#fff;		/* $c=fixfont2 */
	margin:			0;
	padding:		2px 0;
	text-align:		center;
	font-weight:		bold;

	border:			1px solid #3a2faf;	/* $c=border */
	border-radius:		6px;
	background-color:	#005;			/* $c=moduletitlebg1 */
	background-image:	linear-gradient(to bottom,
				#3a2f88,		/* $c=moduletitlebg0 */
				#005,			/* $c=moduletitlebg1 = auto:border */
				#3a2f88);		/* $c=moduletitlebg0 = auto:border */
}
div.hatena-moduletitle a, 
div.hatena-moduletitle a:link, 
div.hatena-moduletitle a:visited {
	color:			inherit;
}

div.hatena-modulebody {
	margin:			0.3em 0.5em 0.3em 0.5em;
}
#sidebar p {
	margin-top:		0.5em;
	margin-bottom:		0.5em;
}
/* Informationのタイトルを出さない */
div#side-information div.hatena-moduletitle {
	display:		none;
}

/* コンテンツ */
div.side-contents-list div.hatena-moduletitle a {
	text-decoration:	none;
}

/*--------------------------------------------------------------------
●sidebar：カレンダー
--------------------------------------------------------------------*/
table.calendar {
	margin:			4px auto;
	line-height:		100%;
}
table.calendar td.calendar-prev-month    { text-align: left;  margin-left:  0.5em; }
table.calendar td.calendar-current-month { text-align: center; }
table.calendar td.calendar-next-month    { text-align: right; margin-right: 0.5em; }
table.calendar td {
	text-align:		right;
}
table.calendar td.calendar-day a {
	text-decoration:	underline;
}
/* 土曜日 */
table.calendar td.w6, table.calendar th.w6 {
	color:		 	#55F;
}
/* 日曜日、祝日 */
table.calendar td.w0, table.calendar th.w0,
table.calendar td.holiday {
	color:			#D33;
}
/* 今日 */
table.calendar td.day-today      { font-weight: bold; }
/* 選択した日付 */
table.calendar td.day-selected {
	text-decoration:	none;
	border-bottom:		1px solid #e86b4f;	/* $c=link */
}

/*--------------------------------------------------------------------
●sidebar：タグ
--------------------------------------------------------------------*/
/* タイトル一覧など */
ul.hatena-section {
	list-style-type:	none;
	margin:			0.3em 0em 0.3em 0.3em;
	padding:		0px;
}

/* 2段目のリスト */
ul.hatena-section ul {
	list-style-type:	none;
	margin:			0 0 0.2em 1em;
	padding:		0px;
}

/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/* ここより下は管理メニュー内でのみ使用するクラス                           */
/*		システムモードに対応しないテーマでは定義不要                */
/******************************************************************************/
/*--------------------------------------------------------------------
●システム画面
--------------------------------------------------------------------*/
article.system {
	color:			#fff;		/* $c=fixfont2 */
	background-color:	#223;		/* $c=sysbg */
}
article.system h2 {
	padding-top:		10px;
	text-align:		left;
	font-family:		sens-serif;
	background-image:	linear-gradient(to bottom,
				#3a2faf,	/* $c=headerbg0 */
				#223);		/* $c=sysbg */
}
article.system div.body {
	padding-bottom:		1em;
}

/*--------------------------------------------------------------------
●検索とハイライトとタグ
--------------------------------------------------------------------*/
span.highlight	{ color: #000; }		/* $c=fixpopupfont */

span.search-caption {
	font-weight:		normal;
	color:			#f0f;
}

/*--------------------------------------------------------------------
●フォームの一般設定
--------------------------------------------------------------------*/
ul.checkbox {
	list-style-type:	none;
}
/* エラー */
th.error, td.error {
	background-color:	#ffccb0;
}
input.error, textarea.error,
th.error input, td.error input {
	background-color:	#ffffaa;
}

/* フォーカス */
th:has(> input:focus),
td:has(> input:focus) {
	background-color:	#ffffcc;	/* $c=fixfocusbg1 */
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
.setting textarea:focus {
	background-color:	#ffeeee;	/* $c=fixfocusbg2 */
}
textarea#editarea:focus {
	background-color:	#fff;
}
textarea#editarea {
	font-size:		11.5pt;
}

/* ツリーとCSS等の編集画面 */
article .treebox,
article:not(.edit) #editarea {
	margin-top:		1em;
	margin-bottom:		1em;
}

textarea,
ul.dynatree-container {
	background-color:	#eee;
}

/*--------------------------------------------------------------------
●記事の編集画面
--------------------------------------------------------------------*/
article.system.notice {
	margin-bottom:	1em;
}
textarea.edit-article {
	width:		98%;
	margin:		0;
}
article.edit form.delete {
	margin-top:	1.5em;
}
article.edit span.element {
	margin-right:	1em;
}

span.edit-caption {
	font-weight:	bold;
	margin-right:	0.3em;
}

/* タグ */
article.edit span.tag {
	color:			#fff;		/* $c=fixfont2 */
	background-color:	#744;		/* $c=btnbg0 */
	font-size:		9pt;
	border-radius:		6px;
	padding:		0px 4px;
	margin-right:		0.5em;
}

/*--------------------------------------------------------------------
●ポップアップヘルプ, info
--------------------------------------------------------------------*/
.help, .btn-help:after {
	color:			#d6d;
}

div.popup-help {
	min-width:		100px;
	max-width:		360px;
	padding:		0.5em 1em;

	background-color:	#fff;
	color:			#6b75b8;		/* $c=fixhelpfont */

	font-size:		11pt;
	/* font-weight:		bold; */

	border:			2px solid #f6f;
	border-radius:		10px;
	box-shadow:		6px 6px 4px 2px rgba(60,60,60,0.75);
}
div.popup-help:before {
	content:		"HELP";
	color:			#fff;
	background-color:	#c33;
	border-radius:		6px;

	font-weight:		bold;
	font-size:		8pt;
	padding:		4px;
	margin:			-2px 4px 0 0px;

	display:		inline-block;
	line-height:		100%;
	vertical-align:		middle;
}
/*
div.popup-help div.additional {
	color:			#000;
	font-weight:		normal;
}
*/

/*--------------------------------------------------------------------
●jQuery UI, popup-info/dialog（テーマREADME/記事のタグヘルパー等）
--------------------------------------------------------------------*/
.ui-dialog {
	color:			#fff;			/* $c=fixfont2 */
	background-color:	#223;			/* $c=sysbg */
	border:			2px solid #3a2faf;	/* $c=border */
	border-radius:		10px;
	box-shadow:		8px 8px 4px 4px rgba(60,60,100,0.75);
	padding:		0;

	font-size:		10.5pt;
	line-height:		130%;
}
.ui-dialog .ui-widget-header {
	background-color:	#3a2faf;		/* $c=border */
	font-weight:		bold;
	font-size:		12pt;

	border:			none;
	border-radius:		8px 8px 0 0;
}
.ui-dialog span.ui-dialog-title {
	height:			1em;
	margin-top:		0;
	padding-top:		0;
	padding-bottom:		2px;
}
.ui-dialog button.ui-button {
	color:			#fff;
	border-radius:		4px;
}
.ui-dialog .ui-icon {
	text-indent:		0px;
}
.ui-dialog span.ui-icon-closethick {
}
.ui-dialog .ui-dialog-buttonpane {
	margin-top:		0px;
	padding-top:		0px;
}

/*--------------------------------------------------------------------
●設定ページナビゲーション
--------------------------------------------------------------------*/
nav.tree, nav.tree select {
	font-size:		9pt;
}

nav.tree {
	line-height:		100%;
	display:		block;

	border:			1px solid #3a2faf;	/* $c=border */
	border-radius:		4px;
	margin-bottom:		1.5em;
	padding:		0.5em 1em;


	background-color:	#223;			/* $c=sysbg */
}

/*--------------------------------------------------------------------
●プログレスバー（import等）
--------------------------------------------------------------------*/
.ui-progressbar {
	padding:		0;
	margin:			0.5em 0;
	max-width:		400px;
	border:			1px solid #744;		/* $c=btnbg0 */
	position:		relative;
	background-color:	#fff;
}
.ui-progressbar .label {
	color:			#000;
	position:		absolute;
	width:			100%;
	text-align:		center;
	font-weight:		bold;
	text-shadow:	 1px -1px 2px #fff,
			 1px -1px 2px #fff,
			-1px  1px 2px #fff,
			 1px  1px 2px #fff;
}
.ui-progressbar,
.ui-progressbar .label:before {
	height:			20px;
	vertical-align:		middle;
}
.ui-progressbar-value {
	padding:		1px 0 0 1px;
	background-color:	#744;			/* $c=btnbg0 */
} 


