@charset "UTF-8";
/*****************************************************************************
  Satsuki2 - responsive style
							(C)2013 nabe@abk.nu
*****************************************************************************/
@import url("../satsuki2/satsuki2.css");
/* $color_info = satsuki2 */

@media screen and (min-width: 900px) {
/*--------------------------------------------------------------------
■全体配置
---------------------------------------------------------------------*/
.main {
	float:			left;
	width:			calc(100% - 340px);
	padding-left:		8px;
	padding-right:		4px;
}
#sidebar {
	float:			none;
	width:			auto;
}
#side-a {
	float:			left;
	width:			160px;
}
#side-b {
	float:			right;
	width:			160px;
}
/*--------------------------------------------------------------------
for IE8
---------------------------------------------------------------------*/
.IE8 .main {
	width:			64%;
	padding-right:		0px;
}
.IE8 #sidebar {
	width:			100%;
}
.IE8 #side-a,
.IE8 #side-b {
	width:			17%;
}

}
