@charset "UTF-8";
/*****************************************************************************
  Satsuki skeleton base CSS
							(C)2013 nabe@abk
*****************************************************************************/
/*--------------------------------------------------------------------
●ルール
・このファイルは、タグ構造や記法が変更・拡張されたときの対応用です。
---------------------------------------------------------------------*/
/*--------------------------------------------------------------------
■全体表示（システム関連）
---------------------------------------------------------------------*/

/* 不可視要素 */
.display-none {
	display:	none;
}

/* 新着表示マーク */
#nav-header a.newcom:after {
	content:		'!';
}

/* 不可視ログインリンク */
#nav-header a.erase-login {
	display:		inline-block;
	width:			64px;
}

/* アイコン */
li.icons {
	display:		inline-block;
}

/* 条件指定などのひとつのブロック */
div.element, form.element {
	display:		inline-block;
	margin-right:		1em;
}

/*--------------------------------------------------------------------
●記法関連
---------------------------------------------------------------------*/
/* セクションアンカー */
h3 span.sanchor, h4 span.sanchor {
	margin-right:	0.3em;
}

/* アスキーアート記法 */
div.ascii-art {
/*	font-size:	12pt;	*/
	line-height:	100%;
	padding-top:	0px;
	padding-bottom:	0px;
	margin-top:	0px;
	margin-bottom:	0px;
	font-family: "Mona", "MS PGothic", "ＭＳ Ｐゴシック", "IPA MONAPGOTHIC", "IPA モナー Pゴシック", sans-serif;
}

/* 等幅 */
.mono, .pre {
	font-family:	monospace;
}
.l, .left	{ text-align: left; }
.c, .center	{ text-align: center; }
.r, .right	{ text-align: right; }

/* インデント */
p, p.i, .indent p { text-indent: 1em; }
p.ni, .noindent p { text-indent: 0; }
ul li > p:first-child {
	text-indent:	0;
	margin:		0;
}

/* はてなブックマーク数の表示 */
.http-bookmark img {
	vertical-align: bottom;
}
/* Google-map の埋め込み */
div.google-map {
	line-height:	100%;
}

/* 非表示テキスト。背景色と表示色が同一 */
article div.body .hidden,
article div.body .hidden a,
article div.body .hidden strong,
article div.body .hidden em {
	color:			#fff;
	background-color:	#fff;
}

/* nowrap */
.nowrap {
	white-space:		nowrap;
}

ul.none, ol.none {
	list-style:	none;
}
/* 目次 */
ul.toc li span.sanchor {
	margin-left:	-16px;
	margin-right:	0.5em;
}

audio, video,
article figure, article img {
	max-width:	100%;
}

/* ブロック中のpタグ */
blockquote p:first-child {
	margin-top:	0;
}
blockquote p:last-child {
	margin-bottom:	0;
}

/*--------------------------------------------------------------------
●フォーム関連
---------------------------------------------------------------------*/
input[type="number"] {
	text-align:		right;
}
label, input[type="checkbox"], input[type="radio"] {
	vertical-align:		middle;
}
td.checkbox, th.checkbox {
	text-align:		center;
}
td.button, th.button {
	text-align:		center;
}
textarea {
	display:		block;
}

/* radioやcheckboxが複数並んだ場合 */
label + input[type="radio"],
label + input[type="checkbox"]
{
	margin-left:	1em;
}

/* ボタンが複数並んだ場合に間あける */
input[type="submit"] + input[type="submit"],
input[type="submit"] + input[type="button"],
input[type="submit"] + button,
input[type="botton"] + input[type="submit"],
input[type="botton"] + input[type="button"],
input[type="botton"] + button,
button + input[type="submit"],
button + input[type="button"],
button + button
{
	margin-left:	1em;
}

#sidebar button,
#sidebar input[type="submit"],
#sidebar input[type="button"]
{
	margin-left:	0;
}

/* 色選択ボックス */
span.colorbox {
	height:		1em;
	width:		1em;
	border:		1px solid #000;
	display:	inline-block;

	vertical-align: 	middle;
	border-radius:		4px;
	margin-right:		4px;
}
input.color-picker {
	width:		100px;
	vertical-align: middle;
}
.colorpicker {
	z-index:	10000;
}

/* 検索など */
.ui-icon.ui-icon-close,
.js-switch {
	cursor:		pointer;
}

/* radioやcheckboxで選択された要素 */
/* article.setting input[type="checkbox"]:checked + label, */
article.setting input[type="radio"]:checked + label
{
	font-weight:		bold;
}

/* セレクトボックスの特殊要素（「指定しない」）など */
select option.special {
	font-weight:		bold;
	color:			#800;
}
/* readonly */
input[readonly],
select[readonly],
textarea[readonly] {
	background-color:	#ddd;
}

/*--------------------------------------------------------------------
●編集画面
---------------------------------------------------------------------*/
ul#edit-lockers {
	margin-top:		2px;
	margin-bottom:		2px;
}
#edit-helper button {
	margin:			2px 0px;
	padding:		0px 2px;
}


/*--------------------------------------------------------------------
●フロートオブジェクト
---------------------------------------------------------------------*/
h3,h4,.clear
div.body-footer {
	clear:		both;
}
.float, .float-l {
	float:		left;
	margin-right:	1em;
}
.float-r {
	float:		right;
	margin-left:	1em;
}

/*--------------------------------------------------------------------
●フォームポップアップ
---------------------------------------------------------------------*/
.help {
	font-weight:	bold;
	margin:		0 4px;
	cursor:		pointer;
}
.help:before {
	content:	'[';
}
.help:after {
	content:	']';
}

#popup-div, #popup-help, #popup-com {
	display:	none;
	position:	absolute;
	z-index:	1000;
}

.ui-widget-overlay {
	background-color: #000;
	filter:		alpha(opacity=25);
	opacity:	0.25;
}

#popup-dialog textarea {
	font-size:	9pt;
	line-height:	120%;
}

/*--------------------------------------------------------------------
●リサイズ用の部品
---------------------------------------------------------------------*/
span.resize-parts {
	width:		12px;		/* つかめる幅 */
	position:	absolute;

	cursor:		col-resize;
	z-index:	9990050;	/* 下3桁がinput type="text"の最小サイズ */

	/* display:	none;	*/	/* リサイズ機能を無効にする */
	/* border:	1px solid red;	*/
}

/*--------------------------------------------------------------------
●フォントサイズ／種類設定
---------------------------------------------------------------------*/
.xx-large		{ font-size: 200%; line-height: 130%; }
.x-large,  .huge	{ font-size: 150%; line-height: 130%; }
.large			{ font-size: 130%; line-height: 130%; }
.midium, .normalsize	{ font-size: 100%; line-height: 135%; }
.small			{ font-size: 90%;  line-height: 140%; }
.x-small,  .tiny	{ font-size: 80%;  line-height: 140%; }
.xx-small, .scriptsize	{ font-size: 50%;  line-height: 140%; }

.it, .italic		{ font-style:  italic; }
.bf, .bold		{ font-weight: bold;   }
.u, .underline		{ text-decoration: underline; }
.normal			{ font-weight: normal; text-decoration: none; }

strong			{ font-weight: bold; }
em			{ font-style: normal; text-decoration: underline; }

/*--------------------------------------------------------------------
●フォームサイズ指定部品
---------------------------------------------------------------------*/
.w20 { width: 20px; }
.w30 { width: 30px; }
.w40 { width: 40px; }
.w50 { width: 50px; }
.w60 { width: 60px; }
.w70 { width: 70px; }
.w80 { width: 80px; }
.w90 { width: 90px; }
.w100 { width: 100px; }
.w120 { width: 120px; }
.w140 { width: 140px; }
.w160 { width: 160px; }
.w200 { width: 200px; }
.w240 { width: 240px; }
.w280 { width: 280px; }
.w300 { width: 300px; }
.w320 { width: 320px; }
.w360 { width: 360px; }
.w400 { width: 400px; }
.w440 { width: 440px; }
.w480 { width: 480px; }
.w500 { width: 500px; }
.w512 { width: 512px; }
.w520 { width: 520px; }
.w560 { width: 560px; }
.w600 { width: 600px; }
.w640 { width: 640px; }
.w100p{ width: 100%; }
.w98p { width:  98%; }
.w95p { width:  95%; }
.w90p { width:  90%; }
.w80p { width:  80%; }

/*--------------------------------------------------------------------
●検索とハイライト
---------------------------------------------------------------------*/
span.highlight	{ background-color: #0a0; font-weight: bold; text-decoration: inherit; }
span.highlight0	{ background-color: #ff6; }
span.highlight1	{ background-color: #aff; }
span.highlight2	{ background-color: #9f9; }
span.highlight3	{ background-color: #f99; }
span.highlight4	{ background-color: #f6f; }

/*--------------------------------------------------------------------
●管理メニュー関連
---------------------------------------------------------------------*/
ul.menu {
	margin-top:		1em;
	margin-bottom:		1em;
}


/*--------------------------------------------------------------------
●UIアイコン
---------------------------------------------------------------------*/
.sw-show .ui-icon.switch-icon {
	background-position:	-224px 0px;
	width:			13px;
}
.sw-hide .ui-icon.switch-icon {
	background-position:	-240px 0px;
	width:			13px;
}
.ui-icon.prev-page {
	background-position: -208px -16px;
}
.ui-icon.upnode-page {
	background-position: -224px -16px;
}
.ui-icon.next-page {
	background-position: -240px -16px;
}

/*--------------------------------------------------------------------
●画像アルバム
---------------------------------------------------------------------*/
#album-folder-tree > ul {
	min-height:		300px;
	margin-bottom:		2px;
}
#album-folder-tree ul a {
	font-weight:		normal;
}

#album-folder-view {
	margin-top:		4px;
	min-height:		260px;
	margin-bottom:		8px;
	clear:			both;
}

#album-folder-view a {
	margin:			1px;
	display:		inline-block;
}
/* サムネイル表示 */
#album-folder-view img {
	border:			3px solid transparent;
	vertical-align:		middle;
	max-width:		120px;
	max-height:		120px;
	/* for IE */
	width:	auto;
	height:	auto;
}
#album-folder-view img.selected {
	border-color:		#f88;
	background-color:	#f88;
}
/* ファイル名一覧 */
#album-folder-view.name-view a {
	display:		block;
	width:			100%;
	padding:		1px;
	margin-top:		1px;
}
#album-folder-view.name-view span.fileline {
	display:		block;
}
#album-folder-view.name-view span.fileline.selected {
	background-color:	#fcc;
}
#album-folder-view.name-view span.filename {
	width:			62%;
	display:		inline-block;
}
#album-folder-view.name-view span.filedate {
	width:			26%;
	display:		inline-block;
}
#album-folder-view.name-view span.filesize {
	width:			12%;
	display:		inline-block;
	text-align:		right;
}
#adiary-body #album-dnd-name-view {
	color:			#000;
	background-color:	#fff;
	padding:		6px;
	border-radius:		6px;
}
#album-dnd-name-view span {
	display:		block;
}


/* アルバムヘッダ */
#album-header, #album-header select {
	font-size:		11pt;
}
#album-header div {
	display:		inline-block;
}
#album-header div.view-option {
	float:			right;
}

/* アルバムメイン部 */
#iframe-upload-form {
	width:			100%;
	border:			none;
}
#file-elements {
	margin-bottom:		6px;
}
#file-elements input {
	display:		block;
}
#upload-infomation {
	font-size:		90%;
	line-height:		130%;
	margin-bottom:		1em;
}
#selected-files li:hover {
	background-color:	#e8e8e8;
	border-radius:		4px;
	cursor:			pointer;
}

/* 記事貼り付け */
figure {
	display:		inline-block;
	margin:			0;
}

/*--------------------------------------------------------------------
●デザイン編集
---------------------------------------------------------------------*/
#body .design-module-edit {
	min-height:		18px;
}
.design-module-edit {
	position:		relative;
}
.design-module-edit.display {
	background-color:	#fcc;
}
.design-module-edit:hover {
	background-color:	#faa;
}
.module-edit-header {
	position:		absolute;
	top:			0px;
	right:			0px;
	z-index:		10;
	float:			right;
	text-align:		right;
}
.dem-module {
	margin-top:		0.5em;
	margin-bottom:		0.5em;
}

/*--------------------------------------------------------------------
●jQuery UI, popup-info/dialog
---------------------------------------------------------------------*/
.ui-dialog {
	background-color:	#f8f8ff;
}
.ui-dialog div.pre {
	white-space:		pre;
	font-family:		monospace;
}
.ui-dialog .ui-widget-header {
	background-color:	#93b3ff;
}
.ui-dialog ul {
	margin:			1em 0em 1em 2em;
}


/*--------------------------------------------------------------------
●その他
---------------------------------------------------------------------*/
#sidebar textarea {
	width:		98%;
}
h3.ui-accordion-header {
	background-color:	#ccf;
}

/*--------------------------------------------------------------------
●ドロップダウンメニュー（旧:コンテンツバー）
---------------------------------------------------------------------*/
/**************************************************/
/* プルダウンメニュー、ギミック部（通常変更不要） */
/**************************************************/
.dropdown-menu {
	position:	relative;
	width:		100%;
	z-index:	990;
	font-weight:	bold;
}
.dropdown-menu>ul, .dropdown-menu>ul * {	/* 全称セレクタ */
	margin:		0px;
	padding:	0px;
	list-style:	none;
}
.dropdown-menu>ul {
	margin:		0px auto;
}
.dropdown-menu>ul li {
	border-style:	solid;
}
.dropdown-menu>ul>li {
	border-width:		0px;
	border-left-width:	2px;
}
.dropdown-menu>ul>li:last-child {
	border-right-width:	2px;
}
.dropdown-menu>ul>li li {
	border-width:	1px;
	border-left:	none;
	border-right:	none;
}
.dropdown-menu>ul li a {
	display:	block;
	text-decoration: none;
	overflow:	hidden;
	width:		100%;
}
/* 項目文字列を上下中央揃えする細工 */
.dropdown-menu>ul a:before {
	content:	"";
	display:	inline-block;
	height:		100%;
	vertical-align:	middle;
}
/* 表示位置調整 */
.dropdown-menu>ul>li {
	float:		left;
}
.dropdown-menu>ul li ul {
	position:	relative;
}
.dropdown-menu>ul>li li {
	margin-top:	-1px;
}
.dropdown-menu>ul>li ul>li:first-child {
	margin-top:	0;
}
/* ３階層目 */
.dropdown-menu>ul ul ul {
	left:		100%;
	margin-top:	-2px;
}
/* on/off する細工 */
.dropdown-menu>ul li {
 	overflow:	hidden;
}
.dropdown-menu>ul li:hover {
	overflow:	visible;
}
/* アニメーションのための細工 */
.dropdown-menu>ul>li>ul li  {
	height:		0px;
}
.dropdown-menu>ul li {
	transition:	0.4s;
}

/* 階層リンクの矢印 */
.dropdown-menu li ul li ul:before {
	position:	absolute;
	content:	"";
	left:		-12px;
	border:		5px solid transparent;
}
.dropdown-menu li:last-child ul li ul:before {
	margin-left:	 2px;
}

/**************************************************/
/* プルダウンメニュー、カスタマイズ領域（サイズ） */
/**************************************************/
/* フォントの設定（色を除く） */
.dropdown-menu {
	font-size:	11pt;
}
/* 高さの設定 */
.dropdown-menu,
.dropdown-menu>ul>li {
	height:		30px;	/* Y */
}
.dropdown-menu>ul li:hover>ul>li {
	height:		28px;	/* = Y-2 */
}
.dropdown-menu>ul li a {
	height:		100%;	/* = Y-3 */
}
.dropdown-menu>ul ul ul {
	top:		-27px;	/* = 3-Y */
}
.dropdown-menu li ul li ul:before {
	top:		10px;	/* = (Y-10)/2 */
}
/* 項目の文字位置 */
.dropdown-menu li {
	text-align:	center;
}
/* 項目の幅の設定 */
.dropdown-menu>ul>li {
	width:		108px;	/* X1 = 実際の幅 -2 */
}
.dropdown-menu>ul>li>ul,
.dropdown-menu>ul>li>ul li {
	width:		200px;	/* X2 = 実際の幅 -2 */
}
.dropdown-menu>ul>li:last-child>ul {
	left:		-92px;	/* = X1-X2 */
}
.dropdown-menu>ul>li:last-child>ul ul {
	left:		-200px;	/* = -X2 */
}
.dropdown-menu>ul>li:last-child ul li ul:before {
	left:		200px;	/* = X2 */
}
/* 左右padding */
.dropdown-menu>ul {
	padding:	0 0px
}

/**************************************************/
/* プルダウンメニュー、カスタマイズ領域（配色）   */
/**************************************************/
/* 背景色（非選択色） */
.dropdown-menu,
.dropdown-menu>ul li {
	background-color:	#ccccff;
}
/* 選択色 */
.dropdown-menu>ul li:hover,
.dropdown-menu>ul li.hover {
	background-color:	#f0f0ff;
}
/* 枠線 */
.dropdown-menu>ul li {
	border-color:		#aac;
}
/* 文字 */
/*
.dropdown-menu a:link,
.dropdown-menu a:visited
{
	color:			#33f;
}
*/
/* 矢印の色 */
.dropdown-menu li ul li ul:before {
	border-left-color:	#338;
}
.dropdown-menu li:last-child ul li ul:before {
	border-left-color:	transparent;
	border-right-color:	#338;
}
/* 設定画面に矢印の色を自動取得させるための指定 */
.dropdown-menu {
	color:			#338;
}
/* 影をつける */
/*
.dropdown-menu>ul li:hover ul {
	box-shadow:		8px 8px 8px rgba(0,0,0, 0.3);
}
*/

/*--------------------------------------------------------------------
●IE8バグ対応
---------------------------------------------------------------------*/
.IE8 span.tag {
	margin-left:	3px;
	margin-right:	3px;
}
.IE8 .ui-icon {
	display:	inline-block;
}

/*--------------------------------------------------------------------
●デバッグ
---------------------------------------------------------------------*/
div.debug {
	margin: 1em 0;
}

pre#destroy-debug {
	margin-left:	260px;
}
