@charset "UTF-8";
/***********************************************************
 * ちえテーマ
 *  adiary C97 Special Edition Theme    2019/12/31
 *  (C) adiary.org / かえで
 * 
 * Chedked Browser
 *  Mozilla Firefox 71.0
 *      (distributed by Ubuntu 18.04)
***********************************************************/
/* アイコン読み込み */
#ui-icon-autoload {
    display:                none;
    background-color:       #669999;
}

/* ブラウザデフォルト値上書き */
* {
    margin:                 0;
    padding:                0;
}

/* 入力要素 */
input, select {
    font-size:              16px;
    vertical-align:         middle;
}

/* 1行テキストボックス */
select, 
input[type="text"],     input[type="search"],
input[type="tel"],      input[type="url"],
input[type="email"],    input[type="password"],
input[type="datetime"], input[type="date"],
input[type="month"],    input[type="week"],
input[type="time"],     input[type="datetime-local"],
input[type="number"],   input[type="range"],
input[type="color"],    input[type="file"],
input[type="number"] {
    background-color:       #fcfcfc;
    border:                 1px solid #e1e4e5;
    color:                  #404040;
    font-size:              14px;
    line-height:            18px;
    padding:                2px 5px;
    margin:                 3px 0 3px 0.25em;
    vertical-align:         middle;
}

select:focus, 
input[type="text"]:focus,     input[type="search"]:focus,
input[type="tel"]:focus,      input[type="url"]:focus,
input[type="email"]:focus,    input[type="password"]:focus,
input[type="datetime"]:focus, input[type="date"]:focus,
input[type="month"]:focus,    input[type="week"]:focus,
input[type="time"]:focus,     input[type="datetime-local"]:focus,
input[type="number"]:focus,   input[type="range"]:focus,
input[type="color"]:focus,    input[type="file"]:focus,
input[type="number"]:focus {
}

/* チェックボックス */
input[type="radio"], input[type="checkbox"] {
  margin-right: 0.25em;
  vertical-align: middle;
}

label {
  vertical-align: middle;
}

/* ボタン類 */
button {
    background-color:       #f3f6f6;
    border:                 1px solid #dadddd;
    border-bottom:          3px solid #dadddd;
    border-radius:          2px;
    font-size:              14px;
    line-height:            14px;
    padding:                4px 10px;
    margin:                 3px 0 3px 0.25em;
    color:                  #404040;
    vertical-align:         middle;
}

button:hover {
    background-color:       #e5ebeb;
    border:                 1px solid #ced3d3;
    border-bottom:          3px solid #ced3d3;
}
button:disabled {
    background-color:       #dadddd;
    color:                  #999;
}

textarea {
    background-color:       #fcfcfc;
    border:                 1px solid #e1e4e5;
    color:                  #404040;
    font-family:            monospace;
    font-size:              14px;
    line-height:            18px;
    padding:                10px;
    margin:                 3px 0.25em 3px 0.25em;
    vertical-align:         middle;
    width:                  calc(100% - 0.5em - 10px);
}
textarea:focus {
}

/* --------------------------------------------------------- */
/* ■ 要素配置 */
/* --------------------------------------------------------- */
/* ブラウザ描画領域全体 */
/* --------------------------------------------------------- */
html {
    /* ヘッダー・フッターを常に表示 */
    height:                 100%;
    min-width:              900px;
    background:             linear-gradient(to right, #343131, #343131 300px, #fcfcfc 300px, #fcfcfc);
    font-family:            sans-serif;
}

body {
    /* ヘッダー・フッターを常に表示 */
    height:                 100%;
    background-attachment:  fixed;
}

/* 本文部 ----------------------------------------------------*/
/* 管理メニュー + ブログタイトル + サイドバー + 記事部 */
#adiary-body {
    margin:                 0 auto;
    /* ヘッダー・フッターを常に表示 */
    height:                 100%;
}

/* 管理メニュー + ブログタイトル */
#header {
    background-color:       black;
}

/* 管理メニュー部 */
#nav-header {
    margin:                 0 40px 0 480px;
    text-align:             right;
    font-size:              14px;
    line-height:            45px;
    color:                  white;
    position:               absolute;
    z-index:                100;
    width:                  calc(100% - 520px);
}

/* ブログタイトル部 */
#page-title {
    margin:                 0;
    padding:                0 20px;
    font-size:              28px;
    line-height:            45px;
    border-bottom:          1px solid #444444;
    color:                  white;
    background-color:       black;
    text-align:             left;
}

/* 記事部 + サイドバー */
#hatena-body {
    margin:                 0 auto;
    /* 100% - ヘッダー - div.main パディング - フッター */
    min-height:             calc(100% - 46px - 80px);
}

/* #hatena-body直下のdiv */
#hatena-body>div {
    height:                 100%;
}

/* 記事部 */
div.main {
    width:                  calc(100% - 380px);
    float:                  right;
    height:                 100%;
    
    padding:                0 40px;
    position:               relative;
    z-index:                10;
}

/* サイドバー部 */
#sidebar {
    width:                  300px;
    float:                  left;
    position:               relative;
    z-index:                10;
    padding:                0;
}

/* ブラウザ描画領域下部 */
/* バージョン */
#footer:after {
    display:                block;
    content:                "chie: C97 Special Edition Theme";
    font-size:              13px;
    line-height:            20px;
    color:                  #404040;
}

/* フッター (adiary Version ?) */
#footer {
    padding:                0px 340px 25px 340px;
    font-size:              13px;
    line-height:            20px;
    color:                  #404040;
    text-align:             left;
}

/*******************
$option:title=footer
$option=no-footer
#footer:after {
    display:                none;
}
********************/

/*----------------------------------------------------------
■ 基本設定
----------------------------------------------------------*/
/* ◆ リンク配色 */
a:link {
    color:                  #2980b9;
    text-decoration:        none;
}

a:visited {
    color:                  #9355ad;
    text-decoration:        none;
}

    
a:hover {
    color:                  #3091d2;
    text-decoration:        none;
}

/* ◆ code 配色 */
code {
    font-family:            monospace;
    padding:                0 0.25em;
    margin:                 0 0.25em;
    border:                 1px solid #e1e4e5;
    background-color:       white;
    color:                  #e74c4e;
}

/* ◆ フォントサイズ基本設定
------------------------------------------------------------ */
.xx-large                   { font-size: 200%; }
.x-large,   .huge           { font-size: 150%; }
.large                      { font-size: 130%; }
.medium,    .nomalsize      { font-size: 100%; }
.small                      { font-size: 90%; }
.x-small,   .tiny           { font-size: 80%; }
.xx-small,  .scriptsize     { font-size: 50%; }

/*  ◆ フォントファミリー基本設定
------------------------------------------------------------ */
.mono, .pre, code {
    font-family: monospace;
}

/* ◆ フォント装飾基本設定
------------------------------------------------------------ */
.it,    .italic             { font-style: italic; }
.bf,    .bold               { font-weight: bold; }
.u,     .underline          { text-decoration: underline; }

/* ◆ divボックス基本設定
------------------------------------------------------------ */
div.left                    { text-align: left; }
div.center                  { text-align: center; }
div.right                   { text-align: right; }

/* ◆ リスト基本設定
------------------------------------------------------------ */
ul { 
    list-style-type:          disc;
    list-style-position:      inside;
    margin:                   0 0 0.2em 0.5em;
}
ol { 
    list-style-position:      inside;
    list-style-type:          decimal;
    margin:                   0 0 0.2em 0.5em;
}
article ul, article ol      { padding-left: 0em; }
ul.none, ol.none            { list-style: none; }

/* 定義済みリスト */
dl                          { margin: 0.3em 0; }
dt                          { font-weight: bold; }
dd                          { padding-left: 1.5em;
                              padding-bottom: 0.5em; }

/* --------------------------------------------------------- */
/* ヘッダ
/* --------------------------------------------------------- */
#nav-header {
    color:                  white;
}

#nav-header a {
    margin:                 0 0.1em 0 0.1em;
    color:                  white;
    text-decoration:        none;
}

#nav-header span {
    margin:                 0 0.1em 0 0.1em;
}

#nav-header a:hover {
    color:                  #5bbdbf;
}

                              
/* --------------------------------------------------------- */
/* ■ 見出し (日記帳タイトル) */
/* --------------------------------------------------------- */
h1 a:link, h1 a:hover, h1 a:visited {

    color:                  white;
    text-decoration:        none;
    font-weight:            normal;
}

h1:before {
}

h1:after {
}


/* --------------------------------------------------------- */
/* ■ ナビゲーション (前のページ/次のページ) */
/* --------------------------------------------------------- */
nav.page-nav {
    font-size:              14px;
    line-height:            18px;
    padding:                25px 0;
    text-align:             left;
}

nav.page-nav a {
    display:                inline-block;
    text-decoration:        none;
}
nav.page-nav a:first-child {
    margin-right:           1em;
}
nav.page-nav a:last-child {
    margin-left:            1em;
}
nav.page-nav a:hover {
}

/* アイコン */
a.prev-page:before,
a.upnode-page:before,
a.next-page:after {
}

a.prev-page:before {
    margin-right:           0.4em;
}
a.upnode-page:before {
    margin-right:           0.4em;
}
a.next-page:after {
    margin-left:            0.4em;
}

/* --------------------------------------------------------- */
/* ■ 記事部 (本文) */
/* --------------------------------------------------------- */
/* 記事部 + コメント部 */
#article-box, article {
    padding-bottom:         25px;
    color:                  #404040;
}

article {
    border-bottom:          1px solid #e1e4e5;
}  

article:first-child, #article-box:first-child,
article.system:first-child {
    /* 記事が少なくpage-navが出力されない場合 */
    border-top:             1px solid #e1e4e5;
}

nav.page-nav+#articles {
    /* page-navが出力される場合 */
    margin-top:             0;
    border-top:             1px solid #e1e4e5;
}

/* 最後の記事 */
article:last-child, #article-box:last-child,
article.system:last-child {
    margin-bottom:          0;
}

/* 記事タイトル部 */
/* コメント入力部タイトル */
/* --------------------------------------------------------- */
h2 {
    font-size:              28px;
    line-height:            36px;
    padding:                25px 0px;
    margin-bottom:          4px;
}

div.caption {
    font-size:              20px;
    line-height:            28px;
    padding:                6px 0px;
    margin-bottom:          4px;
}

h2 a:link, h2 a:visited, h2 a:hover,
div.caption span, article.system h2 {
    font-weight:            bold;
    color:                  #404040;
    text-decoration:        none;
}

h2 a.date {
    font-size:              20px;
    line-height:            28px;
    margin-right:           4px;
}

h2 a.date:hover {
    text-decoration:        none;
}

/* 本文部 */
/* --------------------------------------------------------- */
/* 本文ヘッダ部 */
div.art-info {
    font-size:              14px;
    line-height:            20px;
    padding:                0;
    text-align:             right;
    color:                  #404040;
    margin:                 4px 0 15px 0;
}

div.body-main, div.commentbody {
    margin:                 10px 0 0 0;
    padding:                0 0px;
    font-size:              16px;
    line-height:            24px;
}

div.art-info span {
    margin-left:            0.3em;
}

div.art-info a:link, div.art-info a:visited {
    color:                  #404040;
    text-decoration:        none;
}

div.art-info a:hover {
    color:                  #3091d2;
}

/* タグ一覧 */

/*$option2:title=original
$option2:default=customize
div.art-info span.tags:before {
	content:		'[';
}
div.art-info span.tags:after {
	content:		']';
}
div.art-info span.tag:not(:last-child):after {
	content:		',';
}
********************/

/* 本文フッタ部 */
div.body-footer {
    font-size:              14px;
    line-height:            20px;
    margin:                 4px 0;
    padding-bottom:         6px;
}
div.social-buttons {
    text-align:             right;
}
.social-button {
    color:                  #669999;
}

div.com-count {
    text-align:             right;
}

div.body-footer span, div.body-footer a:link,
div.body-footer a:visited {
    color:                  #404040;
    text-decoration:        none;
}

div.body-footer a:hover {
}

div.body-main section {
}

div.body-main section p {
    margin-bottom:          24px;
    padding:                0;
}

/* --------------------------------------------------------- */
/* ● 記事：基本設定 */
/* --------------------------------------------------------- */
/* 見出し */
article h3 {
    font-size:              24px;
    line-height:            32px;
    font-weight:            bold;
    color:                  #404040;
    margin:                 24px 0 8px 0;
}

h3 a:link, h3 a:visited, h3 a:hover {
    color:                  #404040;
    text-decoration:        none;
}

h3:before {
/*     counter-increment:      sec; */
/*     content:                counters(sec, ".") "."; */
}

h3 span.sanchor {
    display:                none;
}

h3 span.timestamp {
    font-size:              16px;
    color:                  #404040;
}

h3 code {
    font-size:              24px;
    line-height:            32px;
}

/* 小見出し */
article h4 {
    font-size:              20px;
    line-height:            28px;
    font-weight:            bold;
    color:                  #404040;
    margin:                 24px 0 8px 0;
    text-decoration:        none;
}

h4:before {
/*     counter-increment:      sec2; */
/*     content:                counters(sec, ".") "." */
/*                             counters(sec2, ".") ". "; */
/*     margin-right:           -5px; */
}

h4 a:link, h4 a:visited, h4 a:hover {
    color:                  #404040;
    text-decoration:        none;
}

h4 span {
}

h4 span.sanchor {
}

h4 span.timestamp {
    font-size:              16px;
}

h4 code {
    font-size:              20px;
    line-height:            28px;
}

/* 小々見出し */
article h5 {
    font-size:              18px;
    line-height:            26px;
    font-weight:            bold;
    margin:                 26px 0 8px 0;
    color:                  #404040;
}

h5:before {
/*     counter-increment:      sec3; */
/*     content:                counters(sec, ".") "." */
/*                             counters(sec2, ".") "." */
/*                             counters(sec3, ".") ". "; */
}

h5 a:link, h5 a:visited, h5 a:hover {
    color:                  #404040;
    text-decoration:        none;
}

h5 code {
    font-size:              18px;
    line-height:            26px;
}

/* --------------------------------------------------------- */
/* ● 記事: ブロック記法 */
/* --------------------------------------------------------- */
blockquote, pre, div.box {
    font-size:              14px;
    line-height:            20px;
    margin:                 12px 0;
    padding:                12px;
    display:                block;
    color:                  #404040;
    border:                 1px solid #e1e4e5;
}

p+blockquote, p+pre, p+.hljs, p+.highlight {
}

/* 引用記法 */
blockquote {
    background-color:       #e7f2fa;
    border:                 none;
}

blockquote p {
    margin:                 0;
}

/* pとpの間 */
blockquote p + p {
    margin:                 1em 0;
}

/* 引用元 */
blockquote cite {
    display:                block;
    text-align:             right;
}

/* pre記法、シンタックスハイライト */
pre, .hljs, .highlight {
    background-color:       #f8f8f8;
    font-family:            monospace;
}

code {
    font-size:              14px;
    font-weight:            normal;
}

pre span.comment {
    color:                  #007020;
    font-family:            monospace;
}

pre strong.comment {
    color:                  #007020;
    font-family:            monospace;
    font-weight:            bold;
}

/* toc記法 */
ul.toc a {
}

/* --------------------------------------------------------- */
/* ● 記事: 脚注処理 */
/* --------------------------------------------------------- */
/* 注釈へのリンク */
span.footnote a {
    font-size:              12px;
    line-height:            12px;
    vertical-align:         top;
    text-decoration:        none;
}

/* 注釈 */
section footer {
    font-size:              14px;
    line-height:            20px;
    padding-left:           160px;
    border-top:             1px dotted #e1e4e5;
    margin:                 16px 0 10px 64px;
    padding:                10px 0 0 0;
}

section footer p.footnote {
    line-height:            20px;
    margin:                 0;
}

footer p a:first-child { 
    text-decoration:        none
}

section footer a:link, section footer a:visited,
section footer a:hover {
}

/* --------------------------------------------------------- */
/* ● 記事: 本文内リスト */
/* --------------------------------------------------------- */
article ul, article ol {
    list-style-position:    outside;
    margin:                 12px 0 12px 16px;
}
/*$option2=customize
article ul, article ol {
	margin-left:	3em;
}
article ul ul, article ol ol
article ol ul, article ul ol {
	margin-left:	2em;
}
********************/

article li {
    margin:                 0;
}

article ul ul, article ol ol, 
article ul ol, article ol ul {
    margin:                 0 0 0 1em;
}

/* --------------------------------------------------------- */
/* ● 記事: 保護色 (hidden) */
/* --------------------------------------------------------- */
/* 記事テキストの保護色。背景色と同一にすること */
.hidden {
    color:                  transparent;
}

/* --------------------------------------------------------- */
/* ◆ 画像処理 */
/* --------------------------------------------------------- */
figure a:link img {
}

figure a:visited img, figure a:hover img {
}

/* --------------------------------------------------------- */
/* ● 記事：テーブル */
/* --------------------------------------------------------- */
article table {
    font-size:              14px;
    line-height:            24px;
    margin:                 12px 0px 12px 0px;
    border-collapse:        collapse;
    border-spacing:         0;
    empty-cells:            show;
    width:                  100%;
    background-color:       #fcfcfc;
}    

article table td, article table th {
    padding:                0 6px;
    border:                 1px solid #e1e4e5;
}

/* 見出し */
thead, tr th {
    background-color:       #f8f8f8;
}

thead a:link, tr th a:link,
thead a:visited, tr th a:visited {
}

/* 奇数行 */
tr:nth-child(even) td {
}

/* 偶数行 */
tr:nth-child(odd) td {
}

/* クラス指定記法による配置 */
th.left, td.left, th.l, td.l {
    text-align:             left;
}

th.center, td.center, th.c, td.c {
    text-align:             center;
}

th.right, td.right, th.r, td.r {
    text-align:             right;
}

div.body table.small {
    font-size:              12px;
    line-height:            16px;
}


/* --------------------------------------------------------- */
/* ● 記事 コメント */
/* --------------------------------------------------------- */
div.caption {
    font-size:              20px;
    line-height:            28px;
}

div.caption span.com-num {
    font-size:              16px;
}

div.commentbody {
    font-size:              16px;
    line-height:            24px;
}

div.comment-one {
    margin:                 24px 0;
}

div.commentator span.canchor {
    font-size:              16px;
    line-height:            24px;
}

div.ip-host-agent {
    font-size:              14px;
    line-height:            20px;
}

hr#com-form-separator {
    border:                 none;
    border-top:             1px dotted #666;
    margin:                 12px 0;
}

.comment textarea {
    width:                  calc(100%);
    height:                 120px;
}
.comment .help {
    font-size:              16px;
    line-height:            16px;
}

/* --------------------------------------------------------- */
/* ■ サイドバー */
/* --------------------------------------------------------- */
/* サイドバーの１項目 */
.hatena-module {
    margin:                 20px 0 0 0;
    padding:                0px 20px;
    color:                  white;
}

.hatena-module:focus {
    background-color:       #4e4a4a;
}

.hatena-module:first-child {
    margin-top:             0;
    padding-top:            20px;
}

/* タイトル部 */
.hatena-moduletitle {
    color:                  #5bbdbf;
    font-size:              16px;
    font-weight:            bold;
    line-height:            24px;
}

.hatena-moduletitle a {
    color:                  #5bbdbf;
}

.hatena-moduletitle a:hover {
}



.hatena-modulebody {
    margin-top:             6px;
    font-size:              14px;
    line-height:            20px;
    color:                  white;
}

.hatena-modulebody a, .hatena-modulebody a:link 
.hatena-modulebody a:visited {
    color:                  white;
}

.hatena-module a:hover {
}

.hatena-module ul {
    list-style-type:        none;
    margin-left:            0;
}

/* コンテンツの子要素 */
.hatena-modulebody ul ul {
    margin-bottom:          0px;
    margin-left:            1em;
}

div.hatena-module:not(.system-module) li {
}

.hatena-module .search-box {
    width:                  calc(100% - 20px);
    border:                 1px solid #2472a4;
    border-radius:          16px;
    background-color:       #fcfcfc;
}

.hatena-module .search-box:focus {
    background-color:       #fcfcfc;
}

#side-search label {
    margin-right:           1em;
}

#side-search button {
    display:                none;
}
#side-search button:hover {
}

/* ● sidebar：カレンダー */
/* --------------------------------------------------------- */
#side-calendar table {
    width:                  100%;
    font-size:              14px;
    line-height:            20px;
    border-collapse:        collapse;
    border-spacing:         0;
    border:                 none;
    text-align:             center;
}

#side-calendar table * {
    color:                  white;
    background-color:       transparent;
}

/* 先月 */
#side-calendar td.calendar-prev-month {
    text-align:             left;
    padding-left:           0.5em;
}

/* 今月 */
#side-calendar td.calendar-current-month {
}
/* 来月 */
#side-calendar td.calendar-next-month {
    text-align:             right;
    padding-right:          0.5em;
}

#side-calendar td.calendar-prev-month a,
#side-calendar td.calendar-current-month a,
#side-calendar td.calendar-next-month a {
    text-decoration:        none;
}

#side-calendar td.calendar-day a {
    background-color:       rgba(255,255,255,0.3);
    display:                block;
    width:                  100%;
    height:                 100%;
    border:                 none;

}

/* 土曜日 */
#side-calendar tr td.w6,
#side-calendar tr th.w6 {
    background-color:       #6ab0de;
}

#side-calendar tr td.w6 a {
    background-color:       #287cb4;
    display:                block;
    width:                  100%;
    height:                 100%;
    border:                 none;
}


/* 日曜日 */
#side-calendar tr td.w0,
#side-calendar tr th.w0 {
    background-color:       #ff5850;
}

#side-calendar tr td.w0 a {
    background-color:       #c20000;
    display:                block;
    width:                  100%;
    height:                 100%;
    border:                 none;
}


/* 今日 */
#side-calendar tr td.day-today,
#side-calendar tr td.day-selected {
    text-decoration:        underline;
}

#side-calendar tr td.day-today a,
#side-calendar tr td.day-selected a {
}

/* --------------------------------------------------------- */
/* ■ モジュール */
/* --------------------------------------------------------- */
/* ヘッダー: ブログの説明、自由入力, 検索 */
#header .dem-module, 
div[data-module-name="dem_searchbox,1"], #head-search {
}

/* ヘッダー: 検索 */
#head-search, div[data-module-name="dem_searchbox,1"] {
}

div[data-module-name="dem_searchbox,1"] {
}

#head-search span.title , 
div[data-module-name="dem_searchbox,1"] span.title {
    display:                none;
}

#head-search .search-box , 
div[data-module-name="dem_searchbox,1"] .search-box {
    width:                  160px;
}

/* サイドバー: Information */
#sidebar #side-information {
}
#side-information .hatena-moduletitle {
}
#side-information .hatena-modulebody {
}
#side-information a {
}


/* --------------------------------------------------------- */
/* ドロップダウンメニュー */
/* --------------------------------------------------------- */
.ddmenu {
    background-color:       #000;
}
.ddmenu a {
    color:                  white;
}
.ddmenu > ul li {
    background-color:       inherit;
}
.ddmenu > ul ul {
    background-color:       rgba(32,32,32,0.5);
}
.ddmenu > ul li:hover {
    background-color:       rgba(0,0,0,0.8);
}

/* 項目の幅の設定 */
.ddmenu:not(.sp)>ul>li {
	width:		160px;	/* １段目の幅 = X1 */
}
.ddmenu:not(.sp)>ul>li>ul,
.ddmenu:not(.sp)>ul>li>ul li {
	width:		240px;	/* ２段目の幅 = X2 */
}

/* 矢印の色 */
.ddmenu li ul li ul:before,
.ddmenu.sp li ul:before {
	border-left-color:	#eee;
}
.ddmenu:not(.sp) li:last-child:not(:first-child) ul li ul:before {
	border-left-color:	transparent;
	border-right-color:	#eee;
}
/* 設定画面に矢印の色を自動取得させるための指定 */
.ddmenu {
	color:			#eee;
}

/* --------------------------------------------------------- */
/* ● システム関連 */
/* --------------------------------------------------------- */
article.system h2 {
    border-top:             1px solid #e1e4e5;
    margin-bottom:          0;
}

article.system div.body {
}

/* ブログの情報(サイドバー) */
#side-login-information tr:nth-child(odd) td,
#side-login-information tr:nth-child(even) td{
    background-color:       transparent;
}

/* ◆ ログイン画面 */
/* --------------------------------------------------------- */
table.login input[type="text"],
table.login input[type="password"]{
    width:                  calc(100% - 10px);
    padding:                0 5px;
}

table.login tr td {
    padding:                3px 5px;
}

/* ◆ 編集画面 */
article.edit input.w360 {
    width:                  calc(100% - 80px);
}
article.edit textarea {
    width:                  calc(100% - 20px);
}

article.edit ul {
    list-style-type:        none;
}

/* ◆ ヘルプ */
/* --------------------------------------------------------- */
/* [?]文字 */
.help, .btn-help:after {
    font-weight:            bold;
    cursor:                 pointer;
    
}

table th .help {
}

div.popup-help {
    min-width:              100px;
    max-width:              720px;
    padding:                10px;
    background-color:       #dbfaf4;
    border-width:           0px;
    margin:                 0 8px 8px 0;
    border:                 none;
    font-size:              14px;
    line-height:            20px;
}

/* ◆ ナビゲーション */
/* --------------------------------------------------------- */
nav.tree {
    font-size:              14px;
    line-height:            14px;
    padding:                25px 0;
}

nav.tree a {
}

nav.tree select {
    font-size:              12px;
    line-height:            12px;
    padding:                0 3px;
    vertical-align:         baseline;
}

/* ◆ ツリー(タグ, wiki) */
/* --------------------------------------------------------- */
ul.dynatree-container {
    border:                 1px solid #e1e4e5;
    background-color:       #f8f8f8;
    padding:                10px;
    margin:                 10px 0;
}

/* インポート */
textarea[readonly], textarea[readonly]:focus {
    background-color:       #f8f8f8;
    padding:                10px;
    margin:                 0;
    border:                 none;
}

/* プログレスバー */
.ui-progressbar-value {
    background-color:       #bbb;
}


h3.ui-accordion-header {
    background-color:       transparent;
}

/* ◆ ダイアログ */
/* --------------------------------------------------------- */
.ui-dialog, .ui-dialog.error-dialog {
    border-radius:          6px;
    background-color:       #dbfaf4;
    color:                  #404040;
}

/* タイトルバー */
.ui-dialog .ui-widget-header {
    background-color:       #1abc9c;
    color:                  white;
    border-bottom:          none;
    border-radius:          6px 6px 0px 0px;
}

.ui-widget-header button.ui-button,
.ui-widget-header button.ui-button:hover {
    border-radius:          0px;
}

/* ボタン */
.ui-dialog .ui-button {
    border-radius:          0px;
}

.ui-dialog .ui-button:hover, .ui-dialog .ui-button:focus {
    border-radius:          0px;
}


.ui-dialog.error-dialog {
    background-color:       #fcfcfc;
}

/* エラーダイアログ タイトルバー */
.ui-dialog.error-dialog .ui-widget-header {
    color:                  white;
    background-color:       #e44e85;
}

/* エラーダイアログ ボタン */
.ui-dialog.error-dialog .ui-widget-header button.ui-button {
    background-image:       none;
    border:                 2px solid #e44e85;
}

.ui-dialog.error-dialog .ui-widget-header button.ui-button:focus,
.ui-dialog.error-dialog .ui-widget-header button.ui-button:hover{
    background-image:       none;
}

.ui-dialog textarea {
    width:                  calc(100% - 20px);
}


