/*****************************************************************************
  印刷用テーマ (C)nabe@abk
*****************************************************************************/
@import url("../satsuki2/satsuki2.css");
/*--------------------------------------------------------------------
■配置を変更
---------------------------------------------------------------------*/
#nav-header {
	display:	none;
}
#sidebar {
	display:	none;
}
div.main {
	margin-left:	0;
}
nav.page-nav {
	display:	none;
}



