@charset "UTF-8";
/*****************************************************************************
  patch for smart phone
					2015/05 (C)nabe@abk.nu
*****************************************************************************/
/*--------------------------------------------------------------------
■全体配置
---------------------------------------------------------------------*/
.main {
	margin-left:		0;
	margin-right:		0;
	padding:		0;
	width:			auto;
	float:			none;
}
#adiary-body {
	margin:			0;
	width:			360px;
}
#hatena-body {
	padding-left:		2px;
	padding-right:		2px;
	border-width:		1px;
}

#sidebar {
	float:			none;
	margin:			40px 4px 0 4px;
	padding:		0;
	width:			auto;
	border:			none;
}

/*--------------------------------------------------------------------
■ヘッダ、フッタ
---------------------------------------------------------------------*/
#sp-header {
	width:			auto;
}
#sp-nav-header, #sp-nav-header a, #sp-nav-header a:link, #sp-nav-header a:visited {
	color:			#fff;
	font-size:		9pt;
	text-decoration:	none;
}
#sp-page-title {
	font-size:		18pt;
}
h1 a:before {
	height:			98px;
}

/* 検索ボックス */
#sp-head-search {
	margin-top:		2px;
	padding:		3px 4px 4px 4px;
	border-radius:		4px;
	background-color:	rgba(255,255,255,0.4);
}
#sp-head-search .search-btn {
	box-shadow:		1px 1px 1px rgba(0,0,0, 0.4);
}
#sp-head-search.no-menu {
	margin-top:		10px;
	background-color:	rgba(200,200,200,0.4);
}
#sp-head-search .search-box {
	width:			100px;
}

/*--------------------------------------------------------------------
■記事配置
---------------------------------------------------------------------*/
article {
	width:			352px;
}
h2:before,
#com div.caption:before {
	width:			354px;
	background-image:	url("art354_top.png");
}
article.article div.body:before {
	background-image:	url("art354_header.png");
}


/*--------------------------------------------------------------------
■サイドバー
---------------------------------------------------------------------*/
#sidebar {
	font-size:		12pt;
}
span.switch-icon {
	margin-right:		1em;
}
#sidebar ul.hatena-section {
	line-height:		200%;
}
not(.Fx) #side-search {		/* for Fx bug */
	text-align:		center;
}
#side-search input.search-box {
	width:			180px;
}

/*--------------------------------------------------------------------
■コメント欄
---------------------------------------------------------------------*/
#com {
	font-size:		10pt;

}
#com form input.comment-author {
	width:			100px;
}
#com form textarea {
	width:			340px;
}

/*--------------------------------------------------------------------
■記事部の設定
---------------------------------------------------------------------*/
#adiary-body {
	word-wrap:		break-word;
}

#adiary-body img,
#adiary-body figure {
	max-width:		100%;
	height:			auto;
	float:			none;
}
#adiary-body textarea,
#adiary-body input,
#adiary-body video,
#adiary-body audio {
	max-width:		100%;
}

article ul,
article ol {
	padding-left:		2em;
}
article ul ul,
article ol ol {
	padding-left:		1em;
}


/*--------------------------------------------------------------------
○table, blockquote, pre
---------------------------------------------------------------------*/
.body table {
	margin-left:		1em;
	margin-right:		1em;
}
.body blockquote table,
.body div.box table {
	margin-left:		0;
	margin-right:		0;
}

blockquote, pre, div.box {
	margin:			0.5em 1.0em 0.5em 1.0em;
	padding:		0.2em 0.5em 0.2em 0.5em;
}
pre {
	margin-left:		0;
	margin-right:		0;
	overflow-x:		scroll;
}


/*--------------------------------------------------------------------
■ブログ一覧
---------------------------------------------------------------------*/
#table-view table {
	margin-left:		4px;
	margin-right:		4px;
}
#table-view table th {
	font-size:		9pt;
}
#table-view table .large {
	font-size:		100%;
}
#table-view table .hhmm {
	display:		none;
}

/*--------------------------------------------------------------------
■システムモード
---------------------------------------------------------------------*/
article.system div.body {
	padding-left:		6px;
	padding-right:		6px;
}
article.system div.body table {
	margin-left:		0px;
	margin-right:		0px;
}
article.system ul:not(.dynatree-container):not(.ui-tabs-nav) {
	padding-left:		2em;
}
nav.tree {
	font-size:		8pt;
	line-height:		200%;
}
nav.tree span.items {
	display:		block;
}

article.edit span.element {
	display:		block;
}
#edit-tags + br,
#edit-tags + br + br {
	display:		none;
}
article.edit button,
article.edit select {
	margin-top:		6px;
	margin-bottom:		6px;
}
article.edit span.edit-writer {
	display:		none;
}

.system button {
	padding:		2px 3px;
}
#edit .helper + .help {
	margin-left:		0px;
}
