/*
Docco style used in http://jashkenas.github.com/docco/ converted by Simon Madine (@thingsinjars)

patched by nabe@abk

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #000;
  background: #f8f8f8;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.diff .hljs-header,
.hljs-javadoc {
  color: #080;
}

.hljs-keyword,
.assignment,
.hljs-literal,
.css .rule .hljs-keyword,
.hljs-winutils,
.javascript .hljs-title,
.lisp .hljs-title,
.hljs-subst {
  color: #d40;
}

.hljs-number,
.hljs-hexcolor {
  color: #00d;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula {
  color: #e0e;
}
.hljs-string .hljs-variable {
  color: #c4c;
}


.hljs-title,
.hljs-id {
  color: #19469d;
}
.hljs-params {
  color: #00f;
}

.javascript .hljs-title,
.lisp .hljs-title,
.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.haskell .hljs-label,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #800;
  font-weight: normal;
}

.hljs-attribute,
.hljs-variable,
.instancevar,
.lisp .hljs-body {
  color: #00a;
}

.hljs-regexp {
  color: #b68;
}

.hljs-class {
  color: #c66;
  font-weight: bold;
}
.css .hljs-class {
  font-weight: normal;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.ruby .hljs-symbol .hljs-keyword,
.ruby .hljs-symbol .keymethods,
.lisp .hljs-keyword,
.tex .hljs-special,
.input_number {
  color: #990073;
}

.builtin,
.constructor,
.hljs-built_in,
.lisp .hljs-title {
  color: #0086b3;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.diff .hljs-change {
  background: #0086b3;
}

.hljs-chunk {
  color: #aaa;
}

.tex .hljs-formula {
  opacity: 0.5;
}
