@charset "UTF-8";
/*****************************************************************************
  Satsuki2 - right sidebar style
							(C)2013 nabe@abk.nu
*****************************************************************************/
@import url("../satsuki2/satsuki2.css");
/* $color_info = satsuki2 */
/*--------------------------------------------------------------------
■全体配置
---------------------------------------------------------------------*/
/* 記事部 */
div.main {
	margin-left:		0;
	margin-right:		168px;
}
/* 左側にメニューを配置 */
#sidebar
{
	position:		absolute;
	width:			160px;
	left:			auto;
	right:			0;
	top:			0;
}


