@charset "UTF-8";
/*****************************************************************************
  Satsuki style
							(C)2013 nabe@abk.nu
*****************************************************************************/
@import url("../satsuki2/satsuki2.css");
/* $color_info = satsuki2 */
/*--------------------------------------------------------------------
■全体配置
---------------------------------------------------------------------*/
#hatena-body {
	margin:			1em 1em 1em 0.7em;
}
/* 記事部 */
div.main {
	margin-left:		0;
	margin-right:		18%;
}
/* 左側にメニューを配置 */
#sidebar
{
	position:		absolute;
	left:			auto;
	right:			0.7em;
	width:			16%;
}

#footer-move-to-end {
	font-size:		1px;
}
