@charset "UTF-8";
/*******************************************************************************
  sky - nature like
					2015/05/09 (C)nabe@abk
					Original (C)http://k52.org/
*******************************************************************************/
/*--------------------------------------------------------------------
■全体配置
--------------------------------------------------------------------*/
body
{
	color:			#000;		/* $c=fixfont */
	font-size:		12pt;
	line-height:		150%;

	padding:		0;
	margin:			0;
}
#sp-header, #header, #footer, header .ddmenu>ul>li li {
	background-color:	#39f;		/* $c=main */
	background-image:	url(data:image/gif;base64,R0lGODlhBQAFAJEAAGZmZv///////wAAACH5BAEHAAIALAAAAAAFAAUAAAIHlGGCl5tdAAA7);
}
#hatena-body {
	margin:			0 auto;
	padding-bottom:		3em;
	width:			100%;
	background-color:	#fff;		/* $c=fixbg */

	border-top:		2px solid #aa9;	/* $c=fixbodyborder */
	border-bottom:		2px solid #aa9;	/* $c=fixbodyborder */
}

#hatena-body>div,
#header>div,
#footer>div {
	padding:		0;
	margin:			0 auto;
	min-width:		700px;
	max-width:		960px;
}
#hatena-body:after {
	content:		"";
	clear:			both;
	display:		block;
}

/* 記事部 */
.main {
	float:			left;
	width:			calc(100% - 240px);
}

/* 左側にメニューを配置 */
#sidebar
{
	float:			right;
	width:			220px;
	margin:			0;
	padding-top:		1em;

	font-size:		10pt;
	line-height:		150%;
}

/* フッタの配置 */
#footer
{
	text-align:		right;
	padding:		10px 1em;
	font-size:		10pt;
	line-height:		120%;
}
#footer, #footer a:link, #footer a:visited {
	color:			#fff;		/* $c=fixfooterfont */
	text-decoration:	none;
}
#footer a:hover {
	text-decoration:	underline;
}

/*--------------------------------------------------------------------
■リンク配色
--------------------------------------------------------------------*/
a:link		{ color: #3366cc; }	/* $c=link */
a:visited	{ color: #334499; }	/* $c=linkvisited */
a:hover		{ color: #cc9900; }	/* $c=fixlinkhover */
a img		{ border: none; }

/*--------------------------------------------------------------------
■ヘッダ部
--------------------------------------------------------------------*/
#header, #sp-header {
	color:			#fff;		/* $c=fixheaderfont */
}
#nav-header {
	text-align:		right;
	font-size:		10pt;
	line-height:		100%;
	padding:		2px 0;
	display:		block;
}

#header a, #header a:link, #header a:visited {
	color:			#fff;		/* $c=fixheaderfont */
}
/* ○○さん */
a.welcome-name { margin: 0px 4px 0px 4px; }

h1
{
	font-size:		20pt;
	font-weight:		bold;
	line-height:		110%;
	padding:		60px 10px;
	margin:			0;
}
h1 a, h1 a:link, h1 a:visited {
	font-weight:		inherit;
	text-decoration:	inherit;
}
h1 img, h1 a img {
	border:			none;
}

/* ブログの説明 */
#head-description {
	position:		absolute;
	top:			102px;
	left:			10px;
	font-size:		10pt;
}


/*--------------------------------------------------------------------
■ドロップダウンメニュー
--------------------------------------------------------------------*/
.ddmenu {
	font-weight:		normal;
}
/* 背景色（非選択色） */
.ddmenu,
.ddmenu>ul li {
	background-color:	transparent;
}
header .ddmenu>ul>li li {
	background-color:	#39f;		/* $c=ddbg = main */
	/* background-image:	url("slant-tile.gif"); */
}
/* 選択色 */
.ddmenu>ul li:hover,
.ddmenu>ul li.hover {
	background-color:	#3366cc;	/* $c=ddhover = link */
}
/* 枠線 */
.ddmenu>ul li a,
.ddmenu>ul ul {
	border-color:		#aaa;		/* $c=fixddborder */
}
/* 文字 */
.ddmenu a:link,
.ddmenu a:visited
{
	color:			#fff;		/* $c=fixddfont */
}
/* 矢印の色 */
.ddmenu li ul li ul:before,
.ddmenu.sp li ul:before {
	border-left-color:	#ccc;		/* $c=fixddarrow */
}
.ddmenu:not(.sp) li:last-child:not(:first-child) ul li ul:before {
	border-left-color:	transparent;
	border-right-color:	#ccc;		/* $c=fixddarrow */
}
/* 設定画面に矢印の色を自動取得させるための指定 */
.ddmenu {
	color:			#ccc;		/* $c=fixddarrow */
}

/* main部に置いた場合 */
.main .ddmenu {
	color:			#fff;
	margin:			1em 0;
	font-size:		10pt;
}
.main .ddmenu,
.main .ddmenu>ul li {
	background-color:	#39f;		/* $c=ddbg = main */
}

.main .ddmenu a:link,
.main .ddmenu a:visited
{
	color:			inherit;
}
.main .ddmenu>ul li:hover,
.main .ddmenu>ul li.hover {
	background-color:	#99c;	/* $c=mainddhoverbg = auto:prebg */
}

/*--------------------------------------------------------------------
■ページ送り
--------------------------------------------------------------------*/
nav.page-nav {
	font-size:	10pt;
	line-height:	100%;
	margin:		1em 0;
}
nav.page-nav a {
	display:	inline-block;
}
nav.page-nav a:first-child {
	margin-right:	1em;
}
nav.page-nav a:last-child {
	margin-left:	1em;
}

/*--------------------------------------------------------------------
■記事のデザイン配置（本文）
--------------------------------------------------------------------*/
/* 1つの記事 */
article {
	margin:			1em 0;
	padding:		1.5em 1.5em 1em 1.5em;

	background-color:	#fff;			/* $c=artbg */
	border:			1px solid #ccc;		/* $c=artborder */
	border-radius:		8px;
}
article + article {
	margin-top:		2em;
}
article.wiki {
	background-color:	#f4f6fd;		/* $c=wikibg */
}
/* 記事タイトル */
article h2 {
	color:			#36c;			/* $c=h2font = link */
	font-size:		100%;
	line-height:		100%;
	border-left:		5px solid #fa0;		/* $c=fixh2border */

	margin:			0 0 1em 0;
	padding:		0.5em 0 0.5em 8px;
}
article h2 a.title {
	font-size:		120%;
	line-height:		100%;
	display:		block;
	margin-left:		-1px;
}
article h2 a:link,
article h2 a:visited
{
	color:			#36c;			/* $c=h2font */
	text-decoration:	none;
}
article h2 a:hover {
	text-decoration:	underline;
}

article h2 a.date,
article h2 .art-info {
	font-size:		80%;
	line-height:		100%;
	font-weight:		normal;
}
article h2 * {
	display:		inline;
}

/* 記事本文 */
article div.body {
	font-size:		90%;
	line-height:		140%;
	margin:			0;
	padding:		0;
}



/* 記事中のセクション */
article section {
	margin-top: 		0.5%;
	margin-bottom:		3%;
}

/* セクションフッタ */
section footer {
	font-size:		90%;
	padding:		2px 4px;
	margin:			1.5em 1em 0 1em;

	background-color:	#d4e4ff;		/* $c=footnotebg = auto:main */
	border-radius:		2px;
}
/* 脚注 */
section footer p.footnote {
	margin-top:		0;
	margin-bottom:		0;
}

/* 記事フッタ */
div.body-footer {
}

/*--------------------------------------------------------------------
■sidebar内の配置設定
--------------------------------------------------------------------*/
/* sidebar の 1項目 */
div.hatena-module {
	margin-bottom:		1.3em;
}
div.hatena-moduletitle {
	font-size:		12pt;
	color:			#000;		/* $c=fixfont */
	font-weight:		bold;
	font-weight:		900;
	letter-spacing:		3px;

	text-shadow:		 1px -1px 1px #f8f8f8,
				 1px  1px 1px #f8f8f8,
				-1px  1px 1px #f8f8f8,
				-1px -1px 1px #f8f8f8,
				4px 2px 2px rgba(0,0,0,0.6);
}
div.hatena-modulebody {
	padding:		0 4px;
}
div.hatena-module a {
}

/* タイトル一覧など */
ul.hatena-section {
	list-style-type:	none;
	margin:			2px 0em 0.3em 0.3em;
	padding:		0px;
}
/* 2段目のリスト */
ul.hatena-section ul {
	list-style-type:	none;
	margin:			0 0 0.2em 1em;
	padding:		0px;
}

#sidebar p {
	margin-top:		0.5em;
	margin-bottom:		0.5em;
}

div.hatena-moduletitle a,
div.hatena-moduletitle a:link,
div.hatena-moduletitle a:visited {
	text-decoration:	none;
	color:			inherit;
}

/* コンテンツリスト */
.hatena-module.side-contents-list ul.hatena-section {
	line-height:		160%;
}

/* Informationのタイトルを出さない */
body:not(.system) #side-information div.hatena-moduletitle {
	display:		none;
}

/******************************************************************************/
/******************************************************************************/
/*--------------------------------------------------------------------
■記事ヘッダ
--------------------------------------------------------------------*/
div.art-info > span:not(:last-child) {
	margin-right:		0.5em;
}
/* タグ一覧 */
div.art-info span.tags:before {
	content:		'[';
}
div.art-info span.tags:after {
	content:		']';
}
div.art-info span.tag:not(:last-child):after {
	content:		',';
}
span.tag:not(:last-child) {
	margin-right:		0.5em;
}

/*--------------------------------------------------------------------
■記事見出し
--------------------------------------------------------------------*/
/* 見出し */
.body h3 {
	font-size:		110%;
	font-weight:		bold;

	padding:		6px 0 6px 6px;
	margin-top:		1em;
	border-left:		3px solid #39f;		/* $c=h3border = main */
}
.body h3 span.timestamp {
	font-size:		90%;
	font-weight:		normal;
}
.body h3 a {
	text-decoration:	none;
}
.body h3 a, .body h3 a:link, .body h3 a:visited {
	color:			#333;
}

/* 小見出し */
div.body h4 {
	font-size:		100%;
	font-weight:		bold;
	border-bottom:		1px dotted #a5bce7;	/* $c=border */
}
div.body h5 {
	font-size:		100%;
	font-weight:		bold;
}
/* 小見出しへのリンク */
div.body h4 a, div.body h5 a {
	font-size:		inherit;
	color:			inherit;
	text-decoration:	inherit;
}

/*--------------------------------------------------------------------
■記事内部
--------------------------------------------------------------------*/
div.body p {
	margin:			0.7em 0.5em 0.7em 0;
}

blockquote, pre, div.box {
	margin:			0.5em 2em 0.5em 2em;
	padding:		0.3em 1em 0.3em 1em;
	border:			1px solid #abc;		/* $c=preborder */
	border-radius:		4px;
}
div.body blockquote p {
	margin:			0.2em 0.5em 0.2em 0;
}
pre:not(.syntax-highlight) {
	background-color:	#eef4ff;		/* $c=prebg */
	overflow:		auto;
}

/* pre 中コメント */
pre span.comment	{ color: #c30; }			/* $c=fixstrongfont */
pre strong.comment	{ color: #c30; font-weight: bold; }	/* $c=fixstrongfont */
em {
	font-style:		normal;
	text-decoration:	none;
	color:			#c30;				/* $c=fixstrongfont */
}

/* 強調 */
article:not(.system) strong { color: #c30; }			/* $c=fixstrongfont */

dt { font-weight:	bold; }

/*--------------------------------------------------------------------
●記事：テーブル
--------------------------------------------------------------------*/
.body table,
.ui-dialog table {
	font-size:		90%;
	margin:			0.5em 1em;
	border-collapse:	collapse;
	border-spacing:		2px;
	empty-cells:		show;
}
.body blockquote table,
.body div.box table {
	margin-left:		0;
	margin-right:		0;
}
.body table tr,
.ui-dialog table tr {
	margin:			0px;
	padding:		0px;
}
.body table td,
.ui-dialog table td {
	margin:			0px;
	padding:		3px 5px;
	border:			1px solid #abc;		/* $c=tableborder = preborder */
}
.body table th,
.ui-dialog table th {
	font-weight:		bold;
	margin:			0px;
	padding:		3px 5px;
	border:			1px solid #abc;		/* $c=tableborder */
	background-color:	#dde3ff;		/* $c=tablebg */
}

/******************************************************************************/
/*--------------------------------------------------------------------
■コメント欄
--------------------------------------------------------------------*/
#com {
	font-size:		10.5pt;
	line-height:		150%;
	margin:			1em 0;
	padding:		1.5em 1.5em 1em 1.5em;

	background-color:	#f4f6fd;		/* $c=combg     = wikibg */
	border:			1px solid #ccc;		/* $c=comborder = artborder */
	border-radius:		8px;
}
#com div.caption a {
	font-weight:		bold;
	text-decoration:	none;
}
#com div.swiches {
	font-size:		10pt;
	margin:			0 0 0 2em;
	padding:		0;
}
div.comment-one {
	margin:			12px 0;
	padding:		0.5em 2px;
	border-top:		1px solid #ccc;		/* $c=comborder */
}
div.com-buttons {
	margin-top:		1em;
}
div.commentator {
	margin-bottom:		0.5em;
}
div.comment-text {
	margin-left:		2em;
}
/* 非公開コメント */
.comment-hidden {
	color:			#808;
}
/* 非表示コメント */
.comment-disable {
	color:			#800;
}
#com-form-separator {
	border:			none;
	height:			1px;
	background:		#999;
	opacity:		0.5;
	margin:			1em 0 1.5em 0;
}
#com div.ip-host-agent {
	color:			#080;
	text-align:		right;
	margin-right:		1em;
}
div.ip-host-agent {
	font-size:		9pt;
	line-height:		120%;
}

/*--------------------------------------------------------------------
●リプライのポップアップ
--------------------------------------------------------------------*/
#popup-com {
	border:			1px solid #000;
	background-color:	#ffd;
	border-radius:		4px;
	box-shadow:		2px 2px 2px 2px rgba(60,60,20,0.75);

	font-size:		10pt;
	padding:		0.5em;
}
#popup-com .ip-host-agent,
#popup-com input {
	display:		none;
}

/*--------------------------------------------------------------------
■検索ウィンドウ
--------------------------------------------------------------------*/
article.system.search div.body {
	padding-bottom:	4px;
}

/******************************************************************************/
/*--------------------------------------------------------------------
●sidebar：カレンダー
--------------------------------------------------------------------*/
table.calendar {
	margin:			6px auto;
	font-size:		95%;
	line-height:		100%;
}
table.calendar td.calendar-prev-month    { text-align: left;  margin-left:  0.5em; }
table.calendar td.calendar-current-month { text-align: center; }
table.calendar td.calendar-next-month    { text-align: right; margin-right: 0.5em; }
table.calendar td {
	text-align:		right;
}
table.calendar td.calendar-weekday {
	background-color:	#ccc;
}
table.calendar td.calendar-day a {
	text-decoration:	underline;
}
table.calendar tr.calendar-wdayname td {
	text-align:		center;
}
table.calendar tbody td {
	padding:		1px 4px;
}
/* 土曜日 */
table.calendar td.w6, table.calendar th.w6 {
	background-color: 	#ccf;
}
/* 日曜日、祝日 */
table.calendar td.w0, table.calendar th.w0,
table.calendar td.holiday {
	background-color: 	#fcc;
}
/* 今日 */
table.calendar td.day-today      { font-weight: bold; }
/* 選択した日付 */
table.calendar td.day-selected {
	border:			1px solid #36c;		/* $c=link */
}
table.calendar td a,
table.calendar td a:link {
	text-decoration:	none;
}
/******************************************************************************/
/*--------------------------------------------------------------------
●メッセージ関連
--------------------------------------------------------------------*/
strong.warning, strong.error,
p.warning, p.error,
div.messages div.warn,
div.messages div.message {
	color:		#c30;			/* $c=fixstrongfont */
}

/*--------------------------------------------------------------------
●ボタンデザイン
--------------------------------------------------------------------*/
button
{
	color:			#000;			/* $c=fixbtnfont */
	font-weight:		bold;
	border:			1px solid #abc;		/* $c=btnborder = preborder */
	border-radius:		6px;
	background-image:	linear-gradient(to bottom,
				#def,				/* $c=btnbg0  */
				#bcf);				/* $c=btnbg1 = auto:btnbg0 */
}
button:hover
{
	border-radius:		6px;
	cursor:			pointer;
	background-image:	linear-gradient(to bottom,
				#eff,				/* $c=btnbghover0 = auto:btnbg0 */
				#cdf);				/* $c=btnbghover1 = auto:btnbg0 */
}

button:disabled
{
	color:			#666;
	background-image:	none;
	background-color:	#abc;				/* $c=btndisable = preborder */
}

/*--------------------------------------------------------------------
●jQuery UI アイコン設定
--------------------------------------------------------------------*/
#ui-icon-autoload {
	background-color:	#3366cc;			/* $c=uiicon = link */
}

/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/* ここより下は管理メニュー内でのみ使用するクラス                           */
/*		システムモードに対応しないテーマでは定義不要                */
/******************************************************************************/
/*--------------------------------------------------------------------
●システム画面
--------------------------------------------------------------------*/
.system .main {
	padding-top:		1em;
}
article.system div.body {
	background-color:	#eff1fd;		/* $c=sysartbg */
}
article.system {
	background-color:	#eff1fd;		/* $c=sysartbg */
	margin:			1em 0;
	padding:		1em;
	border:			1px solid #abc;		/* $c=sysborder = preborder */
	border-radius:		6px;
}
article.system h2 {
	color:			#000;			/* $c=fixfont */
}
article.system h2,
article.system h3 {
	border-left-color:	#334499;		/* $c=sysh3border = linkvisited */
}



/*--------------------------------------------------------------------
●アルバム
--------------------------------------------------------------------*/
.side-folder-tree {
	padding:		6px 2px;
	background-color:	#eff1fd;		/* $c=sysartbg */
	border:			1px solid #abc;		/* $c=sysborder */
	border-radius:		4px;
}
.side-folder-tree .hatena-moduletitle {
	margin-bottom:		2px;
}

/*--------------------------------------------------------------------
●フォームの一般設定
--------------------------------------------------------------------*/
ul.checkbox {
	list-style-type:	none;
}
article.system th {
	background-color:	#d6e1fa;			/* $c=sysdarkbg */
}
article.system td {
	background-color:	#f4f4ff;		/* $c=systd = auto:sysartbg */
}

/* エラー */
th.error, td.error {
	background-color:	#ffccb0;
}
input.error, textarea.error,
th.error input, td.error input {
	background-color:	#ffffaa;
}

/* フォーカス */
th:has(> input:focus),
td:has(> input:focus) {
	background-color:	#ffffcc;		/* $c=fixfocusbg1 */
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
.setting textarea:focus {
	background-color:	#ffeeee;		/* $c=fixfocusbg2 */
}
textarea#editarea:focus {
	background-color:	#fff;
}
textarea#editarea {
	font-size:		11.5pt;
}

/* ツリーとCSS等の編集画面 */
article .treebox,
article:not(.edit) #editarea {
	margin-top:		1em;
	margin-bottom:		1em;
}

/*--------------------------------------------------------------------
●記事の編集画面
--------------------------------------------------------------------*/
article.system.notice {
	margin-bottom:	0.4em;
}
textarea.edit-article {
	width:		98%;
	margin:		0;
}
article.edit form.delete {
	margin-top:	1.5em;
}
article.edit span.element {
	margin-right:	1em;
}

span.edit-caption {
	font-weight:	bold;
	margin-right:	0.3em;
}

/* タグ */
article.edit span.tag {
	font-size:		9pt;
	color:			#600;
	background-color:	#d6e1fa;		/* $c=sysdarkbg */
	border-radius:		6px;
	padding:		0px 4px;
	margin-right:		0.5em;
}

/*--------------------------------------------------------------------
●ポップアップヘルプ, info
--------------------------------------------------------------------*/

.help, .btn-help:after {
	color:			#c3c;
}

div.popup-help {
	min-width:		100px;
	max-width:		360px;
	padding:		0.5em 1em;

	background-color:	#fff;
	color:			#2133a9;		/* $c=fixhelpfont */

	font-size:		11pt;
	/* font-weight:		bold; */

	border:			2px solid #2133a9;	/* $c=fixhelpborder */
	border-radius:		10px;
	box-shadow:		4px 4px 4px 2px rgba(60,60,20,0.75);
}
div.popup-help:before {
	content:		"HELP";
	color:			#fff;
	background-color:	#c33;
	border-radius:		6px;

	font-weight:		bold;
	font-size:		8pt;
	padding:		4px;
	margin:			-2px 4px 0 0px;

	display:		inline-block;
	line-height:		100%;
	vertical-align:		middle;
}
/*
div.popup-help div.additional {
	color:			#000;
	font-weight:		normal;
}
*/

/*--------------------------------------------------------------------
●jQuery UI, popup-info/dialog（テーマREADME/記事のタグヘルパー等）
--------------------------------------------------------------------*/
.ui-dialog {
	background-color:	#eff1fd;		/* $c=sysartbg */
	border:			2px solid #abc;		/* $c=sysborder */
	border-radius:		10px;
	box-shadow:		4px 4px 4px 4px rgba(60,60,100,0.75);
	padding:		0;

	font-size:		10.5pt;
	line-height:		130%;
}
.ui-dialog .ui-widget-header {
	background-color:	#d6e1fa;		/* $c=sysdarkbg */
	font-weight:		bold;
	font-size:		12pt;

	border:			none;
	border-radius:		8px 8px 0 0;
}
.ui-dialog span.ui-dialog-title {
	height:			1em;
	margin-top:		0;
	padding-top:		0;
	padding-bottom:		2px;
}
.ui-dialog button.ui-button {
	border-radius:		4px;
}
.ui-dialog .ui-icon {
	text-indent:		0px;
}
.ui-dialog span.ui-icon-closethick {
}
.ui-dialog .ui-dialog-buttonpane {
	margin-top:		0px;
	padding-top:		0px;
}

/*--------------------------------------------------------------------
●設定ページナビゲーション
--------------------------------------------------------------------*/
nav.tree, nav.tree select {
	font-size:		9pt;
}

nav.tree {
	line-height:		100%;
	display:		block;

	border:			1px solid #abc;		/* $c=sysborder */
	margin-bottom:		1.5em;
	padding:		0.5em 1em 0.5em 1.5em;

	background-color:	#eff1fd;		/* $c=sysartbg */
}

/*--------------------------------------------------------------------
●プログレスバー（import等）
--------------------------------------------------------------------*/
.ui-progressbar {
	padding:		0;
	margin:			0.5em 0;
	max-width:		400px;
	border:			1px solid #abc;		/* $c=sysborder */
	position:		relative;
	background-color:	#fff;
}
.ui-progressbar .label {
	position:		absolute;
	width:			100%;
	text-align:		center;
	font-weight:		bold;
	text-shadow:	 1px -1px 2px #fff,
			 1px -1px 2px #fff,
			-1px  1px 2px #fff,
			 1px  1px 2px #fff;
}
.ui-progressbar,
.ui-progressbar .label:before {
	height:			20px;
	vertical-align:		middle;
}
.ui-progressbar-value {
	padding:		1px 0 0 1px;
	background-color:	#abc;			/* $c=btndisable */
} 


