@charset "UTF-8";
/*******************************************************************************
  Satsuki style - Ver2
						(C)2015 nabe@abk
*******************************************************************************/
/* [TAB=8] */
/*--------------------------------------------------------------------
■全体配置
--------------------------------------------------------------------*/
body
{
	background-color:	#fff;		/* $c=fixbg */
	color:			#000;		/* $c=fixfont */
	font-size:		12pt;

	margin:			0;
	padding:		0;
	min-width:		600px;
	line-height:		130%;
}
/* 見出し */
h1
{
	font-size:		20pt;
	font-weight:		normal;
	line-height:		100%;
	border-bottom:		2px solid #6b75b8;	/* $c=border */
	padding:		0 0.5em;
	margin:			0.6em 0 0 0;
}
h1 a, h1 a:link, h1 a:visited {
	color:			inherit;
	font-weight:		inherit;
	text-decoration:	inherit;
}
h1 img, h1 a img {
	border:			none;
}

/* 全体配置用 */
#hatena-body {
	margin:			1em 0;
	padding:		0 8px;
}
#hatena-body:after {
	content:		"";
	clear:			both;
	display:		block;
}

/* 記事部 */
.main {
	float:			right;
	width:			calc(100% - 176px);
	padding-right:		4px;
}
/* 左側にメニューを配置 */
#sidebar
{
	float:			left;
	width:			160px;
	margin:			0;
	padding:		0;

	font-size:		10pt;
	line-height:		130%;
}

@media screen and (min-width: 940px) {
	.main {
		width:		calc(82% - 16px);
	}
	#sidebar {
		width:		18%;
	}
}

/* フッタの配置 */
#footer
{
	border-top:		2px solid #6b75b8;	/* $c=border */
	text-align:		right;
	margin:			30px 0 0.6em 0;
	padding:		0 1em;
	font-size:		10pt;
	line-height:		120%;
}

/* overflow防止 */
/* #side-a, #side-b, article {
	overflow:		hidden;
	text-overflow:		ellipsis;
} */

/*--------------------------------------------------------------------
■表示オプション（右サイドバー）
--------------------------------------------------------------------*/
/* $option=right-sidebar
.main {
	float:			left;
}
#sidebar {
	float:			right;
}
-------------------- */

/*--------------------------------------------------------------------
■表示オプション（レスポンシブ、両サイドバー）
--------------------------------------------------------------------*/
/*
$option:title=sidebar-position
$option=multi-sidebar
#sidebar-move-to-before-main {
	min-width:		1px;
}

@media screen and (min-width: 920px) {
.main {
	width:			62%;
	float:			left;
	padding-left:		1%;
	padding-right:		0;
}
#sidebar {
	float:			none;
	width:			auto;
}
#side-a {
	float:			left;
	width:			18%;
}
#side-b {
	float:			right;
	width:			18%;
}

}
-------------------- */

/*--------------------------------------------------------------------
■ヘッダメニュー
--------------------------------------------------------------------*/
#nav-header {
	text-align:		right;
	font-size:		10pt;
	line-height:		100%;
	display:		block;
	margin:			1px 0 0 0;
}

#nav-header a, #nav-header a:link, #nav-header a:visited {
	color:			#33f;	/* $c=link */
}
/* ○○さん */
a.welcome-name { margin: 0px 4px 0px 4px; }

/*--------------------------------------------------------------------
■ドロップダウンメニュー
--------------------------------------------------------------------*/
.ddmenu {
	margin-bottom:		1em;
}

/* 背景色（非選択色） */
.ddmenu,
.ddmenu>ul li {
	background-color:	#ccccff;	/* $c=ddbg = main */
}
/* 選択色 */
.ddmenu>ul li:hover,
.ddmenu>ul li.hover {
	background-color:	#f0f0ff;	/* $c=ddhover = auto:main  */
}
/* 枠線 */
.ddmenu>ul li a,
.ddmenu>ul ul {
	border-color:		#aac;		/* $c=ddborder = auto:main */
}
/* 文字 */
.ddmenu a:link,
.ddmenu a:visited
{
	color:			#33f;	/* $c=ddfont=link */
}
/* 矢印の色 */
.ddmenu li ul li ul:before,
.ddmenu.sp li ul:before {
	border-left-color:	#338;	/* $c=ddarrow = auto:link */
}
.ddmenu:not(.sp) li:last-child:not(:first-child) ul li ul:before {
	border-left-color:	transparent;
	border-right-color:	#338;	/* $c=ddarrow */
}
/* 設定画面に矢印の色を自動取得させるための指定 */
.ddmenu {
	color:			#338;	/* $c=ddarrow */
}

/*--------------------------------------------------------------------
■ページ送り
--------------------------------------------------------------------*/
nav.page-nav {
	font-size:	10pt;
	line-height:	100%;
	margin:		1em 0;
}
nav.page-nav a {
	display:	inline-block;
}
nav.page-nav a:first-child {
	margin-right:	1em;
}
nav.page-nav a:last-child {
	margin-left:	1em;
}

/*--------------------------------------------------------------------
■記事のデザイン配置（本文）
--------------------------------------------------------------------*/
/* 1つの記事 */
article {
	clear:			both;
	margin-bottom:		1.5em;
	border-radius:		8px;
	box-shadow:		4px 4px 3px 3px rgba(0,0,0, 0.3);
}

/* 記事タイトル */
article h2 {
	background-color:	#adb8ff;		/* $c=main2 = auto:main */
	padding:		2px 8px 2px 8px;
	font-size:		100%;
	margin:			0px;

	border:			2px solid #6b75b8;	/* $c=border */
	border-bottom:		none;
	border-radius:		8px 8px 0 0;
}
article h2 a.date {
	font-size:		80%;
	text-decoration:	none;
	margin-right:		1em;
}

/* 記事本文 */
article div.body {
	background-color:	#fff;			/* $c=fixartbg */
	font-size:		90%;
	line-height:		140%;
	margin:			0px;
	padding:		0.5em 1em 0.5em 1.5em;

	border:			2px solid #6b75b8;	/* $c=border */
	border-top:		none;
	border-radius:		0 0 8px 8px;
}
/* コンテンツ記事 */
article.wiki div.body {
	background-color:	#f4f4ff;		/* $c=wikibg */
}
/* 記事ヘッダ */
div.art-info {
	text-align:		right;
	line-height:		100%;
	font-size:		90%;
	padding:		0;
	margin:			0 0.2em 0 0;
}

/* 記事中のセクション */
article section {
	margin-top: 		0.5%;
	margin-bottom:		3%;
}

/* セクションフッタ */
section footer {
	font-size:		90%;
	margin:			1.5em 1em 0 1em;
	background-color:	#e3efff;		/* $c=footnotebg=prebg */
}
/* 脚注 */
section footer p.footnote {
	margin-top:		0;
	margin-bottom:		0;
}

/* 記事フッタ */
div.body-footer {
}


/*--------------------------------------------------------------------
■sidebar内の配置設定
--------------------------------------------------------------------*/
/* sidebar の 1項目 */
div.hatena-module {
	margin:			0 0 1.3em 0;
	padding:		0;
}
div.hatena-moduletitle {
	margin:			0 0 0 0;
	padding:		2px 0 2px 0;
	text-align:		center;
	background-color:	#adb8ff;		/* $c=main2 */
	border-bottom:		1px solid #6b75b8;	/* $c=border */
	border-radius:		4px 4px 0px 0px;
}
div.hatena-modulebody {
	margin:			0.3em 0.5em 0.3em 0.5em;
}
#sidebar p {
	margin-top:		0.5em;
	margin-bottom:		0.5em;
}
/* Informationのタイトルを出さない */
div#side-information div.hatena-moduletitle {
	display:		none;
}

/* コンテンツ */
div.side-contents-list div.hatena-moduletitle a {
	text-decoration:	none;
}

div.side-contents-list div.hatena-moduletitle {
	background-color:	inherit;
	text-align:		left;
	vertical-align:		bottom;

	border-bottom:		2px solid black;
	font-weight:		bold;
	padding:		0 0 0 0.1em;
}

/*--------------------------------------------------------------------
■リンク配色
--------------------------------------------------------------------*/
a:link		{ color: #3333ff; }	/* $c=link */
a:visited	{ color: #551a8b; }	/* $c=linkvisited */

/******************************************************************************/
/******************************************************************************/
/*--------------------------------------------------------------------
■記事ヘッダ
--------------------------------------------------------------------*/
div.art-info > span:not(:last-child) {
	margin-right:		0.5em;
}
/* タグ一覧 */
div.art-info span.tags:before {
	content:		'[';
}
div.art-info span.tags:after {
	content:		']';
}
div.art-info span.tag:not(:last-child):after {
	content:		',';
}
span.tag:not(:last-child) {
	margin-right:		0.5em;
}


/*--------------------------------------------------------------------
■記事見出し
--------------------------------------------------------------------*/
/* 見出し */
div.body h3 {
	font-size:		120%;
	font-weight:		bold;
	padding:		4px 0px 4px 8px;
	border-left:		6px solid #6b75b8;	/* $c=border */
	background-color:	#e8e8ff;		/* $c=h3bg= auto:main */

	border-radius:		0 6px 6px 0;
	box-shadow:		4px 4px 2px 2px rgba(0,0,0, 0.4);
}
div.body h3 span.timestamp {
	font-size:		100%;
	font-weight:		normal;
}
div.body h3 a {
	text-decoration:	none;
}
/* 小見出し */
div.body h4 {
	font-size:		100%;
	font-weight:		bold;
	border-bottom:		1px solid #6b75b8;	/* $c=border */
}
div.body h5 {
	font-size:		100%;
	font-weight:		bold;
}
/* 小見出しへのリンク */
div.body h4 a, div.body h5 a {
	font-size:		inherit;
	color:			inherit;
	text-decoration:	inherit;
}

/*--------------------------------------------------------------------
■記事内部
--------------------------------------------------------------------*/
div.body p {
	margin:			0.7em 0.5em 0.7em 0;
}

blockquote, pre, div.box {
	margin:			0.5em 2em 0.5em 2em;
	padding:		0.3em 1em 0.3em 1em;
	border:			1px solid #6b75b8;	/* $c=border */
	border-radius:		4px;
}
div.body blockquote p {
	margin:			0.2em 0.5em 0.2em 0;
}
pre:not(.syntax-highlight) {
	background-color:	#e3efff;		/* $c=prebg */
}

/* pre 中コメント */
pre span.comment	{ color: #c30; }			/* $c=fixstrongfont */
pre strong.comment	{ color: #c30; font-weight: bold; }	/* $c=fixstrongfont */
em {
	font-style:		normal;
	text-decoration:	none;
	color:			#c30;				/* $c=fixstrongfont */
}

/* 強調 */
article:not(.system) strong { color: #c30; }			/* $c=fixstrongfont */

dt { font-weight:	bold; }

/*--------------------------------------------------------------------
●記事：テーブル
--------------------------------------------------------------------*/
.body table,
.ui-dialog table {
	font-size:		inherit;
	margin:			0.5em 1em 0.5em 1em;
	border-collapse:	separate;
	border-spacing:		2px;
	empty-cells:		show;
}
.body blockquote table,
.body div.box table {
	margin-left:		0;
	margin-right:		0;
}
.body table tr,
.ui-dialog table tr {
	margin:			0px;
	padding:		0px;
}
.body table td,
.ui-dialog table td {
	margin:			0px;
	padding:		2px;
	border-bottom:		1px dashed #000;
}
.body table th,
.ui-dialog table th {
	font-weight:		bold;
	margin:			0px;
	padding:		2px;
	border-bottom:		1px solid #000;
	background-color:	#ccf;		/* $c=main */
}

/******************************************************************************/
/*--------------------------------------------------------------------
■コメント欄
--------------------------------------------------------------------*/
#com {
	margin-top:		0.5em;
	padding:		1em;
	font-size:		10.5pt;
	line-height:		150%;

	border-radius:		8px;
	border:			2px solid #6b75b8;	/* $c=border */
	background-color:	#f4f4ff;		/* $c=combg= wikibg */
	box-shadow:		4px 4px 3px 3px rgba(0,0,0, 0.3);
}
#com div.caption a {
	font-weight:		bold;
	text-decoration:	none;
}

#com div.swiches {
	font-size:		10pt;
	margin:			0 0 0 2em;
	padding:		0;
}

div.comment-one {
	margin:			1em 0;

}
div.commentator {
	border-bottom:		1px solid #6b75b8;	/* $c=border */
}
div.comment-text {
	margin-left:		2em;
}
/* 非公開コメント */
.comment-hidden {
	color:			#808;
}
/* 非表示コメント */
.comment-disable {
	color:			#800;
}
#com div.ip-host-agent {
	color:			#080;
	text-align:		right;
	margin-right:		1em;
	display:		none;
}
div.ip-host-agent {
	font-size:		9pt;
	line-height:		120%;
}

/* リプライやコメント一覧画面でのポップアップ表示 */
#popup-com {
	border:			1px solid #000;
	background-color:	#ffd;
	border-radius:		4px;
	box-shadow:		4px 4px 2px 2px rgba(60,60,20,0.75);

	font-size:		10pt;
	padding:		0.5em;
}

/*--------------------------------------------------------------------
■検索ウィンドウ
--------------------------------------------------------------------*/
article.system.search div.body {
	padding-bottom:	4px;
}

/******************************************************************************/
/*--------------------------------------------------------------------
●sidebar：カレンダー
--------------------------------------------------------------------*/
table.calendar {
	margin:			4px auto;
	line-height:		100%;
}
table.calendar td.calendar-prev-month    { text-align: left;  margin-left:  0.5em; }
table.calendar td.calendar-current-month { text-align: center; }
table.calendar td.calendar-next-month    { text-align: right; margin-right: 0.5em; }
table.calendar td {
	text-align:		right;
}
table.calendar td.calendar-day a {
	text-decoration:	underline;
}
/* 土曜日 */
table.calendar td.w6, table.calendar th.w6 {
	background-color: 	#ccf;
}
/* 日曜日、祝日 */
table.calendar td.w0, table.calendar th.w0,
table.calendar td.holiday {
	background-color: 	#fcc;
}
/* 今日 */
table.calendar td.day-today      { font-weight: bold; }
/* 選択した日付 */
table.calendar td.day-selected {
	text-decoration:	none;
	border:			1px solid #33f;		/* $c=link */
}

/*--------------------------------------------------------------------
●sidebar：タグ
--------------------------------------------------------------------*/
/* タイトル一覧など */
ul.hatena-section {
	list-style-type:	none;
	margin:			0.3em 0em 0.3em 0.3em;
	padding:		0px;
}

/* 2段目のリスト */
ul.hatena-section ul {
	list-style-type:	none;
	margin:			0 0 0.2em 1em;
	padding:		0px;
}

/******************************************************************************/
/*--------------------------------------------------------------------
●メッセージ関連
--------------------------------------------------------------------*/
strong.warning, strong.error,
p.warning, p.error,
div.messages div.warn,
div.messages div.message {
	color:		#c30;			/* $c=fixstrongfont */
}

/*--------------------------------------------------------------------
●ボタンデザイン
--------------------------------------------------------------------*/
button
{
	color:			#000;			/* $c=fixfont */
	font-weight:		bold;
	border:			1px solid #66c;		/* $c=btnborder */
	border-radius:		6px;
	background-image:	linear-gradient(to bottom,
				#ddf,			/* $c=btnbg0 = auto:main */
				#aaf);			/* $c=btnbg1 = auto:main */
}
button:hover
{
	border-radius:		6px;
	cursor:			pointer;
	background-image:	linear-gradient(to bottom,
				#eef,			/* $c=btnbghover0 = auto:main */
				#ccf);			/* $c=btnbghover1 = auto:main */

}

button:disabled
{
	color:			#666;
	background-image:	none;
	background-color:	#aac;			/* $c=btndisable = auto:main */
}

/*--------------------------------------------------------------------
●jQuery UI アイコン設定
--------------------------------------------------------------------*/
#ui-icon-autoload {
	background-color:	#0000ff;		/* $c=uiicon=link */
}

/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/* ここより下は管理メニュー内でのみ使用するクラス                           */
/*		システムモードに対応しないテーマでは定義不要                */
/******************************************************************************/
/*--------------------------------------------------------------------
●システム画面
--------------------------------------------------------------------*/
article.system div.body {
	background-color:	#eeeeff;		/* $c=sysartbg = auto:wikibg */
}
article.system div.body {
	padding-bottom:		1em;
}
article.system div.body h3 {
	background-color:	#ccf;			/* $c=main */
}
/*--------------------------------------------------------------------
●フォームの一般設定
--------------------------------------------------------------------*/
ul.checkbox {
	list-style-type:	none;
}

/* エラー */
th.error, td.error {
	background-color:	#ffccb0;
}
input.error, textarea.error,
th.error input, td.error input {
	background-color:	#ffffaa;
}

/* フォーカス */
th:has(> input:focus),
td:has(> input:focus) {
	background-color:	#ffffcc;	/* $c=fixfocusbg1 */
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
.setting textarea:focus {
	background-color:	#ffeeee;	/* $c=fixfocusbg2 */
}
textarea#editarea:focus {
	background-color:	#fff;
}
textarea#editarea {
	font-size:		11.5pt;
}

/* ツリーとCSS等の編集画面 */
article .treebox,
article:not(.edit) #editarea {
	margin-top:		1em;
	margin-bottom:		1em;
}

/*--------------------------------------------------------------------
●記事の編集画面
--------------------------------------------------------------------*/
article.system.notice {
	margin-bottom:	0.4em;
}
textarea.edit-article {
	width:		98%;
	margin:		0;
}
article.edit form.delete {
	margin-top:	1.5em;
}
article.edit span.element {
	margin-right:	1em;
}

span.edit-caption {
	font-weight:	bold;
	margin-right:	0.3em;
}

/* タグ */
article.edit span.tag {
	font-size:		9pt;
	color:			#600;
	background-color:	#ccf;		/* $c=main */
	border-radius:		6px;
	padding:		0px 4px;
	margin-right:		0.5em;
}

/*--------------------------------------------------------------------
●ポップアップヘルプ, info
--------------------------------------------------------------------*/
.help, .btn-help:after {
	color:			#c3c;
}

div.popup-help {
	min-width:		100px;
	max-width:		360px;
	padding:		0.5em 1em;

	background-color:	#fff;
	color:			#6b75b8;		/* $c=fixhelpfont */

	font-size:		11pt;
	/* font-weight:		bold; */

	border:			2px solid #6b75b8;	/* $c=border */
	border-radius:		10px;
	box-shadow:		2px 2px 2px 2px rgba(60,60,60,0.75);
}
div.popup-help:before {
	content:		"HELP";
	color:			#fff;
	background-color:	#c33;
	border-radius:		6px;

	font-weight:		bold;
	font-size:		8pt;
	padding:		4px;
	margin:			-2px 4px 0 0px;

	display:		inline-block;
	line-height:		100%;
	vertical-align:		middle;
}
/*
div.popup-help div.additional {
	color:			#000;
	font-weight:		normal;
}
*/

/*--------------------------------------------------------------------
●jQuery UI, popup-info/dialog（テーマREADME/記事のタグヘルパー等）
--------------------------------------------------------------------*/
.ui-dialog {
	background-color:	#eeeeff;		/* $c=sysartbg */
	border:			2px solid #6b75b8;	/* $c=border */
	border-radius:		10px;
	box-shadow:		8px 8px 4px 4px rgba(60,60,100,0.75);

	font-size:		10.5pt;
	line-height:		130%;
}
.ui-dialog .ui-widget-header {
	background-color:	#adb8ff;		/* $c=main2 */
	font-weight:		bold;
	font-size:		12pt;

	border:			none;
	border-radius:		8px 8px 0 0;
}
.ui-dialog span.ui-dialog-title {
	height:			1em;
	padding-bottom:		2px;
}
.ui-dialog button.ui-button {
	border-radius:		4px;
}

/*--------------------------------------------------------------------
●設定ページナビゲーション
--------------------------------------------------------------------*/
nav.tree, nav.tree select {
	font-size:		9pt;
}

nav.tree {
	line-height:		100%;
	display:		block;

	border:			1px solid #6b75b8;	/* $c=border */
	margin-bottom:		1.5em;
	padding:		0.5em 1em 0.5em 1.5em;

	background-color:	#eeeeff;		/* $c=sysartbg */
}

/*--------------------------------------------------------------------
●プログレスバー（import等）
--------------------------------------------------------------------*/
.ui-progressbar {
	margin:			0.5em 0;
	max-width:		400px;
	border-color:		#6b75b8;	/* $c=border */
	background-color:	#fff;
}
.ui-progressbar .label {
	color:			#000;
	font-weight:		bold;
	text-shadow:	 1px -1px 2px #fff,
			 1px -1px 2px #fff,
			-1px  1px 2px #fff,
			 1px  1px 2px #fff;
}
.ui-progressbar,
.ui-progressbar .label:before {
	height:			20px;
	vertical-align:		middle;
}
.ui-progressbar-value {
	background-color:	#aac;			/* $c=btndisable */
}

/******************************************************************************/
/*--------------------------------------------------------------------
■枠線カスタマイズ
--------------------------------------------------------------------*/
/*
$option2:title=border-size
$option2=1px-border
article h2, article div.body,#com {
	border-width:		1px;
}
-------------------- */
