@charset "UTF-8";
/*****************************************************************************
  Satsuki style - Ver2
					2007/05/26 (C)nabe@abk.nu
*****************************************************************************/
@import url("../base.css");
/*--------------------------------------------------------------------
■初期設定
---------------------------------------------------------------------*/
section, article {
	display:		block;
}
/*--------------------------------------------------------------------
■全体配置
---------------------------------------------------------------------*/
body
{
	background-color:	#fff;
	color:			#000;
	font-size:		12pt;

	margin-left:		auto;
	margin-right:		auto;
	margin-top:		0px;
	min-width:		400px;
	line-height:		130%;
}
/* 見出し */
h1
{
	font-size:		20pt;
	font-weight:		normal;
	border-bottom:		2px solid #2133a9;
	padding:		4px 1em 4px 0.5em;
	margin:			0.5em 0em 1em 0em;
}
h1 a, h1 a:link, h1 a:visited {
	color:			inherit;
	font-weight:		inherit;
	text-decoration:	inherit;
}
h1 img, h1 a img {
	border:			none;
}
/* 全体配置用 */
#hatena-body {
	position:		relative;
	margin:			1em 1em 1em 1em;
	width:			98%;
}
/* 記事部 */
div.main {
	margin-left:		17%;
	padding:		0px 8px 0px 8px;
/*	min-height:		320px;	*/
}
/* 左側にメニューを配置 */
#sidebar
{
	position:		absolute;
	left:			0px;
	top:			0px;
	width:			16%;
	margin:			0;
	padding:		0;
	min-width:		150px;

	font-size:		10pt;
	line-height:		130%;
}
/* フッタの配置 */
#footer
{
	border-top:		2px solid #008;
	text-align:		right;
	margin:			0 0 0 0;
	font-size:		10pt;
	line-height:		120%;
}

/* overflow防止 */
/* #side-a, #side-b, article {
	overflow:		hidden;
	text-overflow:		ellipsis;
} */

/*--------------------------------------------------------------------
■ヘッダメニュー
---------------------------------------------------------------------*/
#nav-header {
	text-align:		right;
	font-size:		10pt;
	line-height:		100%;
	display:		block;
	margin:			1px 0 1em 0;
}

#nav-header a, #nav-header a:link, #nav-header a:visited {
	color:			#00f;
	text-decoration:	none;
}
/* ようこそ */
span.welcome-prefix { text-decoration: none; color: #000; }
/* ○○さん */
span.welcome      { margin-right: 0.5em; }
span.welcome-name { margin: 0px 4px 0px 4px; }
span.welcome a, span.welcome a:link, span.welcome a:visited {
	color:			inherit;
	font-weight:		inherit;
	text-decoration:	none;
}

/*--------------------------------------------------------------------
■ページ送り
---------------------------------------------------------------------*/
nav.page-nav {
	font-size:	10pt;
	line-height:	100%;
	margin:		1em 0;
}
nav.page-nav a {
	display:	inline-block;
}
nav.page-nav a:first-child {
	margin-right:	1em;
}
nav.page-nav a:last-child {
	margin-left:	1em;
}
a.prev-page:before,
a.upnode-page:before,
a.next-page:after {
	display:	inline-block;
	width:		16px;
	height:		16px;
	background-image:	url(ui-icons.png);
	content:	' ';
	vertical-align:	bottom;
}
a.prev-page:before {
	background-position: -208px -16px;
}
a.upnode-page:before {
	background-position: -224px -16px;
}
a.next-page:after {
	background-position: -240px -16px;
}

/*--------------------------------------------------------------------
■記事のデザイン配置（本文）
---------------------------------------------------------------------*/
/* 1つの記事 */
article {
	margin-bottom:		1.5em;
}
/* 記事タイトル */
article h2 {
	background-color:	#93b3ff;
	border:			2px solid #2133a9;
	border-bottom:		none;
	padding:		2px 8px 2px 8px;
	font-size:		100%;
	margin:			0px;
	border-radius:		8px 8px 0 0;
}
article h2 a.date {
	font-size:		80%;
	text-decoration:	none;
	margin-right:		1em;
}

/* 記事本文 */
article div.body {
	background-color:	#fff;
	font-size:		90%;
	line-height:		140%;
	border:			2px solid #2133a9;
	border-top:		none;
	margin:			0px;
	padding:		0.5em 1em 0.5em 1.5em;
	border-radius:		0 0 8px 8px;
}
/* コンテンツ記事 */
article.wiki div.body {
	background-color:	#f4f8ff;
}
/* 記事ヘッダ */
div.body-header {
	text-align:		right;
	line-height:		100%;
	font-size:		90%;
	padding:		0;
	margin:			0 0.2em 0 0;
}

/* 記事中のセクション */
article section {
	margin-top: 		0.5%;
	margin-bottom:		3%;
}

/* セクションフッタ */
section footer {
	font-size:		90%;
	margin:			1.5em 1em 0 1em;
	background-color:	#e3efff;
}
/* 脚注 */
section footer p.footnote {
	margin-top:		0;
	margin-bottom:		0;
}

/* 記事フッタ */
div.body-footer {
	line-height:		100%;
	font-size:		90%;
	margin:			0 0 0 0.5em;
	vertical-align:		middle;
}

/* ソーシャルアイコン */
div.social-buttons {
	margin-left:		1em;
	display:		inline-block;
}
div.body-footer div.social-buttons:first-child {
	margin-left:		0;
}

/*--------------------------------------------------------------------
■sidebar内の配置設定
---------------------------------------------------------------------*/
/* sidebar の 1項目 */
div.hatena-module {
	margin:			0 0 1.3em 0;
	padding:		0;
	font-size:		95%;
	line-height:		120%;
/*	border:			2px solid #39ade9;	*/
}
div.hatena-moduletitle {
	margin:			0 0 0 0;
	padding:		2px 0 2px 0;
	text-align:		center;
	background-color:	#93b3f7;
	border-bottom:		1px solid #2133a9;
	border-radius:		4px 4px 0px 0px;
}
div.hatena-modulebody {
	margin:			0.3em 0.5em 0.3em 0.5em;
}
div#side-calendar div.hatena-modulebody table {
	font-size:		100%;
	margin:			0.3em auto;
}
#sidebar p {
	margin-top:		0.5em;
	margin-bottom:		0.5em;
}
/* Informationのタイトルを出さない */
div#side-information div.hatena-moduletitle {
	display:		none;
}

/* コンテンツ */
div.side-contents-list div.hatena-moduletitle a {
	text-decoration:	none;
}

div.side-contents-list div.hatena-moduletitle {
	background-color:	inherit;
	text-align:		left;
	vertical-align:		bottom;

	border-bottom:		2px solid black;
	font-weight:		bold;
	padding:		0 0 0 0.1em;
}

/*--------------------------------------------------------------------
■リンク配色
---------------------------------------------------------------------*/
a:link		{ color: #0000ff; }
a:visited	{ color: #551a8b; }

/****************************************************************************/
/****************************************************************************/
/*--------------------------------------------------------------------
■記事ヘッダ
---------------------------------------------------------------------*/
div.body-header > span:not(:last-child) {
	margin-right:		0.5em;
}
/* タグ一覧 */
div.body-header span.tags:before {
	content:		'[';
}
div.body-header span.tags:after {
	content:		']';
}
span.tag:not(:last-child) {
	margin-right:		0.5em;
}
span.tag:not(:last-child):after {
	content:		',';
}

/*--------------------------------------------------------------------
■記事見出し
---------------------------------------------------------------------*/
/* 見出し */
div.body h3 {
	font-size:		120%;
	font-weight:		bold;
	padding:		4px 0px 4px 8px;
	border-left:		6px solid #2133a9;
	background-color:	#e8e8ff;
}
div.body h3 span.timestamp {
	font-size:		100%;
	font-weight:		normal;
}
div.body h3 a.linkall {
	text-decoration:	none;
}
/* 小見出し */
div.body h4 {
	font-size:		100%;
	font-weight:		bold;
	border-bottom:		1px solid #2133a9;
}
div.body h5 {
	font-size:		100%;
	font-weight:		bold;
}
/* 小見出しへのリンク */
div.body h4 a, div.body h5 a {
	font-size:		inherit;
	color:			inherit;
	text-decoration:	inherit;
}

/*--------------------------------------------------------------------
■記事内部
---------------------------------------------------------------------*/
div.body p {
	margin:			0.7em 0.5em 0.7em 0;
}

blockquote, pre, div.box {
	margin:			0.5em 2em 0.5em 2em;
	padding:		0.3em 1em 0.3em 1em;
	border:			1px solid #2133a9;
}
div.body blockquote p {
	margin:			0.2em 0.5em 0.2em 0;
}
pre {
	font-family:		monospace;
	display:		block;
	background-color:	#e3efff;
/*	overflow:		auto;	*/	/* はみ出した部分は scroll bar */
}

/* pre 中コメント */
pre span.comment	{ color: #b50; }
pre strong.comment	{ color: #b50; font-weight: bold; }


/* 強調 */
em {
	font-style:		normal;
	text-decoration:	underline;
}

dt { font-weight:	bold; }

/*--------------------------------------------------------------------
●記事：テーブル
---------------------------------------------------------------------*/
.body table {
	font-size:		inherit;
	margin:			0.5em 1em 0.5em 1em;
	border-collapse:	separate;
	border-spacing:		2px;
	empty-cells:		show;
}
.body table tr {
	margin:			0px;
	padding:		0px;
}
.body table td {
	margin:			0px;
	padding:		2px;
	border-bottom:		1px dashed #000;
}
.body table th {
	font-weight:		bold;
	margin:			0px;
	padding:		2px;
	border-bottom:		1px solid #000;
	background-color:	#ccf;
}

/****************************************************************************/
/*--------------------------------------------------------------------
■コメント欄
---------------------------------------------------------------------*/
#com {
	margin-top:		0.5em;
	padding:		1em;
	font-size:		10.5pt;
	line-height:		150%;

	border-radius:		8px;
	border:			2px solid #2133a9;
	background-color:	#f1f1ff;
}
#com div.caption a {
	font-weight:		bold;
	text-decoration:	none;
}

#com p.abbr-msg {
	font-size:		10pt;
	margin:			0 0 0 2em;
	padding:		0;
}

div.comment-one {
	margin:			1em 0;

}
div.commentator {
	border-bottom:		1px solid #2133a9;
}
div.comment-text {
	margin-left:		2em;
}
.comment-hidden {
	color:			#080;
}
.comment-disable {
	color:			#800;
}
#com div.ip-host-agent {
	color:			#080;
	text-align:		right;
	margin-right:		1em;
	display:		none;
}
div.ip-host-agent {
	font-size:		9pt;
	line-height:		120%;
}

/*--------------------------------------------------------------------
●リプライのポップアップ
---------------------------------------------------------------------*/
#popup-com {
	border:			1px solid #000;
	background-color:	#ffd;
	border-radius:		4px;
	box-shadow:		2px 2px rgba(60,60,20,0.75);

	font-size:		10pt;
	padding:		0.5em;
}
#popup-com .ip-host-agent,
#popup-com input {
	display:		none;
}

/*--------------------------------------------------------------------
■検索ウィンドウ
---------------------------------------------------------------------*/
/* 検索条件表示 */
article.search div.cond {
	vertical-align:		middle;
}
span.tag span.ui-icon,
.yyyymm  span.ui-icon {
	width:		12px;
	margin-left:	-2px;
}
span.tag span.ui-icon:hover,
.yyyymm  span.ui-icon:hover {
	cursor:		pointer;
}

/* 絞り込み項目 */
article.search div.narrow {
	font-size:	9pt;
	line-height:	150%;
}
article.search span.search-caption {
	font-weight:	bold;
	color:		#900;
	margin-right:	0.3em;
}
div.narrow span.search-caption:after {
	content:	'>>';
}
article.search div.hits {
	margin-top:	0.3em;
}
article.system.search div.body {
	padding-bottom:	0.3em;
}

/****************************************************************************/
/*--------------------------------------------------------------------
●sidebar：カレンダー
---------------------------------------------------------------------*/
table.calendar {
	margin-left:		auto;
	margin-right:		auto;
	font-size:		95%;
	line-height:		100%;
}
table.calendar td.calendar-prev-month    { text-align: left;  margin-left:  0.5em; }
table.calendar td.calendar-current-month { text-align: center; }
table.calendar td.calendar-next-month    { text-align: right; margin-right: 0.5em; }
table.calendar td {
	text-align:		right;
}
table.calendar td.calendar-day a {
	text-decoration:	underline;
}
/* 土曜日 */
table.calendar td.w6, table.calendar th.w6 {
	background-color: #ccf;
}
/* 日曜日、祝日 */
table.calendar td.w0, table.calendar th.w0,
table.calendar td.holiday {
	background-color: #fcc;
}
/* 今日 */
table.calendar td.day-today      { font-weight: bold; }
/* 選択した日付 */
table.calendar td.day-selected {
	text-decoration:	none;
	border:			1px solid #33f;
}

/*--------------------------------------------------------------------
●sidebar：タグ
---------------------------------------------------------------------*/
/* タイトル一覧など */
ul.hatena-section {
	list-style-type:	none;
	margin:			0.3em 0em 0.3em 0.3em;
	padding:		0px;
}

/* 2段目のリスト */
ul.hatena-section ul {
	list-style-type:	none;
	margin:			0 0 0.2em 1em;
	padding:		0px;
}

/****************************************************************************/
/*--------------------------------------------------------------------
●メッセージ関連
---------------------------------------------------------------------*/
strong.warning, strong.error, strong.notice,
div.messages div.message {
	color:		#e33;
	font-weight:	bold;
}
div.messages div.notice {
	margin-left:	2em;
}
div.messages div.message + div.notice {
	display:	block;
	margin-top:	0.5em;
}
em {
	text-decoration:	none;
	color:			#a00;
}

.add-msg {
	margin:			1em 0;
}

/*--------------------------------------------------------------------
●ボタンデザイン
---------------------------------------------------------------------*/
input[type="reset"],
input[type="submit"],
input[type="button"],
button
{
	color:			#000;
	font-weight:		bold;
	border:			1px solid #66c;
	border-radius:		6px;
	background-image:	linear-gradient(to bottom, #ddf, #aaf);
}
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover
{
	border-radius:		6px;
	background-image:	linear-gradient(to bottom, #ececff, #bbf);
}

input[type="reset"]:disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled,
button:disabled
{
	color:			#444;
	background-color:	#aac;
	background-image:	none;
}

/*--------------------------------------------------------------------
●jQuery UI アイコン設定
---------------------------------------------------------------------*/
.ui-icon {
	background-image:	url(ui-icons.png);
	display:		inline-block;
	width:			16px;
	vertical-align:		middle;
}
.sw-show .ui-icon.switch-icon {
	background-position:	-224px 0px;
	width:			13px;
}
.sw-hide .ui-icon.switch-icon {
	background-position:	-240px 0px;
	width:			13px;
}

.ui-icon.ui-button {
	border:			1px solid #008;
	border-radius:		4px;
	background-color:	#eee;
	margin:			0 1px;
}

.ui-icon.ui-button:hover {
	background-color:	#bbe;
	cursor:			pointer;
}

/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/* ここより下は管理メニュー内でのみ使用するクラス                           */
/*		システムモードに対応しないテーマでは定義不要                */
/****************************************************************************/
#side-login-information table {
	border-spacing:		0;
}

.copyright blockquote {
	background-color:	#ffe;
}

/* プラグインの設定 */
span.plg-author {
	margin:		0 0.5em;
}
table.plugins button { margin: 0; }

/*--------------------------------------------------------------------
●システム画面
---------------------------------------------------------------------*/
article.system div.body {
	background-color: #eef;
}
article.system div.body {
	padding-bottom:	1em;
}
article.system div.body h3 {
	background-color:	#ddddf8;
}
/*--------------------------------------------------------------------
●フォームの一般設定
---------------------------------------------------------------------*/
ul.checkbox {
	list-style-type:	none;
}

/* エラー */
th.error, td.error {
	background-color:	#ffccb0;
}
input.error, textarea.error,
th.error input, td.error input {
	background-color:	#ffffaa;
}

/* フォーカス */
th.focus, td.focus {
	background-color:	#ffffcc;
}
input[type="text"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
.setting textarea:focus {
	background-color:	#ffeeee;
}
textarea#editarea:focus {
	background-color:	#fff;
}
textarea#editarea {
	font-size:		11.5pt;
}

/* submitボタンの位置調整 */
article.setting input[type="submit"]
{
	margin-top:	1em;
}

/* radioやcheckboxで選択された要素 */
/* article.setting input[type="checkbox"]:checked + label, */
article.setting input[type="radio"]:checked + label
{
	font-weight:		bold;
}

/* セレクトボックスの特殊要素（「指定しない」）など */
select option.special {
	font-weight:		bold;
	color:			#800;
}

/*--------------------------------------------------------------------
●記事の編集画面
---------------------------------------------------------------------*/
#draft-notice {
	margin-bottom:	0.4em;
}
textarea.edit-article {
	width:		98%;
	margin:		0;
}
article.edit form.delete {
	margin-top:	1.5em;
}
article.edit span.element {
	margin-right:	1em;
}

span.edit-caption {
	font-weight:	bold;
	margin-right:	0.3em;
}

/* タグ */
article.edit span.tag {
	font-size:		9pt;
	color:			#600;
	background-color:	#ccf;
	border-radius:		6px;
	padding:		0px 4px;
	margin-right:		0.5em;
}
article.edit span.tag:after {
	content:		'';
}

/*--------------------------------------------------------------------
●ポップアップヘルプ, info
---------------------------------------------------------------------*/

.help {
	color:			#c3c;
}

#popup-help {
	min-width:		100px;
	max-width:		360px;
	padding:		0.5em 1em;

	background-color:	#fff;
	color:			#2133a9;

	font-size:		11pt;
	/* font-weight:		bold; */

	border:			2px solid #2133a9;
	border-radius:		10px;
	box-shadow:		2px 2px rgba(60,60,20,0.75);
}
#popup-help:before {
	content:		"HELP";
	color:			#fff;
	background-color:	#c33;
	border-radius:		6px;

	font-weight:		bold;
	font-size:		8pt;
	padding:		4px;
	margin:			-2px 4px 0 0px;

	display:		inline-block;
	line-height:		100%;
	vertical-align:		middle;
}

#popup-help div.additional {
	color:			#000;
	font-weight:		normal;
}

/*--------------------------------------------------------------------
●jQuery UI, popup-info/dialog
---------------------------------------------------------------------*/
.ui-dialog {
	background-color:	#f8f8ff;
	border:			2px solid #2133a9;
	border-radius:		10px;
	box-shadow:		5px 5px rgba(60,60,100,0.75);
	padding:		0;

	font-size:		10.5pt;
	line-height:		130%;
}
.ui-dialog div.pre {
	white-space:		pre;
	font-family:		monospace;
}
.ui-dialog .ui-widget-header {
	background-color:	#93b3ff;
	font-weight:		bold;
	font-size:		12pt;

	border:			none;
	border-radius:		8px 8px 0 0;
}
.ui-dialog span.ui-dialog-title {
	height:			16px;
	margin-top:		0;
	padding-top:		0;
}
.ui-dialog button.ui-button {
	border-radius:		4px;
}
.ui-dialog .ui-icon {
	text-indent:		0px;
}
.ui-dialog span.ui-icon-closethick {
}
.ui-dialog .ui-dialog-buttonpane {
	margin-top:		0px;
	padding-top:		0px;
}

/* エラーダイアログ */
.ui-dialog.error-dialog {
	background-color:	#fff8f8;
	border:			2px solid #c33;
}
.ui-dialog.error-dialog .ui-widget-header {
	background-color:	#f69;
}


/*--------------------------------------------------------------------
●jQuery UI, タブ表示
---------------------------------------------------------------------*/
article.jqueryui-tabs div.body {
	border-top:		2px solid #2133a9;
	border-radius:		10px;
}
.ui-tabs .ui-tabs-nav {
	padding-left:	1em;
	margin-bottom:	-2px;
}
.ui-tabs .ui-tabs-nav li a {
	color:		#048;
	padding:	6px;
	font-size:	12pt;
}
.ui-tabs .ui-tabs-nav li {
	border-radius:		10px 10px 0 0;
	border:			2px solid #66c;
	border-bottom:		2px solid #2133a9;
	background-color:	#ccf;
	margin-right:		0.4em;
}
.ui-tabs .ui-tabs-nav li:hover {
	background-color:	#d4d0ff;
	border-color:		#2133a9;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom:	-1px;
	padding:	0px;
	z-index:	999;

	border:			2px solid #2133a9;
	border-bottom:		3px solid #eef;
	background-color:	#eef;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
	color:			black;
}

/*--------------------------------------------------------------------
●設定ページナビゲーション
---------------------------------------------------------------------*/
nav.tree {
	font-size:		9pt;
	line-height:		100%;
	display:		block;

	border:			1px solid #2133a9;
	margin-bottom:		1.5em;
	padding:		0.5em 1em 0.5em 1.5em;

	background-color:	 #eef;
}

/*--------------------------------------------------------------------
●デザイン編集
---------------------------------------------------------------------*/
#module-editbox div.hatena-moduletitle {
	border:			3px solid #2133a9;
	border-bottom:		1px solid #2133a9;
	border-radius:		10px 10px 0 0;
	background-color:	#fcc;

	margin:			0;
	font-weight:		bold;
}
#module-editbox div.hatena-modulebody {
	border:		3px solid #2133a9;
	border-top:	none;
	border-radius:	0 0 10px 10px;
	background-color:	#eef;

	line-height:	150%;
	margin:		0;
	padding:	6px;
}

.design-module-edit {
	background-color:	#fcc;
	position:		relative;
}
div.module-edit-header {
	position:		absolute;
	top:			0px;
	z-index:		10;
	width:			100%;
	text-align:		right;
}

/* モジュールの設定画面 */
.ui-dialog table.blog-setting {
	font-size:		10pt;
}

/*--------------------------------------------------------------------
●accordion（インポート、エクスポート画面等）
---------------------------------------------------------------------*/
article .ui-accordion h3 {
	font-size:		12pt;
	line-height:		100%;
	padding:		0;
	margin:			0;
}
.ui-accordion-header-icon {
	display:		none;
}

/*
div.body h3.ui-accordion-header {
	background-color: #ccf;
}
*/

/*--------------------------------------------------------------------
●プログレスバー（import等）
---------------------------------------------------------------------*/
.ui-progressbar {
	padding:		0;
	margin:			0.5em 0;
	max-width:		400px;
	border:			1px solid #2133a9;
	position:		relative;
	background-color:	#fff;
}
.ui-progressbar .label {
	position:		absolute;
	width:			100%;
	text-align:		center;
	font-weight:		bold;
	text-shadow:	 1px -1px 2px #fff,
			 1px -1px 2px #fff,
			-1px  1px 2px #fff,
			 1px  1px 2px #fff;
}
.ui-progressbar,
.ui-progressbar .label,
.ui-corner-left {
	height:			20px;
	vertical-align:		center;
}
.ui-corner-left {
	padding:		1px 0 0 1px;
	background-color:	#aac;
} 


