@charset "UTF-8";
/*****************************************************************************
  patch to Satsuki2 for smart phone
					2015/05 (C)nabe@abk.nu
*****************************************************************************/
/*--------------------------------------------------------------------
■全体配置
---------------------------------------------------------------------*/
#body {
	min-width:		0;
}
.main {
	float:			none;
	margin-left:		0;
	margin-right:		0;
	padding:		0;
	width:			100%;
}
#hatena-body {
	padding:		0 8px;
	margin-left:		0;
	margin-right:		0;
	width:			auto;
}
#sidebar, #side-a, #side-b {
	float:			none;
	margin:			0;
	width:			auto;
}
#sidebar {
	margin-top:		2em;
}

/*--------------------------------------------------------------------
■ヘッダ、フッタ
---------------------------------------------------------------------*/
#sp-header {
	margin-bottom:		1em;
}
#sp-nav-header {
	font-size:		10pt;
	text-align:		right;
	vertical-align:		top;
}
#sp-page-title {
	margin:			10px 0 0 0;
	padding:		0 6px;
	font-weight:		bold;
	text-shadow:
		-1px -1px 0px #ddd,
		 1px -1px 0px #ddd,
		 1px  1px 0px #ddd,
		-1px  1px 0px #ddd,
		 3px  3px 2px #999;
}
/* 検索ボックスボタン */
#sp-head-search {
	padding:		3px 4px 4px 4px;
	border-radius:		4px;
	background-color:	rgba(255,255,255,0.4);
}
#sp-head-search .search-btn {
	box-shadow:		1px 1px 1px rgba(0,0,0, 0.4)
	padding:		2px;
	height:			20px;
	width:			20px;
	margin:			0;
}

/* フッター */
#footer {
	margin-bottom:		1em;
}

/*--------------------------------------------------------------------
■サイドバー
---------------------------------------------------------------------*/
#sidebar {
	font-size:		12pt;
}
span.switch-icon {
	margin-right:		1em;
}
#sidebar ul.hatena-section {
	line-height:		200%;
}
not(.Fx) #side-search {		/* for Fx bug */
	text-align:		center;
}
#side-search input.search-box {
	width:			180px;
}

/*--------------------------------------------------------------------
■コメント欄
---------------------------------------------------------------------*/
#com {
	font-size:		10pt;

}
#com form input.comment-author {
	width:			100px;
}
#com form textarea {
	width:			340px;
}

/*--------------------------------------------------------------------
■記事部の設定
---------------------------------------------------------------------*/
#adiary-body {
	word-wrap:		break-word;
}

#adiary-body img,
#adiary-body figure {
	max-width:		100%;
	height:			auto;
	float:			none;
}
#adiary-body textarea,
#adiary-body input,
#adiary-body video,
#adiary-body audio {
	max-width:		100%;
}

article ul,
article ol {
	padding-left:		2em;
}
article ul ul,
article ol ol {
	padding-left:		1em;
}
article div.body {
	padding-left:		12px;
	padding-right:		12px;
}

/*--------------------------------------------------------------------
○table, blockquote, pre
---------------------------------------------------------------------*/
.body table {
	margin-left:		1em;
	margin-right:		1em;
}
.body blockquote table,
.body div.box table {
	margin-left:		0;
	margin-right:		0;
}

blockquote, pre, div.box {
	margin:			0.5em 1.0em 0.5em 1.0em;
	padding:		0.2em 0.5em 0.2em 0.5em;
}
pre {
	margin-left:		0;
	margin-right:		0;
	overflow-x:		scroll;
}


/*--------------------------------------------------------------------
■ブログ一覧
---------------------------------------------------------------------*/
#table-view table {
	margin-left:		4px;
	margin-right:		4px;
}
#table-view table th {
	font-size:		9pt;
}
#table-view table .large {
	font-size:		100%;
}
#table-view table .hhmm {
	display:		none;
}

/*--------------------------------------------------------------------
■システムモード
---------------------------------------------------------------------*/
article.system div.body {
	padding-left:		6px;
	padding-right:		6px;
}
article.system div.body table {
	margin-left:		0px;
	margin-right:		0px;
}
nav.tree {
	font-size:		8pt;
	line-height:		200%;
}
nav.tree span.items {
	display:		block;
}
article.edit span.element {
	display:		block;
}
#edit-tags + br,
#edit-tags + br + br {
	display:		none;
}
article.edit button,
article.edit select {
	margin-top:		6px;
	margin-bottom:		6px;
}

.system button {
	padding:		2px 3px;
}
#edit .helper + .help {
	margin-left:		0px;
}
