@charset "UTF-8";
/*****************************************************************************
  patch to Satsuki2 for smart phone
					2015/05 (C)nabe@abk.nu
*****************************************************************************/
/*--------------------------------------------------------------------
■全体配置
---------------------------------------------------------------------*/
div.main {
	margin-left:		0px;
	margin-right:		0px;
}
#sidebar, #side-a, #side-b {
	margin:			0px;
	width:			auto;
	position:		relative;
	left:			0px;
	top:			0px;
}

/*--------------------------------------------------------------------
■ヘッダ
---------------------------------------------------------------------*/
#sp-nav-header {
	font-size:		10pt;
	text-align:		right;
	vertical-align:		top;
}

#sp-page-title {
	margin:			0px;
	font-weight:		bold;
	text-shadow:
		-1px -1px 0px #ddd,
		 1px -1px 0px #ddd,
		 1px  1px 0px #ddd,
		-1px  1px 0px #ddd,
		 3px  3px 2px #999;
}

#footer {
	margin-bottom:		1em;
}

/*--------------------------------------------------------------------
■サイドバー
---------------------------------------------------------------------*/
#sidebar {
	font-size:		12pt;
}

/*--------------------------------------------------------------------
■コメント欄
---------------------------------------------------------------------*/
#com {
	font-size:		10pt;

}
#com form input.comment-author {
	width:			100px;
}
#com form textarea {
	width:			340px;
}


