@charset "UTF-8";
/*******************************************************************************
  adiary base CSS
							(C)2015-2019 nabe@abk
*******************************************************************************/
/*--------------------------------------------------------------------
■標準フォント設定
--------------------------------------------------------------------*/
html {
	font-family:		sans-serif;
}

/*--------------------------------------------------------------------
■全体表示（システム関連）
--------------------------------------------------------------------*/
/* 不可視要素 */
.display-none {
	display:	none;
}

/* 選択不可 */
.noselect {
	user-select:	none;
}
.sp .sp-noselect {
	user-select:	none;
}
/* 新着表示マーク */
#nav-header a.newcom:after {
	content:		'!';
}

/* 不可視ログインリンク */
#nav-header a.erase-login,
#sp-nav-header a.erase-login {
	display:		inline-block;
	width:			64px;
}

/* inline-box, アイコン */
.inline-box, li.icons {
	display:		inline-block;
}

/* 条件指定などのひとつのブロック */
div.element, form.element {
	display:		inline-block;
	margin-right:		1em;
}

header {
	position:		relative;
}

/* ヘッダ/フッタ中のリンクは下線を引かない */
#header a, #sp-header a, #footer a {
	text-decoration:	none;
}

/* 「ようこそ」のリンクで文字色を変えない */
#nav-header a.welcome-prefix,
#nav-header a.welcome-prefix:link,
#nav-header a.welcome-prefix:visited,
#sp-nav-header a.welcome-prefix,
#sp-nav-header a.welcome-prefix:link,
#sp-nav-header a.welcome-prefix:visited {
	color:			inherit;
	font-weight:		inherit;
}

/* 英単語の途中改行 */
body {
	word-wrap:		break-word;
}
/* section, article */
section, article {
	display:		block;
}

/* ログイン情報 */
#side-login-information table {
	border-spacing:		0;
}

/* copyright表示 */
.copyright blockquote {
	color:			#000;
	background-color:	#ffe;
}

/* プラグインの設定 */
span.plg-author {
	margin:			0 0.5em;
}
table.plugins button {
	margin:			0;
}

/*--------------------------------------------------------------------
●互換性維持 (for Special Edition theme)
--------------------------------------------------------------------*/
#footer {
	clear:			both;
}

/*--------------------------------------------------------------------
●コメント欄
--------------------------------------------------------------------*/
#com span.abbr-msg {
	margin-left:		2em;
}
#com div.comment-text {
	white-space:		pre-wrap;
/*	font-family:		monospace;	*/
}

/* 投稿者情報 */
#com div.ip-host-agent {
	text-align:		right;
	margin-right:		1em;
}

/*--------------------------------------------------------------------
●記法関連
--------------------------------------------------------------------*/
h5, h6 {
	font-size:	100%;
}
pre {
	white-space:	pre-wrap;
}

/* nowrap */
.nowrap {
	white-space:	nowrap;
}
pre.nowrap {
	white-space:	pre;
}

/* アスキーアート記法 */
div.ascii-art {
/*	font-size:	12pt;	*/
	line-height:	100%;
	padding-top:	0px;
	padding-bottom:	0px;
	margin-top:	0px;
	margin-bottom:	0px;
	font-family: "Mona", "MS PGothic", "ＭＳ Ｐゴシック", "IPA MONAPGOTHIC", "IPA モナー Pゴシック", sans-serif;
}

/* 麻雀記法 */
img.mahjong {
	vertical-align:	bottom;
}

/* mathjax.js */
:not(span.mathref) > span.MathJax {
	margin-left:	0.2em;
	margin-right:	0.2em;
}

/* 等幅 */
.mono, .pre {
	font-family:	monospace;
}
.l, .left	{ text-align: left; }
.c:not(.syntax-highlight),
    .center	{ text-align: center; }
.r, .right	{ text-align: right; }
.middle		{ vertical-align: middle; }

/* インデント */
p, p.i, .indent p { text-indent: 1em; }
p.ni, .noindent p { text-indent: 0; }
ul li > p, ol li > p {
	text-indent:	0;
}
ul li > p:first-child,
ol li > p:first-child {
	margin-top:	0;
}

/* はてなブックマーク数の表示 */
.http-bookmark img {
	vertical-align: bottom;
	height:		13px;
}
/* Google-map の埋め込み */
div.google-map {
	line-height:	100%;
}

/* 非表示テキスト。背景色と表示色が同一 */
article div.body .hidden,
article div.body .hidden a,
article div.body .hidden strong,
article div.body .hidden em {
	color:			rgba(255,255,255,0);
}

dl {
	margin-left:	2em;
}
ul.none, ol.none, .none ul, .none ol {
	list-style:	none;
}

audio, video,
article figure,
.main img,
.main iframe,
.main select {
	max-width:	100%;
	box-sizing:	border-box;
	text-indent:	0;
}

/* ブロック中のpタグ */
blockquote p:first-child {
	margin-top:	0;
}
blockquote p:last-child {
	margin-bottom:	0;
}

/* スマホ用出力。PC用出力 */
.sp .for-pc {
	display:	none;
}
body:not(.sp) .for-sp {
	display:	none;
}
body:not(.amp) .for-amp {
	display:	none;
}

/* pre */
pre {
	font-family:		monospace;
	overflow-x:		auto;
}
div.math {
	overflow-x:		auto;
}

/* フロートオブジェクト */
.float, .float-l {
	float:		left;
	margin-right:	1em;
	position:	relative;
	z-index:	1;
}
.float-r {
	float:		right;
	margin-left:	1em;
	position:	relative;
	z-index:	1;
}
/* 記事からはみ出し防止 */
h3, h4, .clear,
div.body-footer {
	clear:		both;
}

/*--------------------------------------------------------------------
●記法関連 / RST (reStructuredText)
--------------------------------------------------------------------*/
/* 列挙型 */
ol.arabic	> li { list-style-type: decimal; }
ol.upper-alpha	> li { list-style-type: upper-alpha; }
ol.lower-alpha	> li { list-style-type: lower-alpha; }
ol.upper-roman	> li { list-style-type: upper-roman; }
ol.lower-roman	> li { list-style-type: lower-roman; }

/* option list */
.body table.option-list th {
	font-weight:	normal;
	text-align:	left;
}
.body table.option-list th var {
	font-style:	italic;
	font-weight:	bold;
}

.line-block {
	margin:		1em 0 1em 2em;
	font-style:	italic;
}
.line-block .line-block {
	margin:		0 0 0 2em;
}
div.citation {
	margin:		1em 0 1em 2em;
}
article section .rest-footnote a {
	font-size:		70%;
	line-height:		140%;
	vertical-align:		top;
	text-decoration:	none;
	border-bottom-width:	1px;
	border-bottom-style:	dotted;
}
article section .rest-footnote a:hover {
	border-bottom-style:	solid;
}
.problematic {
	color:			red;
	text-decoration:	underline;
}

div.admonition, div.topic {
	background-color:	rgba(255,210,210,0.7);
	border:			1px solid #888;
	margin:			1em 0;
	padding:		0.2em 1em;
}
div.admonition.note, div.topic {
	background-color:	rgba(128,128,128,0.1);
}
p.admonition-title,
p.topic-title,
p.sidebar-title {
	font-weight:		bold;
	font-size:		130%;
	text-indent:		0;
	margin-top:		0;
	text-decoration:	underline;
}
div.sidebar {
	min-width:		15%;
	max-width:		40%;
	border:			1px solid #ccc;
	background-color:	rgba(255,255,232,0.6);
	margin-left:		1em;
	padding:		0 0.5em;
	float:			right;
}

.align-left {
	float:			left;
	margin-right:		1em;
}
.align-right {
	float:			right;
	margin-left:		1em;
}
figure.align-center {
	text-align:		center;
}
figure.align-center,
.align-center > img {
	display:		block;
	margin-left:		auto;
	margin-right:		auto;
}
.align-top    img { vertical-align: top; }
.align-bottom img { vertical-align: bottom; }
.align-middle img { vertical-align: middle; }

.line-number-block {
	color:			blue;
	float:			left;
	margin-right:		1em;
	padding-right:		2px;
	border-right:		solid rgba(0,0,0,0.3) 1px;
	text-align:		right;
}

pre.line-number {
	white-space:		pre;
}
p.rubric {
	margin-top:		30px;
	font-weight:		bold;
}
div.compound p:nth-child(n + 2) {
	text-indent:		0;
}

/*--------------------------------------------------------------------
●フォントサイズ／種類設定
--------------------------------------------------------------------*/
.xx-large, .Huge	{ font-size: 200%; line-height: 130%; }
.x-large,  .huge	{ font-size: 150%; line-height: 130%; }
.large			{ font-size: 130%; line-height: 130%; }
.midium, .normalsize	{ font-size: 100%; line-height: 135%; }
.small			{ font-size: 90%;  line-height: 140%; }
.x-small,  .tiny	{ font-size: 80%;  line-height: 140%; }
.xx-small, .scriptsize	{ font-size: 60%;  line-height: 140%; }

.it, .italic		{ font-style:  italic; }
.bf, .bold		{ font-weight: bold;   }
.u, .underline		{ text-decoration: underline; }
.normal			{ font-weight: normal; text-decoration: none; }

strong			{ font-weight: bold; }
em			{ font-style: normal; text-decoration: underline; }

/*--------------------------------------------------------------------
●フォーム関連
--------------------------------------------------------------------*/
form + form {
	margin-top:		2em;
}

/* webkit default override */
input {
	box-sizing:		content-box;
}
input[type="number"] {
	text-align:		right;
}
label, input, button, select {
	vertical-align:		middle;
}
td.checkbox, th.checkbox {
	text-align:		center;
}
td.button, th.button {
	text-align:		center;
}

/* ボタンデザイン */
button {
	padding:		3px 6px;
	text-indent:		0;
	line-height:		100%;
	vertical-align:		middle;
	font-family:		"メイリオ","IPAGothic","VL Gothic",sans-serif;

	cursor:			pointer;
}
#edit-helper button {
	padding:		3px 4px;
	margin:			2px 0px;
}
#com textarea {
	-moz-tab-size:	4;
	-o-tab-size:	4;
	tab-size:	4;
	max-width:	100%;
	box-sizing:	border-box;
}

input[type="radio"]    + label,
input[type="checkbox"] + label {
	margin:		0 0 0 1px;
}

/* radioやcheckboxが複数並んだ場合 */
label + input[type="radio"],
label + input[type="checkbox"]
{
	margin-left:	1em;
}

/* ボタンが複数並んだ場合に間あける */
button + button
{
	margin-left:	1em;
}
#sidebar button
{
	margin-left:	0;
}

/* 色選択ボックス */
span.colorbox {
	height:		1em;
	width:		1em;
	border:		1px solid #000;
	display:	inline-block;

	vertical-align: 	middle;
	border-radius:		4px;
	margin-right:		4px;
}
.color-picker {
	width:		70px;
	vertical-align: middle;
}
.colorpicker {
	z-index:	10000;
}

option:disabled {
	background-color:	#eee;
}
/* セレクトボックスの特殊要素（「指定しない」）など */
option.special {
	font-weight:		bold;
	color:			#800;
}
/* readonly */
input[readonly],
select[readonly],
textarea[readonly] {
	background-color:	#ddd;
}

textarea {
	display:		block;
}

/*--------------------------------------------------------------------
●編集画面
--------------------------------------------------------------------*/
ul#edit-lockers {
	margin-top:		2px;
	margin-bottom:		2px;
}
#open-draft-buttons {
	display:		inline-block;
}
/* 記事タグ */
article.edit span.tag {
	font-size:		9pt;
	display:		inline-block;
	background-color:	#ccc;
	border-radius:		6px;
	padding:		0px 4px;
	margin-right:		6px;
}

/*--------------------------------------------------------------------
●フォームポップアップ
--------------------------------------------------------------------*/
.help {
	font-weight:	bold;
	margin:		0 4px;
	cursor:		pointer;
}
.help:before {
	content:	'[';
}
.help:after {
	content:	']';
}
body:not(.sp) .btn-help:after {
	margin-left:	2px;
	content:	'[?]';
}

div.popup-block {
	display:	none;
	position:	absolute;
	z-index:	1100;
}
div.popup-help, #popup-com {
	background-color:	#eee;
	padding:		6px;
	font-size:		11pt;
}
#popup-com input {
	display:		none;
}
#popup-com .ip-host-agent {
	margin-top:		1em;
}
.ui-dialog textarea {
	font-size:	10pt;
	line-height:	120%;
}

.ui-widget-overlay {
	background-color: #000;
	opacity:	0.25;
}

/* lightbox */
#lightbox-min-width {
	width:		480px;
}

/*--------------------------------------------------------------------
●フォームサイズ指定部品
--------------------------------------------------------------------*/
.w20 { width: 20px; }
.w30 { width: 30px; }
.w40 { width: 40px; }
.w50 { width: 50px; }
.w60 { width: 60px; }
.w70 { width: 70px; }
.w80 { width: 80px; }
.w90 { width: 90px; }
.w100 { width: 100px; }
.w120 { width: 120px; }
.w140 { width: 140px; }
.w160 { width: 160px; }
.w200 { width: 200px; }
.w240 { width: 240px; }
.w280 { width: 280px; }
.w300 { width: 300px; }
.w320 { width: 320px; }
.w360 { width: 360px; }
.w400 { width: 400px; }
.w440 { width: 440px; }
.w480 { width: 480px; }
.w500 { width: 500px; }
.w512 { width: 512px; }
.w520 { width: 520px; }
.w560 { width: 560px; }
.w600 { width: 600px; }
.w640 { width: 640px; }
.w100p{ width: 100%; box-sizing: border-box; }
.w98p { width:  98%; }
.w95p { width:  95%; }
.w90p { width:  90%; }
.w80p { width:  80%; }

/* スマホ */
.sp .w120 { width: 100px; }
.sp .w160 { width: 120px; }
.sp .w200 { width: 140px; }
.sp .w240 { width: 160px; }
.sp .w280 { width: 180px; }
.sp .w300 { width: 200px; }
.sp .w320,
.sp .w360,
.sp .w400,
.sp .w480,
.sp .w500,
.sp .w512,
.sp .w520,
.sp .w560,
.sp .w600,
.sp .w640 {
	width:	100%;
	box-sizing: border-box;
}
.sp input[type="date"].w120 { width: 120px; }

/*--------------------------------------------------------------------
●メッセージシステム
--------------------------------------------------------------------*/
div.warn, p.warning, p.error,
div.messages div.message:last-child {
	font-weight:	bold;
}
div.messages div.notice {
	margin-left:	2em;
}
div.add-msg {
	margin-top:	1em;
}
.good {
	color:		blue;
}

/*--------------------------------------------------------------------
●検索とハイライトとタグ
--------------------------------------------------------------------*/
span.highlight	{ background-color: #0a0; font-weight: bold; text-decoration: inherit; }
span.highlight0	{ background-color: #ff6; }
span.highlight1	{ background-color: #aff; }
span.highlight2	{ background-color: #9f9; }
span.highlight3	{ background-color: #f99; }
span.highlight4	{ background-color: #f6f; }

/* 絞り込み項目 */
.search div.narrow {
	font-size:	9pt;
	line-height:	150%;
}
.search-caption {
	font-weight:	bold;
	color:		#900;
	margin-right:	4px;
}
.search-caption:after {
	content:	'>>';
}
.search div.hits {
	margin-top:	4px;
}

/*--------------------------------------------------------------------
●RSSアイコン
--------------------------------------------------------------------*/
.rss-icon img {
	vertical-align:		middle;
}
.rss-icon a img {
	border:			none;
}

/*--------------------------------------------------------------------
●ソーシャルボタン
--------------------------------------------------------------------*/
.social-button {
	display:		inline-block;
}
.social-button * {
	vertical-align:		middle;
}
.social-button a.share {
	display:		inline-block;
	width:			60px;
	height:			20px;

	background-image:	url("_img/social-buttons.png");
	background-repeat:	no-repeat;
	border-radius:		4px;
}
.social-button.twitter-share a.share {
	background-position:	0 0;
}
.social-button.facebook-share a.share {
	background-position:	0 -20px;
}
.social-button.hatena-bookmark a.share {
	background-position:	0 -40px;
	width:			80px;
}
.social-button.pocket-bookmark a.share {
	background-position:	0 -60px;
	width:			64px;
}
.social-button a, .social-button a:link, .social-button a:visited, .social-button a:hover {
	text-decoration:	none;
	color:			inherit;
}
/* 吹き出し */
.social-button a.count {
	position:		relative;
	display:		inline-block;
	border:			1px solid #aaa;
	margin-left:		5px;
	height:			20px;
	box-sizing:		border-box;
	line-height:		100%;
}
.social-button a.count:before,
.social-button a.count:after {
	content:		"";
	display:		block;
	position:		absolute;
	top:			5px;
	left:			-4px;

	border:			4px solid transparent;
	border-left-width:	0;
}
.social-button a.count:after {
	left:			-3px;
}

/* カスタマイズ領域 */
.social-buttons {
	margin:			1em 0;
}
.social-button {
	color:			#000;
	margin-right:		8px;
}
.social-button a.count {
	font-size:		14px;
	padding:		3px 8px;

	border-radius:		4px;
	border-color:		#aaa;	/* 吹き出し枠線 */
	background-color:	#fff;	/* 吹き出し背景 */
}
.social-button a.count:before {
	border-right-color:	#888;	/* 枠線と同色 */
}
.social-button a.count:after {
	border-right-color:	#fff;	/* 背景と同色 */
}

/*--------------------------------------------------------------------
●画像アルバム
--------------------------------------------------------------------*/
ul.dynatree-container a {
	font-weight:		normal;
}
.side-folder-tree ul.dynatree-container {
	min-height:		300px;
	margin-bottom:		2px;
}
#album-folder-view {
	margin-top:		4px;
	min-height:		260px;
	margin-bottom:		8px;
	clear:			both;
}

#album-folder-view a {
	margin:			1px;
	display:		inline-block;
}

/* サムネイル表示 */
#album-folder-view img {
	border:			3px solid transparent;
	vertical-align:		middle;
	max-width:		120px;
	max-height:		120px;
	/* for IE */
	width:	auto;
	height:	auto;
}
#album-folder-view img.selected {
	border-color:		#f88;
	background-color:	#f88;
}
/* ファイル名一覧 */
#album-folder-view.name-view {
	font-size:		14px;
}
#album-folder-view.name-view a {
	display:		block;
	width:			100%;
	padding:		1px;
	margin-top:		1px;
}
#album-folder-view.name-view span.fileline {
	display:		block;
}
#album-folder-view.name-view span.fileline.selected {
	background-color:	#fcc;
}
#album-folder-view.name-view span.filename {
	width:			calc(100% - 230px);
	display:		inline-block;
	vertical-align:		middle;
}
#album-folder-view.name-view span.filedate {
	width:			160px;
	display:		inline-block;
	vertical-align:		middle;
}
#album-folder-view.name-view span.filesize {
	width:			64px;
	display:		inline-block;
	vertical-align:		middle;
	text-align:		right;
}
#adiary-body #album-dnd-name-view {
	color:			#000;
	background-color:	#fff;
	padding:		6px;
	border-radius:		6px;
}
#album-dnd-name-view span {
	display:		block;
}
/* ファイルなし */
#album-folder-view div.file-not-found {
	font-size:		12pt;
	font-weight:		bold;
	padding: 		1em 1em 0 1em;
}

/* アルバムタイトル */
#album h2 * {
	vertical-align:		middle;
}
#current-folder {
	margin-left:		4px;
}

/* アルバムヘッダ */
#album-header, #album-header select {
	font-size:		11pt;
}
#album-header div {
	display:		inline-block;
}
#album-header div.view-option {
	float:			right;
}

/* アルバムメイン部 */
#iframe-upload-form {
	width:			100%;
	border:			none;
}
#file-btn-div {
	margin-bottom:		6px;
}
#upload-information-view {
	font-size:		90%;
	line-height:		130%;
	margin-bottom:		1em;
}
#selected-files li:hover {
	background-color:	#e8e8e8;
	border-radius:		4px;
	cursor:			pointer;
}

/* 記事貼り付け */
figure {
	display:		inline-block;
	margin:			0;
}
figcaption {
	line-height:		100%;
	text-align:		center;
}
figure.left,   figure.l,
figure.right,  figure.r,
figure.center, figure.c {
	display:	block;
}

/*--------------------------------------------------------------------
●デザイン編集
--------------------------------------------------------------------*/
.design-module-edit {
	min-height:		18px;
}
.main div.design-module-edit {
	width:			100%;
}
.design-module-edit {
	position:		relative;
}
.design-module-edit.display {
	background-color:	#fcc;
}
.design-module-edit:hover:not(.hoverstop) {
	background-color:	#faa;
}
.module-edit-header {
	position:		absolute;
	top:			0;
	right:			0;
	padding:		0;
	z-index:		10;
	text-align:		right;

	font-size:		1px;
	line-height:		100%;
}
/* モジュール右上アイコン */
.module-edit-header span.ui-icon {
	margin-left:		1px;
	border:			1px solid #333;
	border-radius:		4px;
	background-color:       #fff;
}
.module-edit-header span.ui-icon:hover {
	background-color:       #eee;
}
#body .module-edit-header * {
	vertical-align:		top;
}
.dem-module {
	margin-top:		0.5em;
	margin-bottom:		0.5em;
}
/*####################################################################
■ UI関連
####################################################################*/
/*--------------------------------------------------------------------
●UIアイコン
--------------------------------------------------------------------*/
.ui-icon {
	width:			16px;
	height:			16px;
	display:		inline-block;
	background-position:	99px 99px;
	background-repeat:	no-repeat;
}
.ui-icon.ui-button {
	padding:		0;
	cursor:			pointer;
	box-sizing:		content-box;
}
.ui-button.ui-button-icon-only:not(.ui-icon) {
	margin:			0;
	padding:		0;
	width:			24px;
	height:			24px;
	box-sizing:		border-box;
}
.ui-button.ui-button-icon-only:not(.ui-icon) .ui-icon {
	vertical-align:		middle;
}
/* jQuery UI icons */
.ui-icon-search	{ background-position:   0px 0px; }
.ui-icon-wrench	{ background-position: -16px 0px; }
.ui-icon-image	{ background-position: -32px 0px; }
.ui-icon-close	{ background-position: -48px 0px; }
.ui-icon-closethick { background-position: -64px 0px; }

/* adiary original */
.prev-page:before,
.upnode-page:before,
.next-page:after {
	display:		inline-block;
	height:			18px;
	width:			16px;
	content:		'';
	vertical-align:		middle;
}
.prev-page:before 	{ background-position: -32px -16px; }
.upnode-page:before	{ background-position: -48px -16px; }
.next-page:after	{ background-position: -64px -16px; }

.sw-show .ui-icon.switch-icon {
	background-position:	-0px -16px;
	width:			14px;
	height:			13px;
}
.sw-hide .ui-icon.switch-icon {
	background-position:	-16px -16px;
	width:			14px;
	height:			13px;
}

/* 検索条件、記事編集時のタグ「?」アイコン */
span.tag span.ui-icon-close,
.yyyymm  span.ui-icon-close {
	background-position:	-50px 0px;
	width:			12px;
	display:		inline-block;
	vertical-align:		middle;
}
/* クリックできるアイコン */
.ui-icon-close,
.ui-icon-search,
.ui-icon-close,
.ui-icon-closethick,
.js-switch {
	cursor:			pointer;
}

/*--------------------------------------------------------------------
●システム画面UI
--------------------------------------------------------------------*/
/* import/export画面等 */
.js-accordion h3 {
	cursor:			pointer;
}

/* dynatree */
ul.dynatree-container {
	min-height:		20px;
	line-height:		1.3;
}

#body ul.dynatree-container ul
{
	padding: 0 0 0 18px;
	margin: 0;
}
#body ul.dynatree-container li
{
	margin: 0;
	padding: 1px 0 0 0;
}
span.dynatree-node a {
	padding:	1px;
}
span.dynatree-node a:focus {
	outline:	none;	/* for GC */
}
span.dynatree-icon,
ul.dynatree-container img {
	margin-left:	0px;
}

#album-folder-tree ul.dynatree-container > li > ul {
	padding-left:	3px;
}

/* サイドバーフォルダーツリー */
.side-folder-tree ul {
	line-height:		110%;
}
.side-folder-tree li * {
	vertical-align:		middle;
}

/*--------------------------------------------------------------------
●adiary UI, dialog, z-index:1000-1099
--------------------------------------------------------------------*/
.ui-overlay {
	background-color:	rgba(0,0,0,0.2);
	position:		fixed;
	top:			0;
	left:			0;
	width:			100%;
	height:			100%;
}
.ui-dialog {
	position:		absolute;
	padding:		0;

	resize:			both;
	overflow:		hidden;
	min-width:		200px;

	max-height:		100vh;
}
.ui-dialog, .ui-dialog-content {
	box-sizing:		border-box;
}
.ui-dialog-titlebar {
	font-size:		12pt;
	font-weight:		bold;
	padding:		0.4em 1em;
	position:		relative;
	cursor:			move;
}
.ui-dialog-titlebar .ui-button {
	position:		absolute;
	right:			0.5em;
	top:			0.4em;
	padding:		0;
	line-height:		0;
}
.ui-dialog-content {
	padding:		0.5em 1em;
	overflow:		auto;
}
.ui-dialog-content p {
	max-width:		640px;
}
.ui-dialog-buttonpane {
	text-align:		right;
	padding:		0.3em 1em 0.5em 0;
}
.ui-dialog-buttonpane button {
	font-weight:		normal;
	text-align:		left;
	margin:			0.5em 0.2em;
	padding:		0.4em 1em;
	line-height:		1.5;
}

/* エラーダイアログ */
.ui-dialog.error-dialog {
	color:			#000;
	background-color:	#fff8f8;
	border-color:		#f69;
	background-image:	none;
}
.ui-dialog.error-dialog .ui-widget-header {
	background-color:	#f69;
	background-image:	none;
}
.ui-dialog.error-dialog .ui-button {
	color:			#444;
	border-color:		#d99;
	background-image:	linear-gradient(to bottom, #fdd, #faa);
}

/* エラーダイアログの閉じるボタン（常に赤アイコン） */
.ui-dialog.error-dialog .ui-icon-closethick {
	border-color:		#900;
	background-image:	url('data:image/gif;base64,R0lGODlhEAAQAIAAAPwAAAAAACH5BAEAAAEALAAAAAAQABAAAAIkjI+puwDqkotnvmqNvXjP5nHQxmgkE4pdKGXBaVKxKmPljScFADs=');
	background-position:	0px 0px;	/* This gif file in "js/src/img-src/" */
}

/*--------------------------------------------------------------------
ダイアログのカスタマイズ
--------------------------------------------------------------------*/
.ui-dialog {
	background-color:	#f8f8ff;
}
.ui-dialog .ui-widget-header {
	background-color:	#93b3ff;
}
.ui-dialog div.pre {
	white-space:		pre;
	white-space:		pre-wrap;	/* CSS3 */
	font-family:		monospace;
}
.ui-dialog ul {
	padding:		0 0 0 1em;
	margin:			1em 0em 1em 2em;
}

/*--------------------------------------------------------------------
●adiary UI, プログレスバー
--------------------------------------------------------------------*/
.ui-progressbar {
	position:		relative;
	overflow:		hidden;

	border:			1px solid #aaa;
	border-radius:		4px;
	max-width:		400px;
	background-color:	#fff;
}
.ui-progressbar .label {
	position:		absolute;
	font-weight:		bold;
	text-align:		center;
	vertical-align:		middle;
	width:			100%;
}
.ui-progressbar .label:before {
	content:		"";
	display:		inline-block;
}
.ui-progressbar,
.ui-progressbar .label:before {
	height:			20px;
	vertical-align:		middle;
}

/* #body を付けないとダイアログ中のプログレスバーに対し
  「.ui-dialog .ui-widget-header」が優先してしまう */
#body .ui-progressbar-value {
	padding:		1px 0 0 1px;	/* 外枠の幅と合わせること */
	background-color:	#bbb;
	border-radius:		0;

	margin:			-1px;
	height:			100%;
	display:		block;
}

/*--------------------------------------------------------------------
●jQuery UI
--------------------------------------------------------------------*/
/* sortable */
.dynatree-title,
.ui-sortable-handle {
	cursor:			grab;
}
.ui-sortable-handle.ui-sortable-helper {
	cursor:			grabbing;
}
.ui-sortable-handle .no-drag {
	cursor:			auto;
}

/*--------------------------------------------------------------------
●その他
--------------------------------------------------------------------*/
/* 管理メニュー関連 */
ul.menu {
	margin-top:		1em;
	margin-bottom:		1em;
}

#sidebar textarea {
	width:			98%;
}

/*####################################################################
●ドロップダウンメニュー（コンテンツリスト）
####################################################################*/
/* for compatibility */
.dropdown-menu { display: none; }
/*----------------------------------------------*/
/* プルダウンメニュー、ギミック部（通常変更不要） */
/*----------------------------------------------*/
.ddmenu {
	position:		relative;
	width:			100%;
	z-index:		980;
	font-weight:		bold;
}
.ddmenu.dd-centering {
	text-align:		center;
}
.ddmenu.dd-centering>ul {
	display:		inline-block;
}
.main .ddmenu {
	z-index:	950;
}
.ddmenu * {
	margin:		0;
	padding:	0;
	box-sizing:	border-box;
}
.ddmenu ul {
	list-style:	none;
}
.ddmenu>ul li a {
	display:	block;
	text-decoration: none;
	overflow:	hidden;
	width:		100%;
	white-space:	nowrap;
}

/* 項目文字列を上下中央揃えする細工 */
.ddmenu>ul a:after {
	content:	"";
	display:	inline-block;
	height:		calc(100% + 2px);
	vertical-align:	middle;
}
/* 表示位置調整 */
.ddmenu>ul li a {
	height:		100%;
}
.ddmenu:not(.sp)>ul>li {
	float:		left;
}
.ddmenu:not(.sp)>ul li {
	position:	relative;
}
.ddmenu:not(.sp)>ul ul {
	position:	absolute;
}
/* 2階層目 */
.ddmenu:not(.sp)>ul ul {
	left:		0;
}
/* 3,4階層目 */
.ddmenu:not(.sp)>ul ul ul {
	left:		100%;
}
/* 5階層目以降は表示しない */
.ddmenu:not(.sp)>ul ul ul ul ul {
	display:	none;
}

/* on/off and animation */
.ddmenu:not(.sp)>ul li:hover>ul>li {
	overflow:	visible;
}
.ddmenu>ul li ul li {
	overflow:	hidden;
}
.ddmenu>ul>li>ul li, 
.ddmenu>ul>li>ul li a {
	height:		0;
	transition:	0.4s;
}
.ddmenu   >ul li:hover>ul>li>a,
.ddmenu.sp>ul li      >ul>li>a {
	height:		100%;
}
/* view arrow */
.ddmenu li ul li ul:before,
.ddmenu.sp    li ul:before {
	transition:	0.4s;
	position:	absolute;
	content:	"";
	left:		-12px;
	border:		5px solid transparent;
}
.ddmenu:not(.sp) li:not(:hover)>ul>li>ul:before {
	border-color:	transparent;
}

/*------------------------------------------------
 *  dropdown-menu border setting
 *------------------------------------------------*/
.ddmenu>ul li a,
.ddmenu>ul ul {
	border-style:		solid;
	border-width:		0;
}
.ddmenu>ul>li>a {
	border-width:		0px;
	border-left-width:	1px;
	position:		relative;
}
.ddmenu>ul>li:last-child>a {
	border-right-width:	1px;
}
.ddmenu   >ul li:hover>ul>li a,
.ddmenu.sp>ul li      >ul>li a {
	border-top-width:	1px;
}
.ddmenu   >ul li:hover>ul,
.ddmenu.sp>ul li      >ul {
	border-bottom-width:	1px;
}


/*------------------------------------------------
 *  dropdown-menu size setting
 *------------------------------------------------*/
.ddmenu:not(.sp)>ul ul ul {
	top:		0px;
}
/* 最後の要素だけ左にサブメニューを開く。 */
.ddmenu:not(.sp)>ul>li:last-child:not(:first-child)>ul {
	left:		auto;
	right:		0px;
}
.ddmenu:not(.sp)>ul>li:last-child:not(:first-child)>ul ul {
	left:		-100%;
}
.ddmenu:not(.sp)>ul>li:last-child:not(:first-child) ul li ul:before {
	left:		100%;
}

/*------------------------------------------------
 *  dropdown-menu size setting for customize
 *------------------------------------------------*/
.ddmenu {
	font-size:	11pt;
	line-height:	1.4;
}
.main .ddmenu {
	margin-bottom:	1em;
}
/* 高さの設定 */
.ddmenu,
.ddmenu>ul>li,
.ddmenu>ul li:hover>ul>li {
	height:		30px;	/* Y */
}

/* 矢印位置の調整 */
.ddmenu li ul li ul:before {
	top:		10px;	/* = (Y-10)/2 */
}
/* 項目の文字位置 */
.ddmenu:not(.sp) li {
	text-align:	center;
}
/* 項目の幅の設定 */
.ddmenu:not(.sp)>ul>li {
	width:		110px;
}
.ddmenu:not(.sp)>ul>li>ul,
.ddmenu:not(.sp)>ul>li>ul li {
	width:		200px;
}
/* 左右padding */
.ddmenu li a {
	padding:	0 4px;
}

/*--------------------------------------------------------------------
●dropdown-menu coloring
--------------------------------------------------------------------*/
/* 背景色（非選択色） */
.ddmenu,
.ddmenu>ul li {
	background-color:	#ccccff;
}
/* 選択色 */
.ddmenu>ul li:hover,
.ddmenu>ul li.hover {
	background-color:	#f0f0ff;
}
/* 枠線 */
.ddmenu>ul li a,
.ddmenu>ul ul {
	border-color:		#aac;
}
/* 文字 */
/*
.ddmenu a:link,
.ddmenu a:visited
{
	color:			#33f;
}
*/
/* 矢印の色 */
.ddmenu li ul li ul:before,
.ddmenu.sp li ul:before {
	border-left-color:	#338;
}
.ddmenu:not(.sp) li:last-child:not(:first-child) ul li ul:before {
	border-left-color:	transparent;
	border-right-color:	#338;
}
/* 設定画面に矢印の色を自動取得させるための指定 */
.ddmenu {
	color:			#338;
}

/* 影をつける */
.ddmenu>ul li:hover ul,
.ddmenu.sp>ul>li>ul {
	box-shadow:		8px 8px 8px rgba(0,0,0, 0.3);
}

/*####################################################################
●スマホ全般
####################################################################*/
/* システムモードでは sidebar 非表示 */
.system.sp #sidebar {
	display:		none;
}
/* lightbox 最小画像サイズ */
.sp #lightbox-min-width {
	display:		none;
	width:			300px;
}
/* 画像アルバム */
.sp #album-folder-tree > ul {
	min-height:		60px;
}
#sp-album #album-folder-view {
	min-height:		60px;
}
.sp #upload-information {
	margin-top:		2em;
}
.ui-dialog #album-folder-tree ul {
	margin:			0;
}
/* 短縮表記 */
.sp .sp-hidden {
	display:		none;
}

/* ボタン */
.sp article:not(.search) button,
.sp #edit-helper button {
	margin-top:		6px;
	margin-bottom:		6px;
}

/* フォーム要素 */
.sp .main input,
.sp .main textarea {
	max-width:		100%;
	box-sizing:		border-box;
}
.sp .main table.blog-setting input,
.sp .main table.blog-setting textarea {
	max-width:		60%;
}

/*--------------------------------------------------------------------
●スマホ用検索ボックス
--------------------------------------------------------------------*/
#sp-head-search {
	position:		relative;
	z-index:		1000;
	float:			right;
	line-height:		1;

	height:			28px;
	padding:		1px 2px 1px 0px;
}
#sp-head-search form {
	height:			22px;
	margin:			0;
	padding:		3px 5px;
	border-radius:		4px;
}
#sp-header:after {
	content:		"";
	display:		block;
	clear:			both;
}
#sp-head-search input {
	font-size:		14px;
	height:			22px;
	box-sizing:		border-box;
}
/* 検索ボタン */
#sp-head-search .search-btn {
	width:			22px;
	height:			22px;
	padding:		0;
	margin:			0 0 0 2px;
}

#sp-head-search .search-box {
	width:			80px;
}
@media screen and (min-width: 340px) {
	#sp-head-search .search-box {
		width:		100px;
	}
}

/*--------------------------------------------------------------------
●スマホ用ドロップダウンメニュー
--------------------------------------------------------------------*/
.ddmenu.sp {
	position:	absolute;
	bottom:		0;
	margin-bottom:	0;
}
/* PC用の設定解除 */
.ddmenu.sp>ul {
	margin-right:	0;
}

.ddmenu.sp>ul>li {
	border-left:	none;
	border-right:	none;
}
/* on/offギミック */
.ddmenu.sp>ul li {
	overflow:	hidden;
}
.ddmenu.sp>ul li.open {
	overflow:	visible;
}
/* ul階層表示 */
.ddmenu.sp ul a {
	padding-left:	15px;
}
.ddmenu.sp ul ul a {
	padding-left:	30px;
}
.ddmenu.sp ul ul ul a {
	padding-left:	45px;
}
.ddmenu.sp ul ul ul ul a {
	padding-left:	60px;
}
.ddmenu.sp ul ul ul ul ul a {
	padding-left:	75px;
}
.ddmenu.sp ul ul ul ul ul ul a {
	padding-left:	90px;
}


/* 矢印 */
.ddmenu.sp li {
	position:	relative;
}
.ddmenu.sp ul ul:before {
	left:		5px;
}
.ddmenu.sp ul ul ul:before {
	left:		20px;
}
.ddmenu.sp ul ul ul ul:before {
	left:		35px;
}
.ddmenu.sp ul ul ul ul ul:before {
	left:		50px;
}
.ddmenu.sp ul ul ul ul ul ul:before {
	left:		65px;
}
.ddmenu.sp ul ul ul ul ul ul ul:before {
	left:		80px;
}

/* border調整 */
.ddmenu.sp>ul li {	
	border-width:		0;
	border-bottom-width:	1px;
}
.ddmenu.sp>ul>li:not(.open) {	/* top要素 */
	border-bottom-width:	0;
}
.ddmenu.sp>ul>li ul>li:first-child {
	border-top-width:	1px;
}
.ddmenu.sp li>ul>li:last-child {
	margin-bottom:		-1px;
}

/* 表示サイズ（横幅） */
.ddmenu.sp>ul>li>ul {
	width:		150%;
	max-width:	360px;
}
.ddmenu.sp>ul>li {
	width:		60%;
	max-width:	360px;
}

/* 高さの設定 */
.ddmenu.sp,
.ddmenu.sp>ul>li,
.ddmenu.sp>ul>li a,
.ddmenu.sp>ul li.open>ul>li {
	height:		30px;	/* Y */
	line-height:	30px;
}
.ddmenu.sp>ul li:not(.open)>ul>li {
	height:		0px;
}
.ddmenu.sp li ul:before {
	top:		10px;	/* = (Y-10)/2 */
}
.ddmenu.sp>ul>li>ul li.open {
	height:		auto;
}

/* 影を多重に重ねないように */
.ddmenu.sp>ul>li>ul>li ul {
	box-shadow:	none;
}

/*--------------------------------------------------------------------
●フットメッセージ
--------------------------------------------------------------------*/
.foot-message-transion, .fm-buttons span {
	transition-duration:		2s;
	transition-timing-function:	ease;
	transition-property:		color, background-color, border-color;

	border-color:	transparent;
	color:		transparent;
	box-shadow:	0px 0px 0px rgba(0,0,0,0);
}
.foot-message {
	position:	fixed;
	bottom:		10px;
	left:		8px;
	z-index:	10;
	width:		auto;
	height:		auto;

	color:		#000;
	font-size:	11pt;
	line-height:	1.5;
	max-width:	200px;

	padding:	10px;
	background-color: #ffd;
	border-radius:	8px;
	border:		1px solid #aa6;

	box-shadow:	10px 10px 10px rgba(0,0,0, 0.3);
}
.fm-buttons {
	text-align:	right;
}
.fm-buttons span {
	color:		#fff;
	border-radius:	4px;
	background-color: #aa6;

	margin:		8px 10px 0 10px;
	padding:	2px 6px;
	display:	inline-block;
	cursor:		pointer;

	font-weight:	bold;
}
.fm-buttons span:hover {
	background-color: #dd9;
	transition-duration:	0s;
}

/*####################################################################
●デバッグ
####################################################################*/
#debug-messages > div {
	margin:		0 0 1em 0;
	font-weight:	bold;
}
