@charset "UTF-8";
/*****************************************************************************
  Satsuki style
							(C)2013 nabe@abk.nu
*****************************************************************************/
@import url("../satsuki2/satsuki2.css");
/*--------------------------------------------------------------------
■全体配置
---------------------------------------------------------------------*/
/* 全体配置用 */
#hatena-body {
	margin:			1em 0.5em;
}
/* 日記部 */
div.main {
	margin-left:		17%;
	margin-right:		17%;
	padding:		0px 8px 0px 8px;
}
#sidebar
{
	width:			100%;
	position:		absolute;
	visibility:		hidden;
}
#side-a
{
	width:			16%;
	margin:			0;
	padding:		0;
	visibility:		visible;
}
#side-b
{
	position:		absolute;
	left:			84%;
	top:			0;
	width:			16%;
	margin:			0;
	padding:		0;
	visibility:		visible;
}

