@charset "UTF-8";
/*******************************************************************************
きゅーとテーマ
    adiary C87 Special Edition Theme    2014/12/30
    (C) adiaryユーザ会 / adiary.org / かえで

Supported Browser/Rendering Engine are:
    Gecko Rendering Engine Based:
        Mozilla Firefox         34 or lator
            Chedked by Firefox 34.0.5 - openSUSE 13.2 Official Repository
    KHTML Rendering Engine Based:
        Konqueror               4.14.3 or lator
            Checked by Konqueror 4.14.3 - openSUSE 13.2 Official Repository
    Blink Rendering Engine Based:
        Chromium (Google Chrome) 39.0
            Checked by Chromium 39.0.2171.65 - openSUSE 13.2 Official Repository
    
*** Not Supported Browser / Rendering Engine ***
    Trident Rendering Engine Based:
        Windows Internet Explorer
    WebKit2 Rendering Engine Based:
        Apple Safari
    Presto Rendering Engine Based:
        Opera 12.x

Change Log
	first release:			2014/12/30
	CSS update:			2015/12/29 (by nabe@abk)
	CSS update:			2017/12/28 (by nabe@abk)
*******************************************************************************/
html,button,input {
	font-size:			12pt;
	line-height:			1.5;
}
body, h1, h2, form,
.hatena-module ul {
	margin:				0;
	padding:			0;
}

/* タグ一覧 */
div.art-info span.tags:before {
	content:		'[';
}
div.art-info span.tags:after {
	content:		']';
}
div.art-info span.tag:not(:last-child):after {
	content:		',';
}
span.tag:not(:last-child) {
	margin-right:		0.4em;
}

/* 非公開コメント */
.comment-hidden {
	color:			#808;
}
/* 非表示コメント */
.comment-disable {
	color:			#800;
}

/* モジュールタイトルのリンク */
div.hatena-moduletitle a, 
div.hatena-moduletitle a:link, 
div.hatena-moduletitle a:visited {
	color:			inherit;
}
button {
	border-radius:		6px;
	line-height:		100%;
}

/*--------------------------------------------------------------------
■初期設定
--------------------------------------------------------------------*/

/* テキストボックス類 */
select, input[type="text"], input[type="search"],
input[type="date"], input[type="password"], input[type="file"] {
    background-color:       white;
    background-color:       rgba(255,255,255,0.5);
    border-radius:          5px;
    border-width:           0px;
    box-shadow:             3px 3px 10px rgba(240, 140, 171, 0.6);
    min-height:             18px;
    margin:                 8px 8px 8px 0;
    max-width:              98%;
}
/* フォーカス時 */
select:focus, input[type="text"]:focus, input[type="search"]:focus,
input[type="date"]:focus, input[type="password"]:focus,
input[type="file"]:focus {
    background-color:       white;
    background-color:       rgba(255,255,255,0.8);
    box-shadow:             3px -3px 10px rgba(240, 140, 171, 1),
                                -3px 3px 10px rgba(240, 140, 171, 1);
}
/* フォーカス時 */
select:disabled, input[type="text"]:disabled, input[type="search"]:disabled,
input[type="date"]:disabled, input[type="password"]:disabled,
input[type="file"]:disabled {
    background-color:       rgba(230,230,230,0.8);
}
textarea {
    width:                  680px;
    font-size:              13px;
    font-family:            monospace;
    line-height:            15px;
    background-color:       white;
    background-color:       rgba(255,255,255,0.3);
    border-radius:          8px;
    border-width:           0px;
    box-shadow:             3px 3px 10px rgba(240, 140, 171, 0.6);
    margin:                 10px;
}
article:not(.system) textarea {
    padding:                0.5em;
}
textarea:focus {
    background-color:       rgba(255,255,255,0.3);
    box-shadow:             3px -3px 10px rgba(240, 140, 171, 1),
                              -3px 3px 10px rgba(240, 140, 171, 1);
}

/*--------------------------------------------------------------------
●ボタンデザイン
--------------------------------------------------------------------*/
button
{
	color:			#000;
	font-weight:		bold;
	border:			1px solid #eac;
	border-radius:		6px;
	background-image:	linear-gradient(to bottom,
				#fcd,
				#fab);	
	box-shadow:		1px 1px 3px rgba(240, 140, 171, 0.6);
}
button:hover
{
	border-radius:		6px;
	cursor:			pointer;
	background-image:	linear-gradient(to bottom,
				#fde,
				#fcd);

}

button:disabled
{
	color:			#666;
	background-image:	none;
	background-color:	#dbc;
}

/*--------------------------------------------------------------------
●jQuery UI アイコン設定
--------------------------------------------------------------------*/
#ui-icon-autoload {
	background-color:	#c48;
}

/*--------------------------------------------------------------------
■ 要素配置
--------------------------------------------------------------------*/
/* ブラウザ描画領域 ---------------------------------------------------*/
/* ブラウザ描画領域全体 */
html {
    background-repeat:      repeat;
    background-color:       #f8dfe5;
    background-position:    top center;
}
/*--------------------------------
$option:title=background-image
$option=dot-image
html {
    background-image:       url("dotted.png");
}
--------------------------------*/

body {
    color:                  #501762;
    width:                  960px;
    background-image:       url("body-bg3.png");
    margin:                 0 auto;
    box-shadow:             3px -3px 10px rgba(240, 140, 171, 1),
                                -3px 3px 10px rgba(240, 140, 171, 1);
}
/*--------------------------------
$option2:title=main-bg
$option2=original-background
body {
    background-image:       url("body-bg2.png");
}
--------------------------------*/


/* フッター */
#footer {
    padding:                5px 0;
    background-repeat:      repeat;
    background-color:       #f08daa;
    box-sizing:             border-box;
    width:                  100%;
    color:                  white;
    font-size:              13px;
    text-align:             center;
    text-shadow:            none;
    line-height:            120%;
}
#footer:before {
    display:                block;
    content:                "cute: adiary C87 Special Edition Theme";
}
#footer a:link, #footer a:visited {
	color:		#fff;
}

/*--------------------------------
$option4:title=theme-name-footer
$option4=theme-name-none
#footer:before {
	display:		none;
}
--------------------------------*/


/* 本文部 ----------------------------------------------------------*/
/* 管理メニュー + ブログタイトル + サイドバー + 記事部 */
#adiary-body {
    width:                  960px;
    margin:                 0 auto;
}

/* 管理メニュー + ブログタイトル */
header {
    background-image:       url("trans-grad_50-0.png");
    background-repeat:      repeat-x;
    padding:                0;
}

/* 管理メニュー部 */
#nav-header {
    width:                  940px;
    margin:                 0 auto;
    text-align:             right;
    font-size:              13px;
    height:                 16px;
    padding:                2px 10px;
    text-align:             right;
}

/* ブログタイトル部 */
h1 {
    padding:                5px 20px 15px 20px;
    line-height:            80px;
    height:                 80px;
}

/* 記事部 */
div.main {
    width:                  700px;
    float:                  left;
    padding:                0 10px;
}

/* サイドバー部 */
#sidebar {
    width:                  230px;
    float:                  right;
    padding:                18px 0;
    margin-right:           10px;
    margin-bottom:          1em;
}

/* 記事/サイドバーの高さにかかわらずadiary-bodyの背景描画を行わせる小細工
 * 
 * これにより記事部とサイドバーの高さが異なる場合にhtml要素で指定した背景が
 * 描画されるのを防ぐ */
#adiary-body:after {
    display:                block;
    content:                " ";
    clear:                  both;
    height:                 0px;
}


/*--------------------------------------------------------------------------------------------------
■ 基本設定
--------------------------------------------------------------------------------------------------*/
/* ◆ リンク配色
--------------------------------------------------------------------------------------------------*/
a:link {
    color:                  #b5001f;
    text-decoration:        none;
}

a:visited {
    color:                  #9f84e1;
    text-decoration:        none;
}

    
a:hover {
    text-decoration:        underline;
}

a img {
}


/* ◆ フォントサイズ基本設定
--------------------------------------------------------------------------------------------------*/
.xx-large                   { font-size: 200%; }
.x-large,   .huge           { font-size: 150%; }
.large                      { font-size: 130%; }
.medium,    .nomalsize      { font-size: 100%; }
.small                      { font-size: 90%; }
.x-small,   .tiny           { font-size: 80%; }
.xx-small,  .scriptsize     { font-size: 50%; }

/*  ◆ フォントファミリー基本設定
--------------------------------------------------------------------------------------------------*/
.mono,  .pre                { font-family: monospace; }

/* ◆ フォント装飾基本設定
--------------------------------------------------------------------------------------------------*/
.it,    .italic             { font-style: italic; }
.bf,    .bold               { font-weight: bold; }
.u,     .underline          { text-decoration: underline; }

/* ◆ divボックス基本設定
--------------------------------------------------------------------------------------------------*/
div.left                    { text-align: left; }
div.center                  { text-align: center; }
div.right                   { text-align: right; }

/* ◆ リスト基本設定
--------------------------------------------------------------------*/
ul                          { list-style-position: inside;
                              list-style-type: square;
                              margin: 0 0 0.2em 0.5em; }
ol                          { list-style-position: inside;
                              list-style-type: decimal;
                              margin: 0 0 0.2em 0.5em; }
article ul, article ol      { padding-left: 0.5em; }
ul.none, ol.none            { list-style: none; }

/* 定義済みリスト */
dl                          { margin: 0.3em 0; }
dt                          { font-weight: bold; }
dd                          { padding-left: 1.5em;
                              padding-bottom: 0.5em; }

/* ---------------------------------------------------------------------------------------------*/
/* ヘッダ
--------------------------------------------------------------------------------------------------*/
#nav-header a {
    margin:                 0 0.1em 0 0.1em;
    color:                  #501762;
}

#nav-header span {
    margin:                 0 0.1em 0 0.1em;
}

#nav-header a:hover {
    color:                  #b5001f;
}

/*--------------------------------------------------------------------------------------------------
■ 見出し (日記帳タイトル)
--------------------------------------------------------------------------------------------------*/
h1 a:link, h1 a:hover, h1 a:visited {
    color:                  white;
    text-decoration:        none;
    font-size:              28px;
    text-shadow:            -1px -1px 4px #f08daa, -1px 1px 3px #f08daa,
                                1px 1px 3px #f08daa, 1px -1px 3px #f08daa,
                                0 0 20px white;
}

/*--------------------------------------------------------------------
●ドロップダウンメニュー（配色カスタマイズ） by nabe
--------------------------------------------------------------------*/
/* 背景色（非選択色） */
.ddmenu,
.ddmenu>ul li {
	background-color:	#f08daa;
}

/* 選択色 */
.ddmenu>ul li:hover,
.ddmenu>ul li.hover {
	background-color:	#d68;
}
/* 枠線 */
.ddmenu>ul li a,
.ddmenu>ul ul {
	border-color:		#e69;
}
.ddmenu>ul>li {
	border:			none;
}
.ddmenu:not(.sp)>ul>li>a {
	height:			100%;
}
/* 文字 */
.ddmenu a:link,
.ddmenu a:visited
{
	color:			#fff;
}
/* 矢印の色 */
.ddmenu li ul li ul:before,
.ddmenu.sp li ul:before {
	border-left-color:	#d12;
}
.ddmenu:not(.sp) li:last-child:not(:first-child) ul li ul:before {
	border-left-color:	transparent;
	border-right-color:	#d12;
}

/* 設定画面に矢印の色を自動取得させるための指定 */
.ddmenu {
	color:			#d12;
}

/*--------------------------------------------------------------------
■ ナビゲーション (前のページ/次のページ)
--------------------------------------------------------------------*/
nav.page-nav {
	font-size:		10pt;
	line-height:		100%;
	padding:		0 10px;
	margin:			1em 0;
}

}

nav.page-nav a {
    display:                inline-block;
}
nav.page-nav a:first-child {
    margin-right:           1em;
}
nav.page-nav a:last-child {
    margin-left:            1em;
}

nav.page-head {
}

nav.page-foot {
    text-align:             right;
}

/*--------------------------------------------------------------------
■ 記事部 (本文)
--------------------------------------------------------------------*/
article.article, article.system {
    background-color:       white;
    background-color:       rgba(255,255,255,0.75);
    padding-top:            5px;
    margin-bottom:          1.5em;
    background-image:       url("article-bg.png");
    background-repeat:      none;
    background-position:    bottom right;
    background-repeat:      no-repeat;
    min-height:             120px;
}

/* 記事タイトル部 */
/* コメント入力部タイトル */
/*------------------------------------------------------------------*/
h2, div.caption {
    padding:                0px 8px;
    margin-bottom:          5px;
    font-size:              15px;
    line-height:            25px;
    background-color:       #f08daa;
}

h2 a:link, h2 a:visited, h2 a:hover,
div.caption span {
    color:                  white;
    font-weight:            bold;
    text-decoration:        none;
}

h2 a.date {
    margin-right:           0.5em;
}

/* 本文部 */
/*------------------------------------------------------------------*/
article {
    padding:                0 8px 1em 8px;
    font-size:              14px;
    line-height:            22px;
    min-height:             80px;
}

/* 本文ヘッダ部 */
div.art-info {
    font-size:              12px;
    line-height:            14px;
    text-align:             right;
    margin:                 4px 0;
}

div.art-info span:not(.tag) {
    margin-left:            1em;
}

div.art-info a:link, div.art-info a:visited, 
div.art-info a:hover {
    color:                  #b5001f;
}

/* 本文フッタ部 */
div.body-footer {
    margin:                 1em 0 1.5em 0;
}
div.social-buttons {
    text-align:             right;
}
.social-button {
    color:                  #b5001f;
}


div.body-footer span, div.body-footer a:visited,
div.body-footer a:hover {
    color:                  #b5001f;
}

article section {
}

article section p {
    margin-bottom:          1em;
    padding:                0 0.5em;
}


/*--------------------------------------------------------------------------------------------------
● 記事：基本設定
--------------------------------------------------------------------------------------------------*/
/* 見出し */
article h3 {
    line-height:            26px;
    font-size:              18px;
    margin:                 12px 0 6px 0;
    border-bottom:          2px solid #f08daa;
}

h3 span {
}

h3 a:link, h3 a:visited, h3 a:hover {
    color:                  #b5001f;
}

h3 span.timestamp {
    font-size:              13px;
    color:                  #b5001f;
}

/* 小見出し */
article h4 {
    line-height:            24px;
    font-size:              16px;
    margin:                 10px 0 6px 0;
    color:                  #b5001f;
}

h4 a:link, h4 a:visited, h4 a:hover {
    color:                  #b5001f;
}

h4 span {
    color:                  #b5001f;
}

/* 小々見出し */
div.body h5 {
    font-size:              14px;
    line-height:            20px;
    font-weight:            bold;
    margin:                 10px 0 6px 4px;
}


/*--------------------------------------------------------------------
● 記事: ブロック記法
--------------------------------------------------------------------*/
article blockquote,
article pre,
article div.box {
    font-size:          14px;
    line-height:        18px;
    margin:             10px;
    padding:            13px;
    display:            block;
/*      border:                         1px solid #f08daa; */
    box-shadow:             3px 3px 10px rgba(240, 140, 171, 0.6);
}

/* 引用記法 */
/*------------------------------------------------------------------*/
article blockquote {
    display:                block;
    position:               relative;
    z-index:                0;
    background-color:       rgb(246,235,169);
    background-color:       rgba(246,235,169,0.5);
}

article blockquote p {
    margin:                 0;
    padding:                0;

}

/* pとpの間 */
blockquote p + p {
    margin:                 1em 0;
}


/* pre記法 */
/*------------------------------------------------------------------*/
article pre, pre.hljs  {
    font-family:            monospace;
    display:                block;
    position:               relative;
    z-index:                0;
    background-color:       rgba(240, 180, 223, 0.3);
}

pre span.comment {
    color:                  #546ccd;
    font-family:            monospace;
}

pre strong.comment {
/*     color:                  #b5001f; */
    font-family:            monospace;
    font-weight:            bold;
}

/*--------------------------------------------------------------------
● 記事: 脚注処理
--------------------------------------------------------------------*/
/* 注釈へのリンク */
span.footnote a {
    color:                  #b5001f;
    font-size:              11px;
    line-height:            11px;
    vertical-align:         top;
}

/* 注釈処理 */
section footer {
    font-size:              12px;
    line-height:            16px;
    border-top:             1px dashed #f08daa;
    margin:                 1em 0.6em 0 4em;
    padding:                0.6em 0 0.6em 0;
}

section footer p.footnote {
    line-height:            16px;
    margin:                 0;
}


section footer a:link, section footer a:visited,
section footer a:hover {
    color:                  #b5001f;
    margin-left:            -1em;
}


/*--------------------------------------------------------------------
● 記事: 本文内リスト
--------------------------------------------------------------------*/
article ul,
article ol,
article dl {
    margin:                 0.5em 0 0.5em 0.5em;
}

article li {
    margin:                 1px 0;
}

article ul ul,
article ol ol, 
article ul ol,
article ol ul {
    margin:                 0 0 0 0.5em;
}

/* ---------------------------------------------------------------------------------------------*/
/* ◆ 画像処理
--------------------------------------------------------------------------------------------------*/
figure.image img {
    background-color:       white;
    padding:                10px;
    box-shadow:             0 4px 10px rgba(240, 140, 171, 0.3);
}

figure.image {
    display:                inline-block;
    position:               relative;
    margin-left:            8px;
    margin-top:             14px;
    margin-bottom:          14px;
    z-index:                0;
}

figure.image:after {
    position:               absolute;
    display:                block;
    background-color:       white;
    content:                "";
    top:                    0;
    left:                   0;
    width:                  100%;
    height:                 100%;
    box-shadow:             0 4px 10px rgba(240, 140, 171, 0.6);
    -moz-transform:         rotate(3deg);
    -khtml-transform:       rotate(3deg);
    -webkit-transform:      rotate(3deg);
    -ms-transform:          rotate(3deg);
    -o-transform:           rotate(3deg);
    transform:              rotate(3deg);
    z-index:                -1;
}


/*--------------------------------------------------------------------
● 記事：テーブル
--------------------------------------------------------------------*/
article table, article.system table {
    font-size:              14px;
    line-height:            18px;
    margin:                 10px;
    border-collapse:        collapse;
    border-spacing:         0;
    empty-cells:            show;
    width:                  100%;
    border-left-width:      3px;
    box-shadow:             3px 3px 10px rgba(240, 140, 171, 0.6);
}    

article table td, article table th,
article.system table td, article.system table th{
    background-color:       white;
    background-color:       rgba(255,255,255,0.3);
    padding:                3px 0.4em;
}

/* 見出しセル */
article table th, article.system table th {
    background-color:       #f08cab;
    background-color:       rgba(240, 140, 171, 0.3);
}

/* クラス指定記法による配置 */
th.left, td.left, th.l, td.l {
    text-align:             left;
}

th.center, td.center, th.c, td.c {
    text-align:             center;
}

th.right, td.right, th.r, td.r {
    text-align:             right;
}
article table tr:not(:last-child) td {
	border-bottom:		1px dashed #f08cab;
}


/*--------------------------------------------------------------------------------------------------
■ コメント タイトル部
--------------------------------------------------------------------------------------------------*/
div.caption {
    margin-bottom:          18px;
}

div.caption .ui-icon {
        /*  base.cssのオーバーライド */
    display:                inline;
}

div.caption span.com-num {
    font-size:              15px;
    margin-left:            0.5em;
}

div.commentbody {
    font-size:              13px;
    line-height:            15px;
    padding:                0 10px;
}

div.comment-one {
    margin:                 1.2em 0;
}
div.commentator {
	margin-bottom:          4px;
	border-bottom:		1px solid #d9a;
}
form.comment span {
    font-size:              13px;
    line-height:            15px;
}

.comment form {
    margin-top:             0.5em;
    margin-bottom:          -1em;
}

.comment label {
    font-size:              13px;
    line-height:            15px;
    padding-left:           0.3em;
}

.comment input[type="submit"] {
    padding:                0 0.4em;
}

form.comment {
    margin-top:             2em;
}

form textarea {
    margin:                 12px 0 12px 0;
}
hr#com-form-separator {
    border:                 none;
}
#com {
	background-color:       white;
	background-color:       rgba(255,255,255,0.75);
}
#com div.ip-host-agent {
	color:			#080;
	text-align:		right;
	margin-right:		1em;
	display:		none;
}
hr#com-form-separator {
	margin:			1em 0;
}


/* リプライやコメント一覧画面でのポップアップ表示 */
#popup-com {
	border:			1px solid #000;
	background-color:	#ffd;
	border-radius:		4px;
	box-shadow:		4px 4px 2px 2px rgba(60,60,20,0.75);

	font-size:		10pt;
	padding:		0.5em;
}

/*--------------------------------------------------------------------
■ サイドバー
--------------------------------------------------------------------*/
/*■ 以下、サイドバー内の配置設定
--------------------------------------------------------------------*/
/* サイドバーの１項目 */
div.hatena-module {
    padding:                6px 30px 6px 6px;
    margin-bottom:          10px;
    background-image:       url("sidebar-bg.png");
    background-color:       white;
    background-color:       rgba(255,255,255,0.75);
    background-repeat:      repeat-y;
    background-position:    right;
    min-height:             120px;
    position:               relative;
}
/*--------------------------------
$option3:title=opacity-0.75
$option3=opacity-0.45
article.article, article.system,
div.hatena-module,
#com {
	background-color:       rgba(255,255,255,0.45);
}
--------------------------------*/
/*--------------------------------
$option3=opacity-1.00
article.article, article.system,
div.hatena-module,
#com {
	background-color:       #fff;
}
--------------------------------*/


div.hatena-moduletitle {
    font-weight:            bold;
    font-size:              14px;
    line-height:            25px;
    transform-origin:           top left;
    -khtml-transform-origin:    top left;
    -o-transform-origin:        top left;
    -ms-transform-origin:       top left;
    transform:              rotate(90deg);
    -khtml-transform:       rotate(90deg);
    -o-transform:           rotate(90deg);
    -ms-transform:          rotate(90deg);

    width:                  206px;
    height:                 206px;
    position:               absolute;
    right:                  -200px;
    color:                  white;
}
div.hatena-moduletitle a, 
div.hatena-moduletitle a:link, 
div.hatena-moduletitle a:visited {
	color:			inherit;
}

div.hatena-modulebody {
    padding:                0;
    font-size:              13px;
    line-height:            16px;
    background-image:       url("sidebar-body-bg.png");
    background-repeat:      none;
    background-position:    bottom right;
    background-repeat:      no-repeat;
    min-height:             120px;

    /* こうしないとリンクがクリックできない */
    position:               relative;
}

div.hatena-modulebody ul {
    overflow:               hidden;
}

div.hatena-module:not(.system-module) ul {
    margin:                 0 0 16px 0;
    padding-bottom:         5px;
    list-style-type:        none;
}

/* コンテンツの子要素 */
div.hatena-module:not(.system-module) ul ul {
    margin-bottom:      0px;
    margin-left:        0.5em;
}


div.hatena-module:not(.system-module) li {
    list-style-type:    none;
    list-style-position:outside;    /* for IE(type:none のとき必須) */
    min-height:         15px;
    padding:            0 8px 0 8px;
}

#side-search-textbox {
    width:              120px;
}


/*--------------------------------------------------------------------------------------------------
● sidebar：カレンダー
--------------------------------------------------------------------------------------------------*/
#side-calendar div.hatena-modulebody {
    padding:            3px 0;
}

#side-calendar table {
    width:              186px;
    font-size:          13px;
    line-height:        16px;
    border-collapse:    collapse;
    border-spacing:     0;
    border:             none;
    text-align:         center;
}

/* 先月 */
#side-calendar table td.calendar-prev-month {
    text-align:         left;
    padding-left:       0.5em;
    border:             none;
}

/* 今月 */
#side-calendar table td.calendar-current-month {
    border:             none;
}
/* 来月 */
#side-calendar table td.calendar-next-month {
    text-align:         right;
    padding-right:      0.5em;
    border:             none;
}

#side-calendar table td {
    border:             none;
}

/* 土曜日 */
#side-calendar table td.w6, #side-calendar table th.w6 {
    background-color:   #e8e4ed;
    background-color:   rgb(159, 132, 255);
    background-color:   rgba(159, 132, 255, 0.3);
}

#side-calendar td.w0, #side-calendar th.w0,
#side-calendar td.holiday {
    background-color:   #f6dbd6;
    background-color:   rgb(240, 140, 171);
    background-color:   rgba(240, 140, 171, 0.3);
}

/*--------------------------------------------------------------------
● システム関連
--------------------------------------------------------------------*/
article.system {
    padding-bottom:                             1em;
}

article.system h2 {
        color:                                          white;
}

div.taglist.cond span.tag {
	margin-right:		4px;
}

/* ◆　ログイン画面
--------------------------------------------------------------------*/
div.body table.login {
    width:                  100%;
    margin:                 auto;
}
div.body table.login tr, div.body table.login td, div.body table.login th {
    font-size:              14px;
    line-height:            18px;
    border:                 none;
}

table.login input[type="text"], table.login input[type="password"] {
    width:                  90%;
        margin:                                 0 4%;
        padding:                                0 1%;
}

strong.warning, strong.error,
p.warning, p.error,
div.messages div.warn,
div.messages div.message {
    color:                  #b5001f;
}

/* ◆　記事編集
--------------------------------------------------------------------*/
article.edit .w120 {
    width:                  160px;
}

/* 下書きを開く */
#draft-notice {
        background-image:	none;
        min-height:		0;
}
article.edit span.tag {
	background-color:	#fcc;
}

article.edit textarea {
	margin:			0;
}


/* ◆　ヘルプ
--------------------------------------------------------------------*/
/* [?]文字 */
.help {
    font-weight:            bold;
    cursor:                 pointer;
    color:                  #b5001f;
}

div.popup-help {
    min-width:              100px;
    max-width:              360px;
    padding:                0.5em 1em;

    padding:                0.5em;
    background-color:       white;
    border-radius:          8px;
    border-width:           0px;
    box-shadow:             3px -3px 10px rgba(240, 140, 171, 1),
                                -3px 3px 10px rgba(240, 140, 171, 1);
    margin:                 0 8px 8px 0;
    border:                 none;
    font-size:              11pt;

}


/* ◆　ナビゲーション
--------------------------------------------------------------------*/
nav.tree {
    font-size:              13px;
    line-height:            18px;
    padding-left:           10px;
}
nav.tree select {
    font-size:              13px;
}


/* ◆　ツリー (タグ, wiki)
--------------------------------------------------------------------*/
ul.dynatree-container {
    padding:                0.5em;
    background-color:       white;
    background-color:       rgba(255,255,255,0.3);
    margin:                 0 8px 8px 0;
    border:                 1px dash #888;
    line-height:            100%;
}
ul.dynatree-container ul {
	margin:			0 0 0 1em;
}

article .treebox,
article:not(.edit) #editarea {
	margin-top:		1em;
	margin-bottom:		1em;
}

form#import-form table {
    margin-left:            -12px;
}


/* ◆　サイドバーツリー (画像管理)
--------------------------------------------------------------------*/
#sidebar ul.dynatree-container {
    width:                  180px;
    padding:                0.5em;
    background-color:       transparent;
    border-width:           0px;
    margin:                 0 8px 8px 0;
    border: none;
}

/*--------------------------------------------------------------------
●プログレスバー（import等）
--------------------------------------------------------------------*/
.ui-progressbar {
    position:               relative;
    background-color:       #f08daa;
    border-radius:          5px;
    border-width:           0px;
    box-shadow:             3px 3px 10px rgba(240, 140, 171, 0.6);
    min-height:             18px;
    margin:                 10px 8px 8px 0;
    padding:                2 0;
    max-width:              400px;
}
.ui-progressbar .label {
    position:               absolute;
    width:                  100%;
    font-size:              14px;
    text-align:             center;
    font-weight:            bold;
    color:                  white;
}
.ui-progressbar,
.ui-progressbar .label:before {
    height:                 20px;
    vertical-align:         middle;
}
.ui-progressbar-value {
    padding:                1px 0 0 1px;
    background-color:       rgb(181,0,31);
    background-color:       rgba(181,0,31,0.5);
}

/*--------------------------------------------------------------------
●jQuery UI, popup-info/dialog（テーマREADME/記事のタグヘルパー等）
--------------------------------------------------------------------*/
.ui-dialog {
	background-color:	#fff0ff;
	border:			2px solid #d9a;
	border-radius:		10px;
	box-shadow:		8px 8px 4px 4px rgba(60,60,100,0.75);
	padding:		0;

	font-size:		10.5pt;
	line-height:		130%;
}
.ui-dialog .ui-widget-header {
	color:			#fff;
	background-color:	#f08daa;
	font-weight:		bold;
	font-size:		12pt;

	border:			none;
	border-radius:		8px 8px 0 0;
}
.ui-dialog span.ui-dialog-title {
	height:			1em;
	margin-top:		0;
	padding-top:		0;
	padding-bottom:		2px;
}
.ui-dialog button.ui-button {
	border-radius:		4px;
}
.ui-dialog .ui-icon {
	text-indent:		0px;
}
.ui-dialog span.ui-icon-closethick {
}
.ui-dialog .ui-dialog-buttonpane {
	margin-top:		0px;
	padding-top:		0px;
}
