@charset "UTF-8";
/*******************************************************************************
  「wp」テーマ
					         (C)2015 nabe@abk
*******************************************************************************/
/* [TAB=8] */
/*--------------------------------------------------------------------
■全体配置
--------------------------------------------------------------------*/
body
{
	background-color:	#f3f3f3;	/* $c=bg */
	padding:		0;
	margin:			0;

	color:			#000;		/* $c=fixfont */
	font-size:		12pt;
	line-height:		120%;
}
#hatena-body {
	position:		relative;
	margin:			1em 8px;
	padding-bottom:		1px;
}
#hatena-body:after {
	content:		"";
	clear:			both;
	display:		block;
}
#header>div:first-child,
#footer>div:last-child,
#hatena-body,
#side-b {
	/* この部分変更時は ddmenu も変更すること */
	min-width:		800px;
	max-width:		1000px;
	margin-left:		auto;
	margin-right:		auto;
}
/* 記事部 */
.main {
	float:			left;
	width:			calc(100% - 260px);
}
/* 左側にメニューを配置 */
#sidebar
{
	float:			right;
	width:			240px;
	margin:			0;
	padding:		0;

	font-size:		11pt;
	line-height:		160%;
}
/* フッタの配置 */
#footer
{
	background-color:	#333;		/* $c=footerbg */
	text-align:		center;

	margin:			30px 0 0 0;
	padding:		20px 0 30px 0;
	font-size:		10pt;
	line-height:		120%;
}
#footer, #footer a:link, #footer a:visited {
	color:			#fff;		/* $c=footerfont */
}

/* overflow防止 */
/* #side-a, #side-b, article {
	overflow:		hidden;
	text-overflow:		ellipsis;
} */

/*--------------------------------------------------------------------
■表示オプション（右サイドバー）
--------------------------------------------------------------------*/
/*
$option:title=sidebar-position
$option=left-sidebar
.main {
	float:			right;
}
#sidebar {
	float:			left;
}
-------------------- */

/*******************************************************************************
■全体設定
*******************************************************************************/
/*--------------------------------------------------------------------
●リンク配色
--------------------------------------------------------------------*/
a:link {
	color:			#00b;		/* $c=link */
}
a:visited {
	color:			#27b;		/* $c=linkvisited = auto:link */
}
a:hover {
	color:			#c03;		/* $c=linkhoverbg = auto:link */
	text-decoration:	underline;
}

/*--------------------------------------------------------------------
●ボタンデザイン
--------------------------------------------------------------------*/
button
{
	color:			#000;			/* $c=fixfont */
	font-weight:		bold;
	border-radius:		6px;
	border:			1px solid #bbb;		/* $c=btnborder = border */
	background-color:	#fff;			/* $c=btnbg0 */
	background-image:	linear-gradient(to bottom,
				#fff,			/* $c=btnbg0 */
				#eee);			/* $c=btnbg1 = auto:btnbg1 */

}
button:hover
{
	cursor:			pointer;
	color:			#333;			/* $c=btnhoverfont = auto:fixfont */
	background-image:	none;
	background-color:	#fff;			/* $c=btnhoverbg = auto:btnbg0 */
}

button:disabled
{
	color:			#666;
	background-image:	none;
	background-color:	#ccc;			/* $c=btndisable = auto:btnbg0 */
}

/*--------------------------------------------------------------------
●jQuery UI アイコン設定
--------------------------------------------------------------------*/
#ui-icon-autoload {
	background-color:	#27b;			/* $c=uiicon = auto:link */
}

/*******************************************************************************
■ヘッダ
*******************************************************************************/
#sp-header, #header {
	background-color:	#f3f3f3;		/* $c=headerbg */
	padding:		0;
	margin-bottom:		1em;
}
#header>div:first-child {
	position:		relative;
}
#nav-header {
	text-align:		right;
	font-size:		10pt;
	line-height:		100%;
	padding:		1px;
	display:		block;
}

/* ○○さん */
a.welcome-name { margin: 0px 4px 0px 4px; }


/* 見出し */
h1
{
	font-size:		24pt;
	font-weight:		bold;
	font-family:		"ヒラギノ角ゴ Pro W3","VL ゴシック","メイリオ",Meiryo,sans-serif;
	line-height:		100%;

	margin:			0;
	padding:		4px 0 50px 0;
}
h1 a, h1 a:link, h1 a:visited {
	color:			#000;		/* $c=titlefont = fixfont */
	text-decoration:	none;
}
h1 img, h1 a img {
	border:			none;
}

/* ブログの説明 */
#head-description {
	position:		absolute;
	top:			54px;
	font-size:		10pt;
	color:			#666;
}
/* ヘッダの検索ボックス */
#head-search {
	position:		absolute;
	top:			62px;
	right:			10px;
	font-size:		10pt;
	line-height:		100%;
}
#head-search .title {
	display:		none;
}
#head-search input {
	margin:			0;
}
#head-search .search-box {
	border:			1px solid #000;
	border-right:		none;
	height:			18px;
	border-radius:		4px 0 0 4px;
	padding:		1px 4px;
	width:			160px;
}
#head-search .search-btn {
	border:			1px solid #000;
	padding:		0 2px;
	height:			22px;
	margin-left:		-5px;
	border-radius:		0 4px 4px 0;
}
#head-search .search-radio {
	display:		none;
}
#head-search .search-box,
#head-search .search-btn {
	border-color:		#bbb;			/* $c=border */
}



/*--------------------------------------------------------------------
●ドロップダウンメニュー
--------------------------------------------------------------------*/
/* "header>div>.ddmenu" move to "header>.ddmenu" */
#ddmenu-move-to-after-header-div {
	min-width:		1px;
}
/* option=ddmenu-width-limit
#header .ddmenu {
	min-width:		600px;
	max-width:		920px;
	margin-left:		auto;
	margin-right:		auto;
	border-radius:		6px;
} */

.ddmenu {
	border:			1px solid #bbb;	/* $c=ddborder = border */
}
/* 背景色（非選択色） */
.ddmenu,
.ddmenu>ul li {
	background-color:	#111;		/* $c=main */
}
/* 選択色 */
.ddmenu>ul li:hover,
.ddmenu>ul li.hover {
	background-color:	#666;		/* $c=ddhover */
}
/* 枠線 */
.ddmenu>ul li a,
.ddmenu>ul ul {
	border-color:		#bbb;		/* $c=border */
}
/* 文字 */
.ddmenu a,
.ddmenu a:link,
.ddmenu a:visited
{
	font-weight:		normal;
	color:			#fff;		/* $c=ddfont */
}
/* 矢印の色 */
.ddmenu li ul li ul:before,
.ddmenu.sp li ul:before {
	border-left-color:	#fff;		/* $c=ddarrow = ddfont */
}
.ddmenu:not(.sp) li:last-child:not(:first-child) ul li ul:before {
	border-left-color:	transparent;
	border-right-color:	#fff;		/* $c=ddarrow */
}
/* 設定画面に矢印の色を自動取得させるための指定 */
.ddmenu {
	color:			#fff;		/* $c=ddarrow */
}
/* 枠線を消す */
.ddmenu>ul li a {
	border:			none;
}


/*******************************************************************************
■メイン
*******************************************************************************/
/*--------------------------------------------------------------------
■ページ送り
--------------------------------------------------------------------*/
.main nav.page-nav:first-child {
	margin-top:	0;
}
nav.page-nav {
	font-size:	10pt;
	line-height:	100%;
	margin:		1em 0;
}
nav.page-nav a {
	display:	inline-block;
}
nav.page-nav a:first-child {
	margin-right:	1em;
}
nav.page-nav a:last-child {
	margin-left:	1em;
}

/*--------------------------------------------------------------------
■記事のデザイン配置（本文）
--------------------------------------------------------------------*/
/* 1つの記事 */
article {
	position:		relative;
	clear:			both;
	margin-bottom:		1.5em;
	padding:		20px 24px;

	border-radius:		6px;
	border:			1px solid #ddd;		/* $c=border2 = auto:border */
	background-color:	#fff;			/* $c=artbg */
}
article.wiki {
	border:			2px solid #bbb;		/* $c=border */
}

/* --------------------
$option2:title=shadow
$option2=article-shadow
article {
	box-shadow:	 2px  0px 2px rgba(0,0,0,0.1),
			 0px  2px 2px rgba(0,0,0,0.1),
			-2px  0px 2px rgba(0,0,0,0.1),
			 0px -2px 2px rgba(0,0,0,0.1);
}
-------------------- */
/* --------------------
$option2=article-shadow2
article {
	box-shadow:	 6px  6px 4px rgba(0,0,0,0.2);
}
-------------------- */




/* 記事タイトル */
article h2 {
	font-size:		24pt;
	line-height:		120%;
}
h2, h2 a, h2 a:link, h2 a:visited {
	color:			#000;			/* $c=fixfont */
	text-decoration:	none;
}
h2 a:hover {
	text-decoration:	underline;
}

article h2 {
	margin:			0;
	padding:		0;
}
article h2 a.date {
	display:		block;
	font-weight:		normal;
	font-size:		12px;
	margin-bottom:		2px;
}


/* 記事本文 */
article div.body {
	font-size:		16px;
	line-height:		170%;
	margin:			0px;
	padding:		0.5em 0;
}
/*
$option4:title=font-size
$option4=font-small
article div.body {
	font-size:		11pt;
	line-height:		140%;
}
*/

/* 記事ヘッダ */
div.art-info {
	background-color:	#f4f4ff;		/* $c=prebg */
	border-radius:		6px;

	text-align:		right;
	line-height:		100%;
	font-size:		90%;
	padding:		4px;
	margin:			0 2px 1em 0;
}

/* 記事中のセクション */
article section {
	margin-top: 		0.5%;
	margin-bottom:		3%;
}

/* セクションフッタ */
section footer {
	font-size:		90%;
	margin:			1.5em 1em 0 1em;
	background-color:	#f6f6ff;		/* $c=footnotebg = combg */
	border-radius:		6px;
}
/* 脚注 */
section footer p.footnote {
	margin-top:		0;
	margin-bottom:		0;
}

/* 記事フッタ */
div.body-footer {
}


/******************************************************************************/
/******************************************************************************/
/*--------------------------------------------------------------------
■記事ヘッダ
--------------------------------------------------------------------*/
div.art-info > span:not(:last-child) {
	margin-right:		0.5em;
}
/* タグ一覧 */
div.art-info span.tags:before {
	content:		'[';
}
div.art-info span.tags:after {
	content:		']';
}
div.art-info span.tag:not(:last-child):after {
	content:		',';
}
span.tag:not(:last-child) {
	margin-right:		0.5em;
}


/*--------------------------------------------------------------------
■記事見出し
--------------------------------------------------------------------*/
/* 見出し */
div.body h3 {
	font-size:		16pt;
	font-weight:		bold;
	border-left:		6px solid #111;		/* $c=h3 = main */
	padding:		16px 6px;
}
div.body h3 span.timestamp {
	font-size:		12pt;
	font-weight:		normal;
}
div.body h3,
div.body h3 a,
div.body h3 a:link,
div.body h3 a:visited {
	color:			#111;			/* $c=h3 = main */
	text-decoration:	none;
}
/* 小見出し */
div.body h4 {
	font-size:		14pt;
	font-weight:		bold;
	border-bottom:		4px solid #ddd;		/* $c=h4border = border2 */
}
div.body h5 {
	font-size:		100%;
	font-weight:		bold;
}
/* 小見出しへのリンク */
div.body h4 a, div.body h5 a {
	font-size:		inherit;
	color:			inherit;
	text-decoration:	inherit;
}

/*--------------------------------------------------------------------
■記事内部
--------------------------------------------------------------------*/
div.body p {
	margin:			0.7em 0.5em 0.7em 0;
}

blockquote, pre, div.box {
	margin:			0.5em 2em 0.5em 2em;
	padding:		0.3em 1em 0.3em 1em;
	border-radius:		4px;
}
blockquote, div.box, pre:not(.syntax-highlight) {
	background-color:	#f4f4ff;			/* $c=prebg */
}

div.body blockquote p {
	margin:			0.2em 0.5em 0.2em 0;
}
pre {
	font-size:		11pt;
	line-height:		140%;
}

/* pre 中コメント */
pre span.comment	{ color: #c30; }			/* $c=fixstrongfont */
pre strong.comment	{ color: #c30; font-weight: bold; }	/* $c=fixstrongfont */
em {
	font-style:		normal;
	text-decoration:	none;
	color:			#c30;				/* $c=fixstrongfont */
}

/* 強調 */
article:not(.system) strong { color: #c30; }			/* $c=fixstrongfont */

dt { font-weight:	bold; }

ul.toc a:link {
	text-decoration:	none;	/* 目次 */
}

/*--------------------------------------------------------------------
●記事：テーブル
--------------------------------------------------------------------*/
.body table,
.ui-dialog table {
	font-size:		inherit;
	margin:			0.5em 1em 0.5em 1em;
	border-collapse:	collapse;
	empty-cells:		show;
}
.body blockquote table,
.body div.box table {
	margin-left:		0;
	margin-right:		0;
}
.body table tr,
.ui-dialog table tr {
	margin:			0px;
	padding:		0px;
}
.body table td,
.ui-dialog table td {
	margin:			0px;
	padding:		2px 4px;
	border-bottom:		1px dashed #000;
}
.body table th,
.ui-dialog table th {
	font-weight:		bold;
	margin:			0px;
	padding:		2px 4px;
	border-right:		1px solid #fff;		/* $c=artbg */
	border-bottom:		1px solid #fff;		/* $c=artbg */
	background-color:	#cce;			/* $c=tablebg = auto:prebg */
}
tr th:last-child {
	border-right:		none;
}



/*--------------------------------------------------------------------
●コメント欄
--------------------------------------------------------------------*/
#com {
	margin-top:		0.5em;
	padding:		12px 24px;
	font-size:		10.5pt;
	line-height:		150%;

	border-radius:		3px;
	border:			1px solid #ddd;		/* $c=border2 */
	background-color:	#f6f6ff;		/* $c=combg */
}
#com div.caption a {
	font-weight:		bold;
	text-decoration:	none;
}

#com div.swiches {
	font-size:		10pt;
	margin:			0 0 0 2em;
	padding:		0;
}

div.comment-one {
	margin:			1em 0;

}
div.commentator {
	border-bottom:		1px solid #bbb;		/* $c=border */
}
div.comment-text {
	margin-left:		2em;
}
/* 非公開コメント */
.comment-hidden {
	color:			#008;
}
/* 非表示コメント */
.comment-disable {
	color:			#800;
}
#com div.ip-host-agent {
	color:			#080;
	text-align:		right;
	margin-right:		1em;
	display:		none;
}
div.ip-host-agent {
	font-size:		9pt;
	line-height:		120%;
}

/* リプライやコメント一覧画面でのポップアップ表示 */
#popup-com {
	border:			1px solid #000;
	background-color:	#ffd;
	border-radius:		4px;
	box-shadow:		4px 4px 2px 2px rgba(60,60,20,0.75);

	font-size:		10pt;
	padding:		0.5em;
}

/*--------------------------------------------------------------------
■検索ウィンドウ
--------------------------------------------------------------------*/
article.system.search div.body {
	padding-bottom:	4px;
}

/*--------------------------------------------------------------------
●メッセージ関連
--------------------------------------------------------------------*/
strong.warning, strong.error,
p.warning, p.error,
div.messages div.warn,
div.messages div.message {
	color:		#c30;			/* $c=fixstrongfont */
}

/*******************************************************************************
■sidebar
*******************************************************************************/
/* sidebar の 1項目 */
div.hatena-module {
	margin:			0 0 1.3em 0;
	padding:		0;
}
div.hatena-moduletitle {
	font-size:		14pt;
	color:			#000;		/* $c=fixfont */
	font-weight:		bold;
	font-weight:		900;
	letter-spacing:		3px;

	text-shadow:		 1px -1px 1px #f8f8f8,
				 1px  1px 1px #f8f8f8,
				-1px  1px 1px #f8f8f8,
				-1px -1px 1px #f8f8f8,
				4px 2px 2px rgba(0,0,0,0.6);
}
div.hatena-moduletitle a, 
div.hatena-moduletitle a:link, 
div.hatena-moduletitle a:visited {
	color:			inherit;
}

div.hatena-modulebody {
	margin:			0.3em 0.5em 0.3em 0.5em;
}
#sidebar, #side-b p {
	margin-top:		0.5em;
	margin-bottom:		0.5em;
}
/* Informationのタイトルを出さない */
div#side-information div.hatena-moduletitle {
	display:		none;
}

/* コンテンツ */
div.side-contents-list div.hatena-moduletitle a {
	text-decoration:	none;
}

/* 枠と背景 */
#sidebar div.hatena-module {
	background-color:	#f3f3f3;	/* $c=modulebg = bg */
}
#sidebar div.hatena-module {
	border:			0px solid #bbb;		/* $c=border */
}


/*
$option3:title=sidebar-type
$option3=sidebar-box
#sidebar div.hatena-module {
	border-width:	1px;
	border-radius:	6px;
	padding:	10px;
}
-------------------- */
/* $option3=sidebar-box-shadow
#sidebar div.hatena-module {
	border-width:	1px;
	border-radius:	6px;
	padding:	10px;
	box-shadow:	 2px  0px 3px rgba(0,0,0,0.1),
			 0px  2px 3px rgba(0,0,0,0.1),
			-2px  0px 3px rgba(0,0,0,0.1),
			 0px -2px 3px rgba(0,0,0,0.1);
}
-------------------- */
/* $option3=sidebar-box-shadow2
#sidebar div.hatena-module {
	border-width:	1px;
	border-radius:	6px;
	padding:	10px;
	box-shadow:	 6px  6px 4px rgba(0,0,0,0.2);
}
-------------------- */




/*--------------------------------------------------------------------
●sidebar：カレンダー
--------------------------------------------------------------------*/
table.calendar {
	margin:			0;
	font-size:		11pt;
	line-height:		100%;
}
table.calendar td.calendar-prev-month    { text-align: left;  margin-left:  0.5em; }
table.calendar td.calendar-current-month { text-align: center; }
table.calendar td.calendar-next-month    { text-align: right; margin-right: 0.5em; }
table.calendar td {
	text-align:		right;
}
table.calendar td.calendar-day a {
	text-decoration:	underline;
}
/* 土曜日 */
table.calendar td.w6, table.calendar th.w6 {
	color:		 	#00f;
}
/* 日曜日、祝日 */
table.calendar td.w0, table.calendar th.w0,
table.calendar td.holiday {
	color:		 	#f00;
}
/* 今日 */
table.calendar td.day-today      { font-weight: bold; }
/* 選択した日付 */
table.calendar td.day-selected {
	text-decoration:	none;
	background-color:	rgba(0,0,0,0.1);
}

/*--------------------------------------------------------------------
●sidebar：タグ
--------------------------------------------------------------------*/
/* タイトル一覧など */
ul.hatena-section {
	list-style-type:	none;
	margin:			0.3em 0em 0.3em 0.3em;
	padding:		0px;
}

/* 2段目のリスト */
ul.hatena-section ul {
	list-style-type:	none;
	margin:			0 0 0.2em 1em;
	padding:		0px;
}

/*******************************************************************************
■side-b フッタに配置される
*******************************************************************************/
/* JavaScript でフッタに移動 */
#side-b-move-to-footer {
	min-width:		1px;
}
#footer #side-b {
	color:			#fff;		/* $c=footerfont */
	margin:			30px auto 20px auto;
	text-align:		left;
}
#footer #side-b .hatena-module {
	width:			auto;
	margin:			0 24px 0 0;
	float:			left;
}
#footer #side-b .hatena-module:last-child {
	border-right:		none;
}
#footer #side-b:after {
	content:		"";
	display:		block;
	clear:			both;
}
#footer>div:not(#side-b) {
	display:		block;
}
#footer #side-b .hatena-moduletitle {
	color:			#fff;		/* $c=footerfont */
	text-shadow:		 1px -1px 1px #000,
				 1px  1px 1px #000,
				-1px  1px 1px #000,
				-1px -1px 1px #000,
				4px 2px 2px rgba(255,255,255,0.4);
}
#footer #side-b .hatena-modulebody {
	margin:			0.5em 1em;
}


/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/* ここより下は管理メニュー内でのみ使用するクラス                           */
/*		システムモードに対応しないテーマでは定義不要                */
/******************************************************************************/
/*--------------------------------------------------------------------
●システム画面
--------------------------------------------------------------------*/
article.system {
	background-color:	#eef;			/* $c=sysbg */
	border:			1px solid #bbb;		/* $c=border */
}
article.system h2 {
	font-size:		16pt;
}
article.system div.body {
	font-size:		11pt;
	line-height:		140%;
}

ul.dynatree-container {
	border:			1px solid #bbb;		/* $c=border */
	border-radius:		4px;
}


/*--------------------------------------------------------------------
●フォームの一般設定
--------------------------------------------------------------------*/
ul.checkbox {
	list-style-type:	none;
}
/* エラー */
th.error, td.error {
	background-color:	#ffccb0;
}
input.error, textarea.error,
th.error input, td.error input {
	background-color:	#ffffaa;
}

/* フォーカス */
th:has(> input:focus),
td:has(> input:focus) {
	background-color:	#ffffcc;	/* $c=fixfocusbg1 */
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
.setting textarea:focus {
	background-color:	#ffeeee;	/* $c=fixfocusbg2 */
}
textarea#editarea:focus {
	background-color:	#fff;
}
textarea#editarea {
	font-size:		11.5pt;
}

/* ツリーとCSS等の編集画面 */
article .treebox,
article:not(.edit) #editarea {
	margin-top:		1em;
	margin-bottom:		1em;
}

article.system table {
	background-color:	#fff;
}

/*--------------------------------------------------------------------
●記事の編集画面
--------------------------------------------------------------------*/
article.system.notice {
	margin-bottom:	1em;
}
textarea.edit-article {
	width:		98%;
	margin:		0;
}
article.edit form.delete {
	margin-top:	1.5em;
}
article.edit span.element {
	margin-right:	1em;
}

span.edit-caption {
	font-weight:	bold;
	margin-right:	0.3em;
}

/* タグ */
article.edit span.tag {
	font-size:		9pt;
	background-color:	#cce;		/* $c=tablebg */
	border-radius:		6px;
	padding:		0px 4px;
	margin-right:		0.5em;
}

/*--------------------------------------------------------------------
●ポップアップヘルプ, info
--------------------------------------------------------------------*/
.help, .btn-help:after {
	color:			#c3c;
}

div.popup-help {
	min-width:		100px;
	max-width:		360px;
	padding:		0.5em 1em;

	background-color:	#fff;
	color:			#6b75b8;		/* $c=fixhelpfont */

	font-size:		11pt;
	/* font-weight:		bold; */

	border:			2px solid #e88;
	border-radius:		10px;
	box-shadow:		6px 6px 4px 2px rgba(60,60,60,0.75);
}
div.popup-help:before {
	content:		"HELP";
	color:			#fff;
	background-color:	#c33;
	border-radius:		6px;

	font-weight:		bold;
	font-size:		8pt;
	padding:		4px;
	margin:			-2px 4px 0 0px;

	display:		inline-block;
	line-height:		100%;
	vertical-align:		middle;
}
/*
div.popup-help div.additional {
	color:			#000;
	font-weight:		normal;
}
*/

/*--------------------------------------------------------------------
●jQuery UI, popup-info/dialog（テーマREADME/記事のタグヘルパー等）
--------------------------------------------------------------------*/
.ui-dialog {
	background-color:	#eef;			/* $c=sysbg */
	border:			2px solid #bbf;		/* $c=dialogbg = auto:prebg */
	border-radius:		10px;
	box-shadow:		8px 8px 4px 4px rgba(60,60,100,0.75);
	padding:		0;

	font-size:		10.5pt;
	line-height:		130%;
}
.ui-dialog .ui-widget-header {
	background-color:	#bbf;			/* $c=dialogbg */
	font-weight:		bold;
	font-size:		12pt;

	border:			none;
	border-radius:		8px 8px 0 0;
}
.ui-dialog span.ui-dialog-title {
	height:			1em;
	margin-top:		0;
	padding-top:		0;
	padding-bottom:		2px;
}
.ui-dialog button.ui-button {
	border-radius:		4px;
}
.ui-dialog .ui-icon {
	text-indent:		0px;
}
.ui-dialog span.ui-icon-closethick {
}
.ui-dialog .ui-dialog-buttonpane {
	margin-top:		0px;
	padding-top:		0px;
}

/*--------------------------------------------------------------------
●設定ページナビゲーション
--------------------------------------------------------------------*/
nav.tree, nav.tree select {
	font-size:		9pt;
}

nav.tree {
	line-height:		100%;
	display:		block;
	margin-bottom:		1.5em;
	padding:		0.5em 1em;

	border-radius:		4px;
	border:			1px solid #bbb;		/* $c=border */
	background-color:	#eef;			/* $c=sysbg */
}

/*--------------------------------------------------------------------
●プログレスバー（import等）
--------------------------------------------------------------------*/
.ui-progressbar {
	padding:		0;
	margin:			0.5em 0;
	max-width:		400px;
	border:			1px solid #bbb;		/* $c=border */
	position:		relative;
	background-color:	#fff;
}
.ui-progressbar .label {
	position:		absolute;
	width:			100%;
	text-align:		center;
	font-weight:		bold;
	text-shadow:	 1px -1px 2px #fff,
			 1px -1px 2px #fff,
			-1px  1px 2px #fff,
			 1px  1px 2px #fff;
}
.ui-progressbar,
.ui-progressbar .label:before {
	height:			20px;
	vertical-align:		middle;
}
.ui-progressbar-value {
	padding:		1px 0 0 1px;
	background-color:	#bbf;			/* $c=dialogbg */
} 


