@charset "UTF-8";
/***********************************************************
あかねテーマ
	adiary C89 Special Edition Theme	2015/12/31
	(C) adiary.org / かえで

*** Supoorted Browsers/Rendering Engines ***
	Gecko Based
		Mozilla Firefox 43.0 or lator
	Blink Based
		Chromium (Google Chrome) 47.0.2526.106 or lator
		Opera (Not Checked)
	KHTML Based
		Konqueror 4.10.5 or lator

*** Not Supported Browsers/ Rendering Engines ***
	Trident Based
		Windows Internet Explorer
	EdgeHTML Based
		Microsoft Edge
	WebKit2 Based
		Apple Safari
	Presto Based
		Opera 12.x
		
*** Change Log ***
	first release:				2015/12/31
	CSS update:				2016/12/28 (by nabe@abk)
	CSS update:				2017/12/28 (by nabe@abk)
************************************************************* */
html,button,input {
	font-size:			12pt;
	line-height:			1.5;
}
body, h1, h2, form,
.hatena-module ul {
	margin:				0;
	padding:			0;
}

/* タグ一覧 */
div.art-info span.tags:before {
	content:		'[';
}
div.art-info span.tags:after {
	content:		']';
}
div.art-info span.tag:not(:last-child):after {
	content:		',';
}
span.tag:not(:last-child) {
	margin-right:		0.4em;
}

/* 非公開コメント */
.comment-hidden {
	color:			#808;
}
/* 非表示コメント */
.comment-disable {
	color:			#800;
}

/* モジュールタイトルのリンク */
div.hatena-moduletitle a, 
div.hatena-moduletitle a:link, 
div.hatena-moduletitle a:visited {
	color:			inherit;
}
button {
	border-radius:		6px;
	line-height:		100%;
}

/*--------------------------------------------------------------------
■初期設定
--------------------------------------------------------------------*/
/* 入力要素 */
input, select {
	vertical-align:			middle;
}

/* テキストボックス類 */
select, input[type="text"], input[type="search"],
input[type="date"], input[type="password"], input[type="file"] {
	background-color:		rgba(252,109,207,0.3);
	min-height:			 16pt;
	max-width:			  calc(100% - 18px);
	max-width:			  -webkit-calc(100% - 18px);
	border:					none;
	margin:					0 0.2em 0.2em 0.3em;
	padding:				0 0.2em;
	vertical-align:			middle;
}


/* フォーカス時 */
select:focus, input[type="text"]:focus, input[type="search"]:focus,
input[type="date"]:focus, input[type="password"]:focus,
input[type="file"]:focus {
}


textarea {
	width:					calc(100% - 15px);
	width:					-webkit-calc(100% - 15px);
	font-family:			monospace;
	font-size:			90%;
	line-height:			1.1;
	padding:				0.5em;
	background-color:	   white;
	margin:				 10px 0;
}
textarea:focus {
}

/*--------------------------------------------------------------------
●ボタンデザイン
--------------------------------------------------------------------*/
button,
#body button.ui-button {
	background-color:		rgba(252,109,207,0.6);
	border:					none;
	color:					white;
	font-size:				85%;
	text-shadow:			1px -1px 2px #FF84CE,
			1px -1px 2px #FF84CE,
			-1px  1px 2px #FF84CE,
			1px  1px 2px #FF84CE;
}
button span {
	color:					white;
	font-size:				85%;
	text-shadow:			1px -1px 2px #FF84CE,
			1px -1px 2px #FF84CE,
			-1px  1px 2px #FF84CE,
			1px  1px 2px #FF84CE;
}
button:hover, #body button.ui-button:hover
{
	cursor:				pointer;
	background-color:	rgba(255,169,200,0.7);

}
button:disabled
{
	color:				#666;
	background-color:	#dbc;
	text-shadow:		none;

}



/*--------------------------------------------------------------------
■ 要素配置
--------------------------------------------------------------------*/
/* ブラウザ描画領域 -------------------------------------------------*/
/* ブラウザ描画領域全体 */
html {
	min-width:				960px;
}

body {
	background-color:		#ffe8f4;
}
/* 全体背景オプション ---------------------------------------------- */
/*
$option:title=bg
$option:default=bg:check
body {
	background-image:		url("bg_check.png");
}
-------------------- */
/* $option=bg:gcheck
body {
	background-image:		url("bg_gcheck.png");
}
-------------------- */
/* $option=bg:dia
body {
	background-image:		url("bg_dia.png");
}
-------------------- */

/* ブラウザ描画領域上部 */
body:before {
}

/* ブラウザ描画領域下部 */
/* バージョン */
footer div.adiary:after {
	content:				" / Akane: adiary C89 Special Edition Theme";
}
/*
$option3:title=footer
$option3=theme-name-none
footer div.adiary:after {
	display:	none;
} */



/* 本文部 ------------------------------------------------------ */
/* 管理メニュー + ブログタイトル + サイドバー + 記事部 */
#adiary-body {
}

/* サイドバー + 記事部 */
#hatena-body {
}

/* ヘッダー部 --------------------------------------------------- */
/* 管理メニュー + ブログタイトル + ヘッダーモジュール */
header {
}

/* 管理メニュー部 */
#nav-header {
	background-color:		rgba(249,81,144,0.75);
	padding:				3pt 0 3pt 0;
	padding-right:			calc(5% + 5pt);
	padding-right:			-webkit-calc(5% + 5pt);
	font-size:			80%;
	line-height:			1.1;
	color:					white;
	text-align:				right;
}

/* ブログタイトル部 */
h1 {
	background-color:		rgba(255,162,216,0.7);
	padding:			2pt;
	font-size:			140%;
	line-height:			1.3;
	padding-right:			calc(5% + 5pt);
	padding-right:			-webkit-calc(5% + 5pt);
	padding-left:			calc(5% + 5pt);
	padding-left:			-webkit-calc(5% + 5pt);
}

/* フリーテキストモジュール */
header div.dem-module {
	background-color:		rgba(255,162,216,0.7);
	margin:					0;
	padding:				3pt 0 3pt 0;
	padding-right:			calc(5% + 5pt);
	padding-right:			-webkit-calc(5% + 5pt);
	padding-left:			calc(5% + 5pt);
	padding-left:			-webkit-calc(5% + 5pt);
	font-size:			80%;
	line-height:			1.1;
	color:					white;
	text-shadow:			1px -1px 2px #FF84CE,
			1px -1px 2px #FF84CE,
			-1px  1px 2px #FF84CE,
			1px  1px 2px #FF84CE;
}

/*
$option2:title=alpha
$option2=alpha-original
h1, header div.dem-module {
	background-color:		rgba(255,132,206,0.5);
}
-------------------- */


/* 記事部 ------------------------------------------------------ */
/* 記事部全体 */
div.main {
	margin:					0;
	margin-right:			5%;
	padding:				13pt 15px 5pt 15pt;
	width:					calc(90% - 256px);
	width:					-webkit-calc(90% - 256px);
	float:					right;
}

/* 記事部のみ */
#articles, article {
}


#articles {
	padding:				10px 0;
	margin-bottom:			0;
}

#articles article {
	/* 1ページに複数の記事を表示する場合 */
}

article {
	border:					3pt solid rgba(255,132,206,0.7);
	padding:				0;
}

/* 1つの記事 */

/* サイドバー部 */
#sidebar { /* 幅: 220px (内容200px + ボーダー各3px + padding 10px */
	width:					200px;
	float:					left;
	padding:				20pt 10px 0 10px;
	top:					10pt;
	margin:					0;
	margin-left:			5%;
	padding-bottom:			25px;
}

/* 記事/サイドバーの高さにかかわらずadiary-bodyの背景描画を行わせる小細工
 * 
 * これにより記事部とサイドバーの高さが異なる場合にhtml要素で指定した背景が
 * 描画されるのを防ぐ */
#adiary-body:after {
	display:				block;
	content:				" ";
	clear:				  both;
	height:				 0px;
}

/* ------------------------------------------------------------
 * ■ 基本設定
 * --------------------------------------------------------- */
/* リンク配色 */
a:link {
	color:					#8C1B33;
	text-decoration:		none;
}

a:visited {
	color:					#0b0080;
	text-decoration:		none;
}

	
a:hover {
	text-decoration:		underline;
}

a img {
}

/* フォントサイズ基本設定 */
.xx-large					{ font-size: 200%; }
.x-large,	.huge			{ font-size: 150%; }
.large						{ font-size: 130%; }
.medium,	.nomalsize		{ font-size: 100%; }
.small						{ font-size: 90%; }
.x-small,   .tiny			{ font-size: 80%; }
.xx-small,	.scriptsize		{ font-size: 50%; }

/* フォントファミリー基本設定 */
.mono,  .pre				{ font-family: monospace; }

/* ◆ フォント装飾基本設定 */
.it,	.italic				{ font-style: italic; }
.bf,	.bold				{ font-weight: bold; }
.u,	 .underline			{ text-decoration: underline; }

/* ◆ divボックス基本設定 */
div.left					{ text-align: left; }
div.center					{ text-align: center; }
div.right					{ text-align: right; }

/* ◆ リスト基本設定 */
ul						  { list-style-position: inside;
							  list-style-type: square;
							  margin: 0 0 0.2em 0.5em; }
ol							{ list-style-position: inside;
							  list-style-type: decimal;
							  margin: 0 0 0.2em 0.5em; }
article ul, article ol	{ padding-left: 0.5em; }
ul.none, ol.none			{ list-style: none; }

/* 定義済みリスト */
dl						  { margin: 0.3em 0; }
dt						  { font-weight: bold; }
dd						  { padding-left: 1.5em;
							  padding-bottom: 0.5em; }

/* ----------------------------------------------------------
 * ■ ヘッダ
 * ---------------------------------------------------------- */
#nav-header a {
	margin:					0 0.15em 0 0.15em;
	color:					white;
}

#nav-header span {
	margin:					0 0.15em 0 0.15em;
	color:					white;
}

#nav-header a:hover {
	text-decoration:			none;
}

/* ------------------------------------------------------------
 * ■ 見出し (日記帳タイトル)
 * --------------------------------------------------------- */
h1 a:link, h1 a:hover, h1 a:visited {
	font-size:				240%;
	line-height:			240%;
	color:					white;
	text-shadow:			1px -1px 2px #FF84CE,
			1px -1px 2px #FF84CE,
			-1px  1px 2px #FF84CE,
			1px  1px 2px #FF84CE;
	text-decoration:		none;
}

/* ------------------------------------------------------------
 * ■ ナビゲーション (前のページ/次のページ)
 * --------------------------------------------------------- */
nav.page-nav {
	font-size:			80%;
	line-height:			100%;
	text-align:				center;
	padding:				5pt 10px 5pt 10px;
}

div.main nav.page-nav:first-child {
	padding-top:			8pt;
}
div.main nav.page-nav:last-child {
	padding-bottom:			8pt;
}

nav.page-nav a {
	display:				inline-block;
}
nav.page-nav a:first-child {
	margin-right:		   1em;
}
nav.page-nav a:last-child {
	margin-left:			1em;
}

/* アイコン */
a.prev-page:before {
	margin-right:		   0.4em;
}
a.upnode-page:before {
	margin-right:		   0.4em;
}
a.next-page:after {
	margin-left:		0.4em;
}

/* ------------------------------------------------------------
 * ■ 記事部 (本文)
 * --------------------------------------------------------- */
#articles article.article+article.article {
	margin-top:				2.5em;
}

#articles article.article:last-child {
}



/* 記事タイトル部 */
/* --------------------------------------------------------- */
h2, div.caption {
	background-color:		rgba(255,132,206,0.7);
	padding:				0 10pt 3pt 10pt;
	font-size:			120%;
	line-height:			1.5;
	color:					white;
	text-shadow:			1pt -1pt 2pt #FF84CE,
			1pt -1pt 2pt #FF84CE,
			-1pt  1pt 2pt #FF84CE,
			1pt  1pt 2pt #FF84CE;
}

/* コメント入力部タイトル */
div.caption {
	padding:				0 0 3pt 0;
}


h2 a:link, h2 a:visited, h2 a:hover,
div.caption span {
	vertical-align:			middle;
	color:					white;
	font-weight:			bold;
	text-decoration:		none;
}

h2 a.date {
	margin-right:		   0.5em;
	line-height:			13pt;
}

h2 a.date span {
	color:					white;
}



/* 本文部 */
/* --------------------------------------------------------- */
.article div.body, article.system div.body {
	background-color:		rgba(255,255,255,0.75);
	padding:				0 10pt 1em 10pt;
}
/* $option2=alpha-original
.article div.body, article.system div.body {
	background-color:		rgba(255,255,255,0.4);
}
-------------------- */




/* 本文ヘッダ部 */
div.body-header {
	text-align:			 right;
	margin:				 0;
	padding:				2pt 0;
	background-color:		transparent;
}

div.body-header a:link, div.body-header a:visited, 
div.body-header a:hover {
	font-size:			90%;
	line-height:			1.3;
	text-decoration:		none;
}

div.body div.body-main {
	font-size:			100%;
	line-height:			1.5;
	padding:			0.5em 0 1em 0;
}

div.body-main section {
}

div.body-main section p {
	padding:				0.3em 0;
}

/* 本文フッタ部 */
div.body-footer {
	text-align:			 right;
	margin:					1.5em 0 0 0;
}

div.body-footer span, div.body-footer a:visited,
div.body-footer a:hover {
	color:				  #8C1B33;
}

/*----------------------------------------------------------
 * ● 記事：基本設定
 * --------------------------------------------------------- */
/* 見出し */
article h3 {
	font-size:			120%;
	line-height:			1.5;
	margin:					0.8em 0 0.2em 0;
	padding:				0.1em 0;
	font-weight:			bold;
	border-bottom:			3px solid rgba(255,132,206,0.7);
	color:					rgb(255,132,206);
	text-shadow:			-1pt -1pt 2pt #fff,
			1pt -1pt 2pt #fff, -1pt  1pt 2pt #fff,
			1pt  1pt 2pt #fff,
			-4pt -4pt 10pt rgb(255,132,206), 10pt 4pt 10pt rgb(255,132,206);
}

h3 del, h3 strong {
	color:					rgb(255,132,206);
	text-shadow:			-1pt -1pt 2pt #fff,
			1pt -1pt 2pt #fff, -1pt  1pt 2pt #fff,
			1pt  1pt 2pt #fff,
			-4pt -4pt 10pt rgb(255,132,206), 10pt 4pt 10pt rgb(255,132,206);
}

h3 a:link, h3 a:visited, h3 a:hover {
	color:					rgb(255,132,206);
	margin:					0;
	text-shadow:			-1pt -1pt 2pt #fff,
			1pt -1pt 2pt #fff, -1pt  1pt 2pt #fff,
			1pt  1pt 2pt #fff,
			-4pt -4pt 10pt rgb(255,132,206), 10pt 4pt 10pt rgb(255,132,206);
	text-decoration:		none;
}

h3 span.timestamp {
	margin-right:		   0;
	color:					rgb(255,132,206);
	text-shadow:			-1pt -1pt 2pt #fff,
			1pt -1pt 2pt #fff, -1pt  1pt 2pt #fff,
			1pt  1pt 2pt #fff,
			-4pt -4pt 10pt rgb(255,132,206), 10pt 4pt 10pt rgb(255,132,206);
	font-size:			95%;
	line-height:			1.0;
}

/* 小見出し */
article h4 {
	font-size:			110%;
	line-height:			1.5;
	margin:					0.5em 0 0.2em 0;
	padding:				0.1em 0;
	font-weight:			bold
}

h4 a:link, h4 a:visited, h4 a:hover {
	color:				  #BC7EEC;
	text-shadow:			-1pt -1pt 2pt #fff,
			1pt -1pt 2pt #fff, -1pt  1pt 2pt #fff,
			1pt  1pt 2pt #fff,
			-4pt -4pt 8pt #BC7EEC, 10pt 4pt 8pt #BC7EEC;
	border-bottom:			3px solid rgba(188,126,236,0.5);
	text-decoration:		none;
}

h4 del, h4 strong {
	color:				  #BC7EEC;
	text-shadow:			-1pt -1pt 2pt #fff,
			1pt -1pt 2pt #fff, -1pt  1pt 2pt #fff,
			1pt  1pt 2pt #fff,
			-4pt -4pt 8pt #BC7EEC, 10pt 4pt 8pt #BC7EEC;
}

/* 小々見出し */
div.body h5 {
	font-size:			100%;
	line-height:			1.6;
	font-weight:			bold;
	margin:				 8pt 0 2pt 0;
}

h5 a:link, h5 a:hover, h5 a:visited {
	text-decoration:		none;
}

h5 a del {
	color:					#8C1B33;
	text-decoration:		line-through;
}

h5 a strong {
	color:					#8C1B33;
}

/*----------------------------------------------------------
 * ● 記事: ブロック記法
 * --------------------------------------------------------- */
div.body-main blockquote,
div.body-main pre,
div.body-main div.box {
	font-size:				13pt;
	line-height:			17pt;
	margin:			 	8pt;
	padding:				8pt;
	display:				block;
	border:					1px solid #aaaaaa;
}

/* 引用記法 */
div.body-main blockquote {
	display:				block;
	position:			   relative;
	border:					3pt solid rgba(230,192,182,0.7);
	background-color:		rgba(249,190,106,0.2);
}

blockquote p {
	margin:				 0;
	padding:				0;
}

/* pとpの間 */
blockquote p+p {
	margin-top:				0.4em;
}

/* pre記法 */
div.body-main pre {
	font-family:			monospace;
	display:				block;
	position:			   relative;
	z-index:				0;
	background-color:		rgba(140,186,255,0.25);
	border:					3px solid rgba(140,186,255,0.5);
	padding-left:			3.3em;
}

div.body-main pre:before {
	text-align:				right;
	content:				"\
1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A 10\A 11\A 12\A 13\A 14\A 15\A 16\A 17\A 18\A 19\A 20\A 21\A 22\A 23\A 24\A 25\A 26\A 27\A 28\A 29\A 30\A 31\A 32\A 33\A 34\A 35\A 36\A 37\A 38\A 39\A 40\A 41\A 42\A 43\A 44\A 45\A 46\A 47\A 48\A 49\A 50\A 51\A 52\A 53\A 54\A 55\A 56\A 57\A 58\A 59\A 60\A 61\A 62\A 63\A 64\A 65\A 66\A 67\A 68\A 69\A 70\A 71\A 72\A 73\A 74\A 75\A 76\A 77\A 78\A 79\A 80\A 81\A 82\A 83\A 84\A 85\A 86\A 87\A 88\A 89\A 90\A 91\A 92\A 93\A 94\A 95\A 96\A 97\A 98\A 99\A 100\A \
101\A 102\A 103\A 104\A 105\A 106\A 107\A 108\A 109\A 110\A 111\A 112\A 113\A 114\A 115\A 116\A 117\A 118\A 119\A 120\A 121\A 122\A 123\A 124\A 125\A 126\A 127\A 128\A 129\A 130\A 131\A 132\A 133\A 134\A 135\A 136\A 137\A 138\A 139\A 140\A 141\A 142\A 143\A 144\A 145\A 146\A 147\A 148\A 149\A 150\A 151\A 152\A 153\A 154\A 155\A 156\A 157\A 158\A 159\A 160\A 161\A 162\A 163\A 164\A 165\A 166\A 167\A 168\A 169\A 170\A 171\A 172\A 173\A 174\A 175\A 176\A 177\A 178\A 179\A 180\A 181\A 182\A 183\A 184\A 185\A 186\A 187\A 188\A 189\A 190\A 191\A 192\A 193\A 194\A 195\A 196\A 197\A 198\A 199\A 200\A \
201\A 202\A 203\A 204\A 205\A 206\A 207\A 208\A 209\A 210\A 211\A 212\A 213\A 214\A 215\A 216\A 217\A 218\A 219\A 220\A 221\A 222\A 223\A 224\A 225\A 226\A 227\A 228\A 229\A 230\A 231\A 232\A 233\A 234\A 235\A 236\A 237\A 238\A 239\A 240\A 241\A 242\A 243\A 244\A 245\A 246\A 247\A 248\A 249\A 250\A 251\A 252\A 253\A 254\A 255\A 256\A 257\A 258\A 259\A 260\A 261\A 262\A 263\A 264\A 265\A 266\A 267\A 268\A 269\A 270\A 271\A 272\A 273\A 274\A 275\A 276\A 277\A 278\A 279\A 280\A 281\A 282\A 283\A 284\A 285\A 286\A 287\A 288\A 289\A 290\A 291\A 292\A 293\A 294\A 295\A 296\A 297\A 298\A 299\A 300\A \
301\A 302\A 303\A 304\A 305\A 306\A 307\A 308\A 309\A 310\A 311\A 312\A 313\A 314\A 315\A 316\A 317\A 318\A 319\A 320\A 321\A 322\A 323\A 324\A 325\A 326\A 327\A 328\A 329\A 330\A 331\A 332\A 333\A 334\A 335\A 336\A 337\A 338\A 339\A 340\A 341\A 342\A 343\A 344\A 345\A 346\A 347\A 348\A 349\A 350\A 351\A 352\A 353\A 354\A 355\A 356\A 357\A 358\A 359\A 360\A 361\A 362\A 363\A 364\A 365\A 366\A 367\A 368\A 369\A 370\A 371\A 372\A 373\A 374\A 375\A 376\A 377\A 378\A 379\A 380\A 381\A 382\A 383\A 384\A 385\A 386\A 387\A 388\A 389\A 390\A 391\A 392\A 393\A 394\A 395\A 396\A 397\A 398\A 399\A 400\A \
401\A 402\A 403\A 404\A 405\A 406\A 407\A 408\A 409\A 410\A 411\A 412\A 413\A 414\A 415\A 416\A 417\A 418\A 419\A 420\A 421\A 422\A 423\A 424\A 425\A 426\A 427\A 428\A 429\A 430\A 431\A 432\A 433\A 434\A 435\A 436\A 437\A 438\A 439\A 440\A 441\A 442\A 443\A 444\A 445\A 446\A 447\A 448\A 449\A 450\A 451\A 452\A 453\A 454\A 455\A 456\A 457\A 458\A 459\A 460\A 461\A 462\A 463\A 464\A 465\A 466\A 467\A 468\A 469\A 470\A 471\A 472\A 473\A 474\A 475\A 476\A 477\A 478\A 479\A 480\A 481\A 482\A 483\A 484\A 485\A 486\A 487\A 488\A 489\A 490\A 491\A 492\A 493\A 494\A 495\A 496\A 497\A 498\A 499\A 500\A \
501\A 502\A 503\A 504\A 505\A 506\A 507\A 508\A 509\A 510\A 511\A 512\A 513\A 514\A 515\A 516\A 517\A 518\A 519\A 520\A 521\A 522\A 523\A 524\A 525\A 526\A 527\A 528\A 529\A 530\A 531\A 532\A 533\A 534\A 535\A 536\A 537\A 538\A 539\A 540\A 541\A 542\A 543\A 544\A 545\A 546\A 547\A 548\A 549\A 550\A 551\A 552\A 553\A 554\A 555\A 556\A 557\A 558\A 559\A 560\A 561\A 562\A 563\A 564\A 565\A 566\A 567\A 568\A 569\A 570\A 571\A 572\A 573\A 574\A 575\A 576\A 577\A 578\A 579\A 580\A 581\A 582\A 583\A 584\A 585\A 586\A 587\A 588\A 589\A 590\A 591\A 592\A 593\A 594\A 595\A 596\A 597\A 598\A 599\A 600\A \
601\A 602\A 603\A 604\A 605\A 606\A 607\A 608\A 609\A 610\A 611\A 612\A 613\A 614\A 615\A 616\A 617\A 618\A 619\A 620\A 621\A 622\A 623\A 624\A 625\A 626\A 627\A 628\A 629\A 630\A 631\A 632\A 633\A 634\A 635\A 636\A 637\A 638\A 639\A 640\A 641\A 642\A 643\A 644\A 645\A 646\A 647\A 648\A 649\A 650\A 651\A 652\A 653\A 654\A 655\A 656\A 657\A 658\A 659\A 660\A 661\A 662\A 663\A 664\A 665\A 666\A 667\A 668\A 669\A 670\A 671\A 672\A 673\A 674\A 675\A 676\A 677\A 678\A 679\A 680\A 681\A 682\A 683\A 684\A 685\A 686\A 687\A 688\A 689\A 690\A 691\A 692\A 693\A 694\A 695\A 696\A 697\A 698\A 699\A 700\A \
701\A 702\A 703\A 704\A 705\A 706\A 707\A 708\A 709\A 710\A 711\A 712\A 713\A 714\A 715\A 716\A 717\A 718\A 719\A 720\A 721\A 722\A 723\A 724\A 725\A 726\A 727\A 728\A 729\A 730\A 731\A 732\A 733\A 734\A 735\A 736\A 737\A 738\A 739\A 740\A 741\A 742\A 743\A 744\A 745\A 746\A 747\A 748\A 749\A 750\A 751\A 752\A 753\A 754\A 755\A 756\A 757\A 758\A 759\A 760\A 761\A 762\A 763\A 764\A 765\A 766\A 767\A 768\A 769\A 770\A 771\A 772\A 773\A 774\A 775\A 776\A 777\A 778\A 779\A 780\A 781\A 782\A 783\A 784\A 785\A 786\A 787\A 788\A 789\A 790\A 791\A 792\A 793\A 794\A 795\A 796\A 797\A 798\A 799\A 800\A \
801\A 802\A 803\A 804\A 805\A 806\A 807\A 808\A 809\A 810\A 811\A 812\A 813\A 814\A 815\A 816\A 817\A 818\A 819\A 820\A 821\A 822\A 823\A 824\A 825\A 826\A 827\A 828\A 829\A 830\A 831\A 832\A 833\A 834\A 835\A 836\A 837\A 838\A 839\A 840\A 841\A 842\A 843\A 844\A 845\A 846\A 847\A 848\A 849\A 850\A 851\A 852\A 853\A 854\A 855\A 856\A 857\A 858\A 859\A 860\A 861\A 862\A 863\A 864\A 865\A 866\A 867\A 868\A 869\A 870\A 871\A 872\A 873\A 874\A 875\A 876\A 877\A 878\A 879\A 880\A 881\A 882\A 883\A 884\A 885\A 886\A 887\A 888\A 889\A 890\A 891\A 892\A 893\A 894\A 895\A 896\A 897\A 898\A 899\A 900\A \
901\A 902\A 903\A 904\A 905\A 906\A 907\A 908\A 909\A 910\A 911\A 912\A 913\A 914\A 915\A 916\A 917\A 918\A 919\A 920\A 921\A 922\A 923\A 924\A 925\A 926\A 927\A 928\A 929\A 930\A 931\A 932\A 933\A 934\A 935\A 936\A 937\A 938\A 939\A 940\A 941\A 942\A 943\A 944\A 945\A 946\A 947\A 948\A 949\A 950\A 951\A 952\A 953\A 954\A 955\A 956\A 957\A 958\A 959\A 960\A 961\A 962\A 963\A 964\A 965\A 966\A 967\A 968\A 969\A 970\A 971\A 972\A 973\A 974\A 975\A 976\A 977\A 978\A 979\A 980\A 981\A 982\A 983\A 984\A 985\A 986\A 987\A 988\A 989\A 990\A 991\A 992\A 993\A 994\A 995\A 996\A 997\A 998\A 999";
	font-size:			110%;
	display: 				block;
	width:					2em;
	position:				absolute;
	left:					0;
	top:					0;
	padding:				8pt 4pt 0 4pt;
	overflow:				hidden;
	height:					calc(100% - 16pt);
	height:					-webkit-calc(100% - 16pt);
	white-space:			pre;
	z-index:				2;
	color:					white;
	color:					#465D80;
}

/* 行番号部分の色を変える小細工 */
div.body-main pre:after {
	content:				" ";
	left:					0;
	top:					0;
	background-color:		rgba(140,186,255,0.4);
	position:				absolute;
	height:					100%;
	width:					calc(2em + 9pt);
	width:					-webkit-calc(2em + 9pt);
	overflow:				hidden;
	z-index:				1;
}

pre span.comment {
	color:					#66f;
}

pre strong.comment {
	font-family:			monospace;
	font-weight:			bold;
}

/*----------------------------------------------------------
 * ● 記事: 脚注処理
 * --------------------------------------------------------- */
/* 注釈へのリンク */
span.footnote a {
	color:			#b5001f;
	font-size:		80%;
	line-height:		1.2;
	vertical-align:		top;
}

/* 注釈処理 */
section footer {
	font-size:		80%;
	line-height:		1.2;
	margin:				 1em 8pt 0 4em;
	padding:				0.6em 0 0.6em 0;
	background-color:		rgba(255,132,206,0.3);
}

section footer p.footnote {
	line-height:			13pt;
	margin:				 0;
	padding:				0 10pt;
}

section footer a:link, section footer a:visited,
section footer a:hover {
	color:				  #b5001f;
}


/*----------------------------------------------------------
 * ● 記事: 本文内リスト
 * --------------------------------------------------------- */
div.body-main ul, div.body-main ol, div.body-main dl {
	margin:				 0.5em 0 0.5em 0.5em;
}

div.body-main li {
	margin:				 1pt 0;
}

div.body-main ul ul, div.body-main ol ol, 
div.body-main ul ol, div.body-main ol ul {
	margin:				 0 0 0 0.5em;
}

/*----------------------------------------------------------
 * ● 記事: テーブル
 * --------------------------------------------------------- */
div.body-main table, article.system table {
	margin:				 8pt;
	border-collapse:		collapse;
	border-spacing:		 0;
	empty-cells:			show;
	background-color:		rgba(252,109,207,0.2);
	width:					calc(100% - 16pt);
	width:					-webkit-calc(100% - 16pt);
}	

div.body-main table td, div.body-main table th,
article.system table td, article.system table th {
	border:					3pt solid rgba(252,109,207,0.35);
	padding:				2pt 0.4em;
}


/* 見出しセル */
div.body-main table th, article.system table th {
	background-color:		rgba(252,109,207,0.4);
	color:					white;
	text-shadow:			1px -1px 2px #FF84CE,
			1px -1px 2px #FF84CE,
			-1px  1px 2px #FF84CE,
			1px  1px 2px #FF84CE;
}

table th em {
	color:					white;
}

table th a:link, article.system, table th a:visited {
	color:					#F96A92;
	text-shadow:			-1pt -1pt 2pt #fff,
			1pt -1pt 2pt #fff, -1pt  1pt 2pt #fff,
			1pt  1pt 2pt #fff;
}

table th a:visited {
	color:					#66f;
	text-shadow:			-1pt -1pt 2pt #fff,
			1pt -1pt 2pt #fff, -1pt  1pt 2pt #fff,
			1pt  1pt 2pt #fff;
}


/* クラス指定記法による配置 */
th.left, td.left, th.l, td.l {
	text-align:			 left;
}

th.center, td.center, th.c, td.c {
	text-align:			 center;
}

th.right, td.right, th.r, td.r {
	text-align:			 right;
}

div.body table.small {
	font-size:			80%;
	line-height:			1.3;
}



/*----------------------------------------------------------
 * ■ コメント タイトル部
 * --------------------------------------------------------- */
div.caption {
	vertical-align:			middle;
	margin:					0;
 	padding:				0 13pt 0 13pt;
	font-weight:			normal;
}

div.caption .ui-icon {
		/*  base.cssのオーバーライド */
	display:				inline;
}

div.caption span.com-num {
	margin-left:			0.2em;
}

/* コメント部全体 */
div.commentbody {
	border:					3pt solid rgba(255,132,206,0.7);
	background-color:		rgba(255,255,255,0.7);
	line-height:			1.5;
	padding:				10pt 18pt;
}
/* $option2=alpha-original
div.commentbody {
	background-color:		rgba(255,255,255,0.4);
}
-------------------- */


div.comment-one {
	margin:				0.8em 0;
	border-bottom:			1px solid rgba(255,132,206,0.7);
}

/* 投稿者 */
div.ip-host-agent {
	font-size:			80%;
	line-height:			1.2;
}

div.ip-host-agent br {
/* 	display:				none; */
}

div.ip-host-agent br:before {
	content:				" "
}

hr#com-form-separator {
	border:				 none;
}

#com div.ip-host-agent {
	color:			#080;
	text-align:		right;
	margin-right:		1em;
	display:		none;
}

.comment form {
	margin-top:			 1em;
}

.comment label {
	font-size:		100%;
	line-height:		1.2;
	padding-left:		0.3em;
}

form.comment {
	margin-top:			 1em;
}

form.comment textarea {
	margin:				 6px 0 0 0;
	width:				  calc(100% - 10pt);
	width:				  -webkit-calc(100% - 10pt);
	background-color:		rgba(252,109,207,0.3);
	border:					3pt solid rgba(252,109,207,0.1);
}

form.comment textarea:focus {
	border:					3pt solid rgba(252,109,207,0.3);
}

/* 投稿ボタン */
form.comment #post-comment {
	background-color:		rgba(252,109,207,0.6);
	border:					0pt solid rgba(252,109,207,0);
	color:					white;
	text-shadow:			1px -1px 2px #FF84CE,
			1px -1px 2px #FF84CE,
			-1px  1px 2px #FF84CE,
			1px  1px 2px #FF84CE;
}

/*--------------------------------------------------------------------
■ サイドバー
--------------------------------------------------------------------*/
/*■ 以下、サイドバー内の配置設定
--------------------------------------------------------------------*/
/* サイドバーの１項目 */
div.hatena-module {
	padding:				0;
	margin:					1.5em 0;
	border:					3px solid rgba(249,106,146,0.7);
}

#sidebar div.hatena-module:first-child {
	margin-top:				0;
}

div.hatena-moduletitle {
	background-color:		rgba(249,106,146,0.8);
	padding:				0 8pt 3px 8pt;
	color:					white;
	font-weight:			bold;
	text-shadow:			1px -1px 2px rgb(249,106,146),
			1px -1px 2px rgb(249,106,146),
			-1px  1px 2px rgb(249,106,146),
			1px  1px 2px rgb(249,106,146);
}

div.hatena-modulebody {
	padding:				5pt;
	background-color:		rgba(255,221,239,0.6);
	font-size:				11pt;
	line-height:			14pt;
}
/* $option2=alpha-original
div.hatena-modulebody {
	background-color:		rgba(255,191,209,0.35);
}
-------------------- */



div.hatena-modulebody ul {
	overflow:			   hidden;
}

div.hatena-module:not(.system-module) ul {
	padding-bottom:		 0.15em;
	list-style-type:		none;
	margin:					0;
}

/* コンテンツの子要素 */
div.hatena-module:not(.system-module) ul ul {
	margin-bottom:	  	0px;
	margin-left:			0.7em;
}

div.hatena-module:not(.system-module) li {
	list-style-type:		none;
	list-style-position:	outside;	/* for IE(type:none のとき必須) */
	min-height:		 	16pt;
	padding:				0;
}

/*----------------------------------------------------------
● sidebar：検索
----------------------------------------------------------*/
#side-search {
}

#side-search .search-box {
	width:				  100px;
	background-color:		rgba(255,255,255,0.5);
	border:					3pt solid rgba(252,109,207,0.4);
}


.search-btn {
	background-color:		rgba(252,109,207,0.6);
	border:					2.5pt solid rgba(252,109,207,0);
	color:					white;
	font-size:				12pt;
	text-shadow:			1px -1px 2px #FF84CE,
			1px -1px 2px #FF84CE,
			-1px  1px 2px #FF84CE,
			1px  1px 2px #FF84CE;
}

/*--------------------------------------------------------------------------------------------------
● sidebar：カレンダー
--------------------------------------------------------------------------------------------------*/
#side-calendar div.hatena-modulebody {
	padding:				0;
	margin:					0;
}

#side-calendar table {
	width:			  100%;
	font-size:		  10pt;
	line-height:		13pt;
	border-collapse:	collapse;
	border-spacing:	 0;
	border:			 none;
	text-align:		 center;
}

/* 先月 */
#side-calendar table td.calendar-prev-month {
	text-align:		 left;
	padding-left:	   0.5em;
	border:			 none;
}

/* 今月 */
#side-calendar table td.calendar-current-month {
	border:			 none;
}
/* 来月 */
#side-calendar table td.calendar-next-month {
	text-align:		 right;
	padding-right:	  0.5em;
	border:			 none;
}

#side-calendar table td {
	border:			 none;
}

#side-calendar tbody a {
	text-decoration:		underline;
}

/* 土曜日 */
#side-calendar table td.w6, #side-calendar table th.w6 {
	background-color:   	rgba(102,102,255,0.6);
	color:					white;
	text-shadow:			1px -1px 2px rgb(102,102,255),
			1px -1px 2px rgb(102,102,255),
			-1px  1px 2px rgb(102,102,255),
			1px  1px 2px rgb(102,102,255);
}

#side-calendar td.w0, #side-calendar th.w0,
#side-calendar td.holiday {
	background-color:		rgba(249,106,146,0.6);
	color:					white;
	text-shadow:			1px -1px 2px rgb(249,106,146),
			1px -1px 2px rgb(249,106,146),
			-1px  1px 2px rgb(249,106,146),
			1px  1px 2px rgb(249,106,146);
}

#side-calendar td.w0 a, #side-calendar th.w0 a,
#side-calendar td.holiday a,
#side-calendar table td.w6 a, #side-calendar table th.w6 a {
	color:					white;
}

/*--------------------------------------------------------------------
● フッター (adiary Version ?)
--------------------------------------------------------------------*/
footer#footer {
	padding-top:			10pt;
	background-color:		rgba(249,81,144,0.75);
	padding:				3pt 0 3pt 0;
	font-size:				10pt;
	line-height:			13pt;
	color:				  white;
	text-align:			 center;
}

footer div.adiary, div.adiary a {
	color:					white;
}


/* ------------------------------------------------------------
 * システム関連
 * --------------------------------------------------------- */
/* ナビゲーション */
nav.tree {
	margin:					8pt 0;
}
nav.tree, nav.tree select {
	font-size:				9pt;
	line-height:				1.2;
}
 


/* 記事部調整 */
article.system {
	margin:					8pt 0 2.5em 0;
}

article.system div.body {
	padding-top:			10pt;
}

article.system div.messages {
	margin-bottom:				1em;
}

/* フォーム要素 */
article.system table input[type="text"],
article.system table input[type="password"],
article.system table input[type="file"] {
	background-color:		rgba(255,255,255,0.3);
	border:					none;
	vertical-align:			middle;
	margin:					0;
	width:					100%;
}
article.system table select, 
article.system table input[type="number"] {
	background-color:		rgba(255,255,255,0.3);
	border:					none;
}	
article.system textarea {
	background-color:		rgba(252,109,207,0.3);
	border:					none;
	vertical-align:			middle;
	margin:					0.5em 0 0.8em 0;
	width:					calc(100% - 10pt);
	width:					-webkit-calc(100% - 10pt);
}
article.system table textarea {
	background-color:		rgba(255,255,255,0.3);
}
article.system form td, article.system table td {
	text-shadow:			none;
}

/* タグ */
article.edit span.tag {
	background-color:		rgba(252,109,207,0.4);
	padding:				0;
	border-radius:			3px;
}

/* ドロップダウンメニュー */
.ddmenu {
	background-color:		rgba(255,162,216,0.7);
	margin:				0;
	padding:			0;
	width:				calc(90% - 10pt);
	padding-right:			calc(5% + 5pt);
	padding-left:			calc(5% + 5pt);
	color:				white;
	text-shadow:			1px -1px 2px #FF84CE,
			1px -1px 2px #FF84CE,
			-1px  1px 2px #FF84CE,
			1px  1px 2px #FF84CE;
}


.ddmenu > ul li {
	background-color:		transparent;
	border:					none;
}

.ddmenu > ul li li {
	background-color:		rgba(255,132,206,0.8);
	border:					none;
}

.ddmenu>ul li.hover {
	background-color:		rgba(249,81,144,0.75);
}

.ddmenu > ul li a {
	color:					white;
}

/* $option2=alpha-original
.ddmenu {
	background-color:		rgba(255,132,206,0.5);
}
.ddmenu > ul li li {
	background-color:		rgba(255,132,206,0.7);
}
-------------------- */


/* コメントのポップアップとか */
div.popup-help, #popup-com {
	background-color:		rgba(245,218,231, 0.95);
	padding:				6px;
	font-size:				90%;
	max-width:				calc(100% - 480px);
	max-width:				-webkit-calc(100% - 480px);
}

/* ◆ 強調
------------------------------------------------------------ */
strong.warning, strong.error,
p.warning, p.error,
div.messages div.warn,
div.messages div.message {
	color:		#c30;
}

/* ◆　ヘルプ
------------------------------------------------------------ */
/* [?]文字 */
.help {
	color:					#8C1B33;
}
table th .help {
	color:				  white;
}
.btn-help:after {
	color:					red;
}

/* ◆ ツリー関連
------------------------------------------------------------- */
/* 画像管理(サイドバー) */
#sidebar ul.dynatree-container {
	border:					none;
	background-color:		rgba(255,255,255,0.5);
}
/* タグ, Wiki */
article.system ul.dynatree-container {
	border:					none;
	background-color:		rgba(252,109,207,0.3);
	margin:					0.5em 0;
	
}

ul.dynatree-container a {
	text-shadow:			none;
}

/*--------------------------------------------------------------------
●jQuery UI アイコン設定
--------------------------------------------------------------------*/
#ui-icon-autoload {
	display:		none;
	background-color:	#c00000;
}


/*----------------------------------------------------------
●プログレスバー（import等）
------------------------------------------------------------ */
.ui-progressbar {
	position:			   relative;
	background-color:	   rgba(255,255,255,0.5);
	border-radius:		  5px;
	border-width:		   0px;
	box-shadow:			 3px 3px 10px rgba(0, 0, 0, 0.3);
	min-height:			 18px;
	margin:				 0 8px 8px 0;
	padding:				0;
	max-width:			  400px;

}
.ui-progressbar .label {
	position:			   absolute;
	width:				  100%;
	text-align:			 center;
	font-weight:			bold;
	text-shadow:			1px -1px 2px #fff,
			 1px -1px 2px #fff,
			-1px  1px 2px #fff,
			 1px  1px 2px #fff;
}
.ui-progressbar,
.ui-progressbar .label,
.ui-corner-left {
}
.ui-corner-left {
	padding:				1px 0 0 1px;
	background-color:		rgba(252,109,207,0.4);
} 

/*--------------------------------------------------------------------
●jQuery UI, popup-info/dialog（テーマREADME/記事のタグヘルパー等）
--------------------------------------------------------------------*/
.ui-dialog {
	background-color:	#fff0ff;
	border:			2px solid #d9a;
	border-radius:		10px;
	box-shadow:		8px 8px 4px 4px rgba(60,60,100,0.75);
	padding:		0;

	font-size:		95%;
	line-height:		1.5;
}
.ui-dialog .ui-widget-header {
	color:			#fff;
	background-color:	#ff84ce;
	font-weight:		bold;
	font-size:		110%;
	color:			white;
	text-shadow:			1pt -1pt 2pt #FF84CE,
			1pt -1pt 2pt #FF84CE,
			-1pt  1pt 2pt #FF84CE,
			1pt  1pt 2pt #FF84CE;


	border:			none;
	border-radius:		8px 8px 0 0;
}
.ui-dialog span.ui-dialog-title {
	color:			#fff;
	height:			1em;
	margin-top:		0;
	padding-top:		0;
	padding-bottom:		2px;
}
.ui-dialog button.ui-button {
	border-radius:		4px;
}
.ui-dialog .ui-icon {
	text-indent:		0px;
}
.ui-dialog span.ui-icon-closethick {
}
.ui-dialog .ui-dialog-buttonpane {
	margin-top:		0px;
	padding-top:		0px;
}
.ui-dialog textarea,
.ui-dialog textarea.w100p {
	width:			95%;
}


